<div class="register-cart-wrap" style="padding-top: 80px;">
<shopping-cart></shopping-cart>
</div>
<div class="register-page">
  <div class="responsive-sidebar-toggle">
    <img class="img-left" src="/assets/images/icon-search.png" alt="Search Icon" /> Search By
    <img class="img-right" src="/assets/images/icon-arrow-down.png" alt="Toggle Arrow" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 register-sidebar">
        <div class="filter-location">
          <label class="sidebar-label">Keyword Search</label>
          <input type="search" ng-init="register.kwFilter = {}" ng-keydown="register.handleKWInput($event)" ng-model="register.kwFilter.word" placeholder="Enter Keyword">
        </div>
        <hr class="dark-hr" />
        <div class="filter-topic">
          <h4 class="sidebar-h4">Search By:</h4>
          <label class="sidebar-label">Seminar Topic</label>
          <div class="input-group">
            <label class="sidebar-label">
              <input type="checkbox" ng-model="register.courseTopics.categories.electrical" ng-change="register.stateChanged(register.courseTopics.categories[category])">Electrical</label>
            <label class="sidebar-label">
              <input type="checkbox" ng-model="register.courseTopics.categories.hvac" ng-change="register.stateChanged(register.courseTopics.categories[category])">HVAC</label>
            <label class="sidebar-label">
              <input type="checkbox" ng-model="register.courseTopics.categories.management" ng-change="vm.stateChanged(register.courseTopics.categories[category])">Plant Management</label>
            <label class="sidebar-label">
              <input type="checkbox" ng-model="register.courseTopics.categories.mechanical" ng-change="register.stateChanged(register.courseTopics.categories[category])">Mechanical &amp; Industrial</label>
            <label class="sidebar-label">
              <input type="checkbox" ng-init="register.courseTopics.categories.all=true" ng-model="register.courseTopics.categories.all" ng-change="register.stateChanged(register.courseTopics.categories[category])">All Seminar Topics</label>
          </div>
        </div>

        <hr class="divider" />
        <div class="filter-location">
          <label class="sidebar-label">City or ZIP</label>
          <input type="search" ng-init="register.locSearchFilter = {}" ng-keydown="register.handleLocInput($event)" ng-model="register.locSearchFilter.location" placeholder="Enter Location">
          <h5>- or -</h5>
          <div class="input-group">
            <span class="input-group-addon">
              <input ng-model="register.locSearchFilter.locationAll" ng-init="register.locSearchFilter.locationAll=true" ng-change="register.stateChanged(register.locSearchFilter.locationAll)" type="checkbox">All Locations
            </span>
          </div>
        </div>
        <hr class="divider" />
        <label>Search Within a</label>
        <rzslider rz-slider-model="register.mileRange.value" rz-slider-options="register.mileRange.options"></rzslider>
        <hr class="divider" />
        <label>Date Range</label>
        <h5>From</h5>

        <select ng-model="register.dateRange.start" ng-options="month.val as month.name for month in register.monthNames" ng-change="register.watcherOfThings()"></select>
        <h5>Through</h5>
        <select ng-model="register.dateRange.end" ng-options="month.val as month.name for month in register.monthNames" ng-change="register.watcherOfThings()"></select>
        <hr class="divider" />
        <label><span class="register-link" ng-click="register.clearFilters()">Clear Filters</span></label>
      </div>
      <div class="col-md-9" class="search-results">

        <div ui-view></div>
      </div>
    </div>
  </div>
</div>
