<div class="container-fluid form-container gradient-bg" data-cart="">

            <div class="col-md-12 form-item-wrapper" data-seminar="">
                <div class="container">
                    <!-- top section for one workshop -->
                    <ul class="top-info">
                        <li><h2>Attendees for Basic Electricity for the Non-Electrician - Both Days</h2><p></p></li>
                        <li><p>Denver, CO</p></li>
                        <li class="date"><p>April 18-19, 2016</p></li>
                    </ul>
                    <!-- end -->

                    <div class="attendee-info-form-wrap">
                            <p class="class-option">Attendee #1</p>
                            <form class="reg-form" ng-submit="">
                                <div class="form-group col-xs-12 col-sm-6 col-md-3">
                                    <input id="firstname1" name="firstname" type="text" class="form-control" ng-model="checkout.attendees.firstName1" placeholder="First Name">
                                </div>

                                <div class="form-group col-xs-12 col-sm-6 col-md-3">
                                    <input id="lastname1" name="lastname" type="text" class="form-control" ng-model="checkout.attendees.lastName1" placeholder="Last Name">
                                </div>
                                <div class="form-group col-xs-12 col-sm-6 col-md-3">
                                    <input id="title1" name="title" type="text" class="form-control" ng-model="checkout.attendees.title1" placeholder="Title">
                                </div>

                                <div class="form-group col-xs-12 col-sm-6 col-md-3">
                                    <input id="email1" name="email" type="email" class="form-control" ng-model="checkout.attendees.email1" placeholder="Email">
                                </div>

                                <input id="attendee1" name="attendee" type="hidden" value="1">
                                <input id="attendeeInc1" name="attendeeInc" type="hidden" value="1">
                            </form>
                    </div>

                </div>

            </div>

    <div class="col-md-12" style="min-height: 30px;">
        <div class="spinner checkout-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>

    </div>
    <div class="col-md-12 col-md-offset-3">
        <p class="checkout-err-msg" style="display: none;"></p>
    </div>
    <a id="reg-submit" class="btn-reg btn-blue-solid next-btn" ui-sref=".information" data-page="1">Next</a>
</div>
