.blog-post {
	.author-img {
		margin: 0 22px 0 0;
	}

	.post-author {
		margin: 30px 0 40px;
	}

	.btn-blue-solid {
		float: right;
		margin-bottom: 40px;
		@include tablet-portrait-and-up {
			margin-top: 15px;
		}
	}

	.container {
		margin: 35px auto 95px;
	}

	.text-wrap {
		margin-bottom: 0;
	}
}

#disqus_thread {
	margin-top: 80px;
	padding-top: 80px;
	border-top: 1px solid $cart-border;
	opacity: 0.5;
}