#authbar {
  height: 35px;
  position: fixed;
  z-index: 1250;
  background-color: #F2F2F2;
  text-align: right;
  width: 100%;
  display: inline-block;
  padding-bottom: 5px;
  padding-top: 8px;
  ul {
    margin-top: 0;
    margin-bottom: 0;
    li {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      a {
        color: #008fc7;
      }
    }
  }
}
.navbar-default {
  background-color: #1F1F24;
  background-color: rgba(58,58,58,0.95);
  border: none;
  margin-bottom: 0;
  position: fixed;
  top: 35px;
  width: 100%;
  z-index: 1400;
  height: 50px;

  @include tablet-landscape-and-up {
    height: 80px;
  }

  .navbar-toggle {
    border: none;
    margin-top: 10px;
    margin-right: 5px;
    padding-right: 23px;

    &:hover,
    &:focus {
      background-color: transparent;
    }

    &:hover > .icon-bar {
      background-color: $blue !important;
      @include transition(0.25s);
    }

    &.collapsed .icon-bar {
      background-color: $white;
      @include transition(0.25s);
    }

    .icon-bar {
      background-color: $blue;
      @include transition(0.25s);
    }
  }

  .navbar-nav .open .dropdown-menu > li a {
    color: $white;
    padding: 12px 15px 13px 20px;
    border-bottom: 1px solid #626262;
    background-color: #191919;

    &:hover,
    &:focus {
      color: $white;
    }
  }

  .navbar-nav .open .dropdown-menu .nav-link:last-child a {
    border-bottom: none;
  }

  .navbar-nav > .open > a {
    color: $white;
    background-color: transparent;

    &:focus {
      background-color: transparent;
      color: $white;
    }
  }

  .open > .nav-link {
    background-color: #6B6969 !important;
  }

  .navbar-nav > li {
    border-bottom: 1px solid #626262;

    @include tablet-landscape-and-up {
      border-bottom: none;
      line-height: 80px;
      height: 79px;
    }

    &:last-child {
      border-bottom: none;

      a {
        font-weight: bold;
      }
    }

    > a {
      color: $white;
      display: block;
      vertical-align: top;
      margin: 0;
      padding: 20px;
      cursor: pointer;
      text-decoration: none;

      @include tablet-landscape-and-up {
        margin: 0 0 0 7px;
        display: inline-block;
        line-height: 80px;
        padding: 0 .6em;
        max-height: 79px;
      }

      &:hover,
      &:focus {
        color: $white;
      }

      &:active {
        color: darken($white, 15%);
      }
    }

    .btn-reg {
      padding: 3px 20px;
      margin: 4px 15px 10px;
      display: inline-block;
      vertical-align: middle;

      &:hover,
      &:focus {
        background-color: $red-button-hover;
      }

      @include tablet-landscape-and-up {
        margin: 8px 10px 10px;
        line-height: 2;
      }
    }
  }

  .navbar-collapse {
    border-top: 1px solid #626262;
    width: 103%;

    @include tablet-landscape-and-up {
      width: 100%;
    }
  }
}

.navbar-brand {
  @include tablet-portrait-and-up {
    padding: 14.5px 3px 14.5px 10px;
  }

  img {
    margin-top: -7px;

    @include tablet-landscape-and-up {
      margin-top: 3px;
    }
  }
}

.contain {
  background-color: rgba(58, 58, 58, 0.95);
  padding-right: 0;

  @include tablet-landscape-and-up {
    margin: 0 auto;
    background-color: transparent;
    max-width: 1200px;
    height: 80px;
    padding-right: 15px;
  }
}

.caret {
  margin-left: 6px;
}

.navbar {
  border-radius: 0;
}

.navbar-nav {
  margin: 10px -15px 0;

  @include tablet-landscape-and-up {
    float: right;
    margin: 0 -20px 0 0;
    height: 80px;
  }
}

.navbar-header {
  height: 50px;

  @include tablet-landscape-and-up {
    height: 80px;
  }
}

.dropdown-menu {
  padding: 0;

  @include tablet-landscape-and-up {
    left: 6px;
    top: 78px;
    width: 325px;
  }

  > li > a {
    line-height: 27px;
  }
}

.logo {
  text-indent: -9999px;
  margin: 0;
}

.navbar-lower {
  position: fixed;
  height: 50px;
  background-color: #5c5c5c;
  width: 100%;
  z-index: 1250;
  margin-top: 114px;

  @media screen and (max-width: 1025px) {
    display: none;
  }

  @media screen and (min-width: 991px) {
    li {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  @media screen and (min-width: 1200px) {
    li {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  a {
    color: #fff;
  }

  .navbar-nav {
    float: right;
    margin: 0 -20px 0 0;
    height: 50px;
    line-height: 50px;
  }
}
