.success {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	@include med-desktop-and-up {
		margin-bottom: 80px;
		padding-top: 30px;
	}

	.jumbotron {
		h1 {
			color: $headline-black;
		}
	}

	.btn-blue-hollow {
		padding: 11px 30px;
		width: 200px;
		float: none;
	}

	.button-wrapper .btn-first {
		padding: 13px 20px;
	}
}

.receipt-links {
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 18px;

	div {
		margin: 12px 0;
	}
}

.second-btn {
	color: $blue;
}