{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": false
  },
  "plugins": [
  ],
    "globals": {
    "angular": true,
    "module": true,
    "inject": true
  },

  "rules": {
    "strict": 0,
    "quotes": [2, "single"]
  }
}
