@using TPCTrainco.Umbraco.Extensions.Helpers
@inherits UmbracoTemplatePage
@{
    
}

<!-- THE CART -->
<div id="cart" class="read-only-cart"></div>

<script type="text/template" id="cartItemTemplate">
    <li class="cart-item">
        <ul class="container">
            <li class="class-title col-xs-12 col-sm-12 col-md-4"><h4><%= title %></h4></li>
            <li class="location col-xs-12 col-sm-4 col-md-2"><%= city %></li>
            <li class="date col-xs-12 col-sm-4 col-md-2"><%= date %></li>
            <li class="qty-wrap col-xs-12 col-sm-4 col-md-1"><span>Attendees:</span><%= quantity %></li>
            <li class="sub-total col-xs-12 col-sm-4 col-md-1"></li>
        </ul>
    </li>
</script>

<script type="text/template" id="cartNotifyTemplate">
    <div class="container-fluid cart">
        <div class="row cart-top">
            <div class="container">
                <div class="col-xs-12">
                    <h3><img src="/images/icon-cart.png" alt="Cart" />Cart</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <ul id="cart-item-list"></ul>
        </div>

        <div class="cart-bottom row">
            <div class="container">
                <div class="col-xs-12 wrap">
                    <ul class="cart-total col-xs-12 col-md-4">
                        <li class="items-total">0 Items</li>
                        <li class="cost-total">Total: $<span class="total-cost">0</span></li>
                    </ul>
                    <div class="col-xs-6 col-xs-offset-6 btn-wrapper">
                        <a href="/search-seminars" class="btn-reg btn-blue-solid">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-visible">
        <a class="cart-tab" href="javascript:void(0);">
            <img src="/images/icon-cart-tab.png" />
        </a>
        <div class="container">
            <ul class="cart-total col-xs-12 col-md-4">
                <li class="items-total">0 Items</li>
                <li class="cost-total">Total: $<span class="total-cost">0</span></li>
            </ul>
        </div>
    </div>
</script>
