/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';
/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
.odd {
  background-color: #000!important;
}

.even {
  background-color: #F00;
}
.table > tbody > tr > td {
  border: 0;
}
.browsehappy {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}
.slide-toggle {
  overflow: hidden;
  transition: all 2.5s;
}
.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.register-link {
  color: #0791cf;

  a {
    color: #0791cf;
  }
}

tbody:nth-child(odd) {
  background-color: #fff;
}

custom checkbox input[type=checkbox] {
  display: visible;
}
@import './assets/sass/main';

.navbar-lower {
  position: fixed;
  top: 80px;
  height: 50px;
  background-color: #5c5c5c;
  width: 100%;
  z-index: 1500;

  li {
    padding-left: 15px;
    padding-right: 15px;
  }

  a {
    color: #fff;
  }

  .navbar-nav {
    float: right;
    margin: 0 -20px 0 0;
    height: 50px;
    line-height: 50px;
  }
}
