.quickCheckout-container {
  display: block;
  padding: 20px;
}

.quickCheckout-label {
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #D7D7D7;
    position: absolute;
    left: 14px;
    bottom: 25px;
    margin-top: -10px;
  }
}
