<div class="container-fluid intro-section">
  <div class="jumbotron">
    <h1>American Trainco is now TPC Trainco</h1>
    <p>The leader in instructor-led maintenance training is now part of TPC's
      <span style="text-decoration: underline;"><a href=
      "/blog/american-trainco-announces-rebranding-as-part-of-tpc-training-systems/">
      total training solution.</a></span></p>
    <h3><br>
      <span style="text-decoration: underline;"><a href=
      "/public-seminars/course-catalog/">Browse our catalog of 4,181 upcoming
      seminars.</a></span></h3>
  </div>
  <div class="row">
    <form role="form" ng-submit="vm.postCourseSearch()">
      <div class="col-md-11 topic-circles">{{vm.formData}}
        <h3>Select one or more topics and choose your location</h3>
        <ul>
          <li class="seminar-topic" id="selectAllWrap">

              <input id="selectAllCheck" type="checkbox" name="selectAllCheck" ng-model="vm.course.classTopics.all">
              <label class="checkbox-inline" for="selectAllCheck"></label>

              <p>All Seminar Topics</p>

          </li>
          <li class="seminar-topic" id="electricalWrap">

              <input id="electricalCheck" type="checkbox" name="electricalCheck" ng-model="vm.course.classTopics.electrical">
              <label class="checkbox-inline" for="electricalCheck"></label>

              <p>Electrical</p>

          </li>
          <li class="seminar-topic" id="hvacWrap">

              <input id="hvacCheck" type="checkbox" name="hvacCheck" ng-model="vm.course.classTopics.hvac">
              <label class="checkbox-inline" for="hvacCheck"></label>

              <p>HVAC</p>

          </li>
          <li class="seminar-topic" id="plantWrap">

              <input id="plantCheck" type="checkbox" name="plantCheck" ng-model="vm.course.classTopics.plant">
              <label class="checkbox-inline" for="plantCheck"></label>

              <p>Plant Management</p>

          </li>
          <li class="seminar-topic" id="mechanicalWrap">

              <input id="mechanicalCheck" type="checkbox" name="mechanicalCheck" ng-model="vm.course.classTopics.mechanical">
              <label class="checkbox-inline" for="mechanicalCheck"></label>

              <p>Mechanical and Industrial</p>

          </li>
        </ul>

        <select2 ng-model="vm.courseSearch.location" s2-options="city.value as city.label for city in vm.cities" data-placeholder="Choose a City, Enter a Zip Code, or Select 'All Locations' "></select2>
        <rzslider rz-slider-model="vm.sliderValues.minValue" rz-slider-high="vm.sliderValues.maxValue" rz-slider-options="vm.sliderValues.options"></rzslider>
        <a class="btn-reg btn-white" type="submit" ng-click="vm.doParamSearch(vm.course.classTopics)" id="search-btn" role="button">Search</a>
        <!-- end new -->
      </div>
    </form>
  </div>
  <!-- </div> -->
</div>
