.featured-post {
    margin: 40px auto 100px;

    .feature-snippet {
        color: $headline-black;

        font-size: 18px;
        margin: 25px 0 35px;
        text-align: left;
        max-width: 800px;
        position: relative;
        @include tablet-portrait-and-up {
            margin: 25px auto 35px;
        }

        &:after {
            position: absolute;
            bottom: -130px;
            content: ' ';
            width: 94%;
            left: 3%;
            height: 1px;
            background-color: rgba(138, 138, 138, 0.21);
        }
    }

    .btn-reg {
        display: inline-block;
        float: none;
    }

    .container {
        margin: 0 auto 40px;
    }

    .post-title {
        display: block;
    }
}

.post-author {
    display: table;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    @include tablet-portrait-and-up {
        width: 92%;
    }

    .author-img {
        margin: 0 0 0 22px;
    }
}

.jumbotron {
    .publish-info {
        margin-top: 10px
    }
}

.publish-info {
    float: left;
    margin: 10px 5px 0 0;
    span {
        font-style: italic;
        margin-left: 6px;
    }
}

.author-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: left;
}

.post-title {
    a {
        color: $headline-black;
        @include transition(0.25s);

        &:hover {
            color: $blue;
        }
        &:active {
            color: lighten($blue, 50%);
        }
    }
}

.blog-listings {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;

    .author-img {
        width: 35px;
        height: 35px;
    }

    .post-title {
        margin-bottom: 9px;
        margin-top: 19px;
        @include tablet-portrait-and-up {
            width: 62%;
            float: left;
        }
    }

    .post-author {
        @include tablet-portrait-and-up {
            float: right;
            width: 34%;
            margin-top: 19px;
            min-width: 230px;
        }
    }
}

.blog-listing {
    margin-bottom: 60px;
    max-width: 800px;
    @include tablet-portrait-and-up {
        margin: 0 auto 60px;
    }
}

.post-snippet {
    letter-spacing: 0.5px;
    line-height: 1.7;
    margin-bottom: 30px;
    display: inline-block;
    @include tablet-portrait-and-up {
        width: 100%;
        padding-right: 28%;
    }
}
