.cart {
	padding: 0;

	.container {
		margin: 0 auto;
	}

	h3 {
		font-weight: 400;
		color: #000000;

		@include med-desktop-and-up {
			float: left;
		}
	}
}

.cart-items {
	list-style: none;
	padding-left: 0;
	margin: 0;
	color: $cart-copy;
}

.cart-item {
	// width: 100%;

	&:nth-child(odd) { 
		background-color: $gray-background;
	}

	.col-md-1, .col-md-2, .col-md-4 {
		@include med-desktop-and-up {
			float: none;			
		}
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			margin: 15px 0;
			display: table-cell;
			vertical-align: middle;
		}

		h4 {
			font-weight: 400;
			font-size: 16px;
		}
	}

	.location, .date, .remove, .qty-wrap, .sub-total {
		// @include tablet-portrait-and-up {
		// 	// width: 49%;
		// 	// text-align: center;
		// 	border: 1px solid blue;
		// }

		@include med-desktop-and-up {
			text-align: center;
		}
	}

	.qty-wrap, .sub-total {
		span {
			@include med-desktop-and-up {
				display: none;
			}
		}
	}

	.qty-wrap {
		span {
			margin-right: 10px;
		}
	}

	&:first-of-type {
		.qty-wrap, .sub-total {
			position: relative;

			&:after {
				display: none;
				@include med-desktop-and-up {
					position: absolute;
					left: 50%;
					top: -44px;
					content: 'Attendees:';
					display: block;
					@include transform(translateX(-50%));
				}
			}
		}

		.sub-total:after {
			content: 'Subtotal';
		}
	}
}

.cart-bottom {
	background-color: #f1f1f1;
	width: 100%;
	position: relative;
	border-bottom: 1px solid #D7D7D7;

	.btn-reg {
		// why a new button font weight?
		float: right;
		margin-right: 15px;
		@include med-desktop-and-up {
			margin-right: 0;
		}
	}

	.wrap {
		position: relative;
		margin-bottom: 20px;
	}

	.btn-wrapper {
		top: 50%;
		position: absolute;
		margin-top: -13px;
		@include med-desktop-and-up {
			position: static;
			padding-right: 0;
			// border: 1px solid yellow;
		}
	}
}

.cart-tab {
	position: absolute;
	bottom: -20px;
	width: 96px;
	height: 20px;
	left: 50%;
	margin-left: -48px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	background-color: #f1f1f1;
	z-index: 2;
	border-bottom: 1px solid #D7D7D7;
	border-left: 1px solid #D7D7D7;
	border-right: 1px solid #D7D7D7;

	img {
		position: relative;
		top: -10px;
		left: 50%;
		margin-left: -16px;
	}
}

.cart-top {
	background-color: #f1f1f1;
	text-align: center;
	h2 {
		margin: 10px 0;
	}

	img {
		margin: 0 10px 8px 0;
	}
}

.cart-total {
	list-style: none;
	padding: 0;
	text-align: left;
	@include med-desktop-and-up {
		// border: 1px solid blue;
		float: right;
		text-align: right;
		margin: 25px 0 35px;
	}

	li {
		@include med-desktop-and-up {
			display: inline;
			float: none;
		}
	}

	.items {
		font-style: italic;
		@include med-desktop-and-up {
			margin-right: 15px;
		}
	}
}

.total {
	font-weight: 500;
	font-size: 20px;
	color: $headline-black;
	margin-left: 5px;
}

.remove a {
	// why are we introducing a new red here?
	color: $red-button;
	@include transition(0.25s);

	&:hover {
		color: $red-button-hover;
		@include transition(0.25s);
	}

	span {
		margin-right: 5px;
		font-size: 14px;
	}
}

.class-qty {
	width: 30px;
	text-align: center;
	border: 1px solid #D6D6D6;
	border-radius: 2px;
	background-color: #FCFCFC;
}