.cart {
	padding: 0;
	z-index: 0;
	display: none;

	.row {
		margin: 0;
	}

	h3 {
		@include med-desktop-and-up {
			float: left;
		}
	}
}

.cart-items {
	padding-left: 0;
	margin: 0;
	color: $cart-copy;
}

.cart-item {
	width: 100%;
	display: table;

	&:nth-child(odd) { 
		background-color: $gray-background;
	}

	.col-md-1, .col-md-2, .col-md-4 {
		@include med-desktop-and-up {
			float: none;			
		}
	}

	ul {
		margin: 0 auto;
		padding: 0;

		li {
			margin: 15px 0;
			display: table-cell;
			vertical-align: middle;
		}

		h4 {
			font-size: 16px;
		}
	}

	.location, .date, .remove, .qty-wrap, .sub-total {
		@include med-desktop-and-up {
			text-align: center;
		}
	}

	.qty-wrap, .sub-total {
		span {
			@include med-desktop-and-up {
				display: none;
			}
		}
	}

	.qty-wrap {
		span {
			margin-right: 10px;
		}
	}

	&:first-of-type {
		.qty-wrap, .sub-total {
			position: relative;

			&:after {
				display: none;
				@include med-desktop-and-up {
					position: absolute;
					left: 50%;
					top: -44px;
					content: 'Attendees:';
					display: block;
					@include transform(translateX(-50%));
				}
			}
		}

		.sub-total:after {
			content: 'Subtotal';
		}
	}
}

.cart-bottom {
	width: 100%;
	position: relative;
	background-color: #f1f1f1;

	.btn-reg {
		// why a new button font weight?
		float: right;
		margin-right: 15px;
		@include med-desktop-and-up {
			margin-right: 0;
		}
	}

	.wrap {
		position: relative;
		// margin-bottom: 20px;
	}

	.btn-wrapper {
		top: 50%;
		position: absolute;
		margin-top: -13px;
		@include med-desktop-and-up {
			position: static;
			padding-right: 0;
		}
	}
}

.cart-visible {
	height: 30px;
	position: relative;
	border-bottom: 1px solid $cart-border;
	background-color: #f1f1f1;

	.container {
		margin: 0 auto;
	}

	.cart-total {
		margin: 0;
		display: block;

		.total {
			float: right;
		}

		.items {
			line-height: 1.8;
		}

		li {
			display: inline;
		}
	}

	&.down .cart-total {
		display: none;
	} 
}

.cart-tab {
	position: absolute;
	bottom: -20px;
	width: 96px;
	height: 20px;
	left: 50%;
	margin-left: -48px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	background-color: #f1f1f1;
	z-index: 2;
	border-bottom: 1px solid $cart-border;
	border-left: 1px solid $cart-border;
	border-right: 1px solid $cart-border;

	img {
		position: relative;
		top: -10px;
		left: 50%;
		margin-left: -16px;
	}
}

.cart-top {
	background-color: #f1f1f1;
	text-align: center;
	h2 {
		margin: 10px 0;
	}

	img {
		margin: 0 10px 8px 0;
	}
}

.cart-total {
	padding: 0;
	text-align: left;
	@include med-desktop-and-up {
		// border: 1px solid blue;
		float: right;
		text-align: right;
		margin: 25px 0 35px;
	}

	li {
		@include med-desktop-and-up {
			display: inline;
			float: none;
		}
	}

	.items {
		font-style: italic;
		@include med-desktop-and-up {
			margin-right: 15px;
		}
	}
}

.total {
	font-weight: 500;
	font-size: 20px;
	margin-left: 5px;
}

.remove a {
	// why are we introducing a new red here?
	color: $red-button;
	@include transition(0.25s);

	&:hover {
		color: $red-button-hover;
		@include transition(0.25s);
	}

	span {
		margin-right: 5px;
		font-size: 14px;
	}
}

.class-qty {
	width: 30px;
	text-align: center;
	border: 1px solid $cart-border;
	border-radius: 2px;
	background-color: #FCFCFC;
}


// the search results + cart items
.results-container {
	background-color: $gray-background;
	padding-top: 35px;
}
.results {
	padding: 0;
}

.result-description {
	margin: 0 auto;
	max-width: 1000px;
}

.result {
	background-color: $white;
	border: 1px solid $cart-border;
	border-radius: 10px;
	color: $cart-copy;
	margin-bottom: 30px;
	display: inline-block;
	width: 100%;

	img {
		border-radius: 50%;
		margin: 25px auto 0;
		display: block;
	}

	.text-desc {
		padding-bottom: 30px;
		background-color: $white;
	}

	.btn-blue-hollow {
		padding: 6px 30px;
		float: left;
	}

	.cart-item {
		padding: 10px 0;
		@include med-desktop-and-up {
			padding: 30px 0;
		}

		&:last-child {
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
		}

		&:first-of-type {
			.qty-wrap, .sub-total {
				&:after {
					display: none;
				}
			}
		}

		ul {
			max-width: 1000px;
		}

		.attendees {
			@include med-desktop-and-up {
				text-align: center;
			}
		}
		.sub-total {
			@include med-desktop-and-up {
				text-align: right;
			}
		}
	}

	.cart-items {
		float: left;
		width: 100%;

	}
}

.attendees-label {
	margin-right: 10px;
}