.cart {
	// padding: 0;
	z-index: 0;
	display: none;
	// display: block;

	// .row {
	// 	margin: 0;
	// }

	h3 {
		@include med-desktop-and-up {
			float: left;
		}
	}
}

#cart {
	// remove when done
	// position: absolute;
 //    top: 0;
 //    right: 300px;
 //    width: 60%;
 //    border: 3px solid green;
 //    background-color: aliceblue;
 //    height: 100px;
    // end remove
}

#cart-item-list {
	padding: 0;
	margin: 0;
}

.cart-items {
	padding-left: 0;
	margin: 0;
	color: $cart-copy;
}

.cart-item {
	width: 100%;
	display: table;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: $white;

	&:nth-child(odd) { 
		background-color: $gray-background;
	}

	.col-md-1, .col-md-2, .col-md-4 {
		@include med-desktop-and-up {
			float: none;			
		}
	}

	ul {
		margin: 0 auto;
		padding: 0;

		li {
			margin: 15px 0;
			display: table-cell;
			vertical-align: middle;
		}

		h4 {
			font-size: 16px;
		}
	}

	.container {
		margin-right: auto;
	    margin-left: auto;
	    padding-left: 15px;
	    padding-right: 15px;
		display: table;
	}

	.location, .date, .remove, .qty-wrap, .sub-total {
		@include med-desktop-and-up {
			text-align: center;
		}
	}

	.qty-wrap, .sub-total {
		span {
			@include med-desktop-and-up {
				display: none;
			}
		}
	}

	.qty-wrap {
		span {
			margin-right: 10px;
		}
	}

	&:first-of-type {
		.qty-wrap, .sub-total {
			position: relative;

			&:after {
				display: none;
				@include med-desktop-and-up {
					position: absolute;
					left: 50%;
					top: -62px;
					content: 'Attendees:';
					display: block;
					@include transform(translateX(-50%));
				}
			}
		}

		.sub-total:after {
			content: 'Subtotal';
		}
	}
}

.cart-bottom {
	position: relative;
	background-color: #f2f2f2;

	.btn-reg {
		// why a new button font weight?
		float: right;
		margin-right: 15px;
		@include med-desktop-and-up {
			margin-right: 0;
		}
	}

	.wrap {
		position: relative;
		// margin-bottom: 20px;
	}

	.btn-wrapper {
		top: 50%;
		position: absolute;
		margin-top: -13px;
		@include med-desktop-and-up {
			position: static;
			padding-right: 0;
		}
	}
}

.cart-visible {
	height: 30px;
	position: relative;
	border-bottom: 1px solid $cart-border;
	background-color: #f2f2f2;

	.container {
		margin: 0 auto;
	}

	.cart-total {
		margin: 0;
		display: block;

		.total {
			float: right;
		}

		li {
			display: inline;
		}
	}

	&.down .cart-total {
		display: none;
	} 
}

.cost-total {
	font-size: 20px;
	font-weight: 500;
	color: $headline-black;
}

.items-total {
	line-height: 1.8;
	margin-right: 25px;
	font-style: italic;
}

.cart-tab {
	position: absolute;
	bottom: -20px;
	width: 96px;
	height: 20px;
	left: 50%;
	margin-left: -48px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	background-color: #f2f2f2;
	z-index: 2;
	border-bottom: 1px solid $cart-border;
	border-left: 1px solid $cart-border;
	border-right: 1px solid $cart-border;

	img {
		position: relative;
		top: -10px;
		left: 50%;
		margin-left: -16px;
	}
}

.cart-top {
	background-color: #f2f2f2;
	text-align: center;
	h2 {
		margin: 10px 0;
	}

	img {
		margin: 0 10px 8px 0;
	}
}

.cart-total {
	padding: 0;
	text-align: left;
	@include med-desktop-and-up {
		// border: 1px solid blue;
		float: right;
		text-align: right;
		margin: 25px 0 35px;
	}

	li {
		@include med-desktop-and-up {
			display: inline;
			float: none;
		}
	}

	.items {
		font-style: italic;
		@include med-desktop-and-up {
			margin-right: 15px;
		}
	}
}

.total {
	font-weight: 500;
	font-size: 20px;
	margin-left: 5px;
}

.remove {
	color: $red-button;
	@include transition(0.25s);

	&:hover {
		color: $red-button-hover;
		@include transition(0.25s);
	}

	span {
		margin-right: 8px;
		font-size: 14px;
	}
}

.class-qty {
	width: 30px;
	text-align: center;
	border: 1px solid $cart-border;
	border-radius: 2px;
	background-color: #FCFCFC;
}


// the search results + cart items
.empty-message {
	display: block;
	text-align: center;
	margin: 30px 0 60px;
}
.results-container {
	background-color: $gray-background;
	padding-top: 45px;
	position: relative;
	min-height: 170px;
}
.results {
	padding: 0;
	// margin-top: 100px;
}

.result-description {
	margin: 0 auto;
	max-width: 1000px;
	position: relative;

	img {
		display: block;
		margin: 10px auto 5px;
		border-radius: 50%;
	}
}

.location {
	p {
		font-style: italic;
		font-size: 17px;
		font-weight: 400;
		position: relative;
		display: inline-block;
		width: 85%;
		max-width: 320px;
	}
}

.tooltip-msg {
	opacity: 0;
	border-radius: 4px;
	border: 2px solid $blue;
	position: absolute;
	background: $white;
	width: 60%;
	right: 0;
	bottom: 50%;
	max-width: 185px;
	text-align: center;
	@include transition(0.25s);
	@include transform (translateY(50%));

	&.showing {
		opacity: 1;
	}

	&:after, &:before {
		right: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after {
		border-color: rgba(255, 255, 255, 0);
		border-right-color: $white;
		border-width: 10px;
		margin-top: -10px;
	}
	&:before {
		border-color: rgba(245, 0, 0, 0);
		border-right-color: $blue;
		border-width: 13px;
		margin-top: -13px;
	}
}

.attendee-msg {
	left: -5%;
	padding: 7px 5px;

	&:after, &:before {
		left: 100%;
	}

	&:before {
		border-left-color: $blue;
		border-right-color: transparent;
	}

	&:after {
		border-left-color: $white;
		border-right-color: transparent;
	}
}

.location-icon {
	margin: 0 0 3px 10px;
	cursor: pointer;
}

.text-desc {
	background-color: $white;
	position: relative;

	&:after {
		position: absolute;
		content: '';
		width: 100%;
	}
}

.btn-blue-hollow {
	padding: 6px 30px;
	float: left;
}

.red {
	color: $red-button;
	@include transition(0.25s);
	&:hover, &:focus {
		color: $red-button;
	}
}

.turn {
	@include transform(rotate(45deg));
	// @include transition(0.25s);
}

.schedule {
	display: table;
	width: 100%;
	padding: 12px 0;
	&:nth-child(odd) { 
		background-color: $gray-background;
	}

	&:last-child {
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	li {
		margin-top: 15px;
		margin-bottom: 15px;
		// display: table-cell;
		// vertical-align: middle;
		@include med-desktop-and-up {
			text-align: center;
		}
	}

	.btn-reg {
		float: none;
		text-align: right;
	}
}

.attendees {
	@include tablet-portrait-and-up {
		text-align: center;
	}
	@include med-desktop-and-up {
		text-align: left;
	}
}

.view-opts {
	position: relative;
	padding-left: 16px;
}

.plus {
    font-size: 20px;
    position: absolute;
    left: 0;
    top: -6px;
}

.seminar-item {
	background-color: $white;
	border: 1px solid $cart-border;
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 25px;
	margin-bottom: 30px;
	position: relative;

	ul {
		padding-left: 0;
	}
}

.attendees-label {
	margin-right: 10px;
}

.spinner {
  position: absolute;
  left: 50%;
  margin-left: -35px;
  width: 70px;
  display: none;
}

.location-loader {
	bottom: 0;
	display: none;
}

.class-loader {
	top: 33px;
}

.detail-page-app {
	.class-loader {
		top: 5px;
	}
}

.empty-location-msg {
	text-align: center;
	color: red;
	font-size: 20px;
	margin: 20px 0 0;
	display: none;
}

// loading spinner
.spinner > div {
	width: 18px;
	height: 18px;
	background-color: $blue;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}