.headline-section {
	background: url('/images/content-pg-header-small.jpg') center top / cover no-repeat;
	@include tablet-landscape-and-up {
		background: url('/images/content-pg-header-large.jpg') center top / cover no-repeat;
	}

	.jumbotron {
		margin: 50px auto 10px;
		@include med-desktop-and-up {
			margin: 125px auto 56px;
		}
	}

	a.btn-reg {
		margin-bottom: 30px;
	}
}

.campaign, .seminar-detail, .onsite {
	.jumbotron {
		@include med-desktop-and-up {
			margin: 95px auto 15px;
		}
	}
}

.blog-main {
	.jumbotron {
		margin: 50px auto 30px;
		@include med-desktop-and-up {
			margin: 90px auto 56px;
		}
	}
}

.text-wrap {
	line-height: 1.7;
	letter-spacing: 0.4px;
	margin-top: 50px;
	margin-bottom: 50px;

	.share-btn-wrap {
		margin-bottom: 40px;
	}

	.row {
		margin-top: 30px;
		margin-bottom: 48px;
	}

	h2 {
		@include font-headline(28px, $headline-black-on-white);
	}
}

.number-callout {
	text-align: center;
	margin: 0 auto 30px;
	float: none;
	@include tablet-portrait-and-up {
		float: left;
		margin: 0 auto;
	}

	h3 {
		font-size: 5em;
		margin: 0;
		padding: 0;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			bottom: 10px;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: $blue;
			@include tablet-portrait-and-up {
				left: 5%;
				width: 90%;
			} 
		}
	}

	p {
		margin-top: 2px;
	}
}

