.search-page {
	h4 {
		text-align: center;
		color: $white;
		font-weight: 100;
		font-size: 18px;
	}
}

#date-range-slider {
	margin: 30px 0 40px;
}

.month-label {
	text-align: center;
	text-transform: uppercase;
	color: $white;
}

.ui-ruler-scale {
	line-height: 40px;
}

.ui-rangeSlider {
	height: 40px;

	.ui-rangeSlider-innerBar {
		height: 40px;
		margin: 0 6px;
		background: rgba(255, 255, 255, 0.2);
		border-radius: 25px;
	}

	.ui-rangeSlider-bar {
		height: 40px;
		border-radius: 25px;
		background-color: rgba(228, 79, 77, 0.50);
	}

	.ui-rangeSlider-handle {
		width: 40px;
		height: 40px;
		border-radius: 25px;
		background-color: $red-button;
	}

	.ui-rangeSlider-rightHandle, .ui-rangeSlider-leftHandle {
		text-align: center;
		color: $white;
		padding-top: 10px;
	}
}

.ui-rangeSlider-arrow {
	display: none;
}