.seminar-detail {

	.btn-white {
		padding: 8px 20px;
	}

	.jumbotron {
		margin: 100px auto 30px;
	}
}

.button-wrapper {
	width: 60%;
	margin: 0 auto;
	max-width: 200px;
	a {
		display: block;
		text-align: center;
	}

	.btn-first {
		margin-bottom: 30px;
	}

}

.share-btn-wrap {
	text-align: right;
}