footer {
	color: $white;
	background-color: $black-background;	
	display: inline-block;
	width: 100%;
	height: auto;

	@include tablet-portrait-and-up {
		height: 230px;
		position: absolute;
		bottom: 0;
	}

	@include tablet-landscape-and-up {
		height: 80px;
	}

	.wrapper {
		width: 96%;
		margin: 0 auto;
		padding: 30px 0;
		position: relative;
		max-width: 1200px;
	}
	ul {
		margin: 0;
		padding: 0;

		li {
			list-style-type: none;
			a {
				color: $white;
				cursor: pointer;

				&:hover, &:focus {
					color: $white;
					text-decoration: none;
				}
			}
		}
	}

	.copyright {
		text-align: center;
		margin-bottom: 20px;
		@include tablet-landscape-and-up {
			float: left;
			margin-bottom: 0;
		}
	}

	.links {
		text-align: center;
		font-size: 14px;
		@include tablet-portrait-and-up {
			display: table;
			margin: 0 auto;
		}
		@include tablet-landscape-and-up {
			display: block;
			width: 81%;
		}
		li {
			margin: 18px 0;
			@include tablet-portrait-and-up {
				float: left;
			}
			@include tablet-landscape-and-up {
				margin: 0;
				display: inline-block;
				float: none;
			}
		}

		span {
			display: none;
			@include tablet-portrait-and-up {
				display: inline;
				margin: 0 9px;
			}
		}
	}

	.footer-text-links {
		@include tablet-landscape-and-up {
			width: 96%;
		}
	}

	.social {
		text-align: center;
		margin: 35px 0 10px;
		width: 100%;
		@include tablet-portrait-and-up {
			margin: 20px 0 10px;
		}
		@include tablet-landscape-and-up {
			margin: 0;
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -12px !important;
			width: auto;
		}
		li {
			display: inline-block;
			@include tablet-portrait-and-up {
				float: none;
			}
		}

		a {
			display: block;
		}

		.regular-link {

			&:hover:before {
				right: 0;
			}
		}

		svg {
			fill: $white;
			width: 24px;
			height: 24px;
			margin-left: 6px;
		}
	}
}