.course-cost {
	margin-bottom: 25px;
	@include font-italic(18px, $headline-black);
}

.container {
	margin: 0 auto 60px;
	@include tablet-landscape-and-up {
		margin: 45px auto 60px;
	}
}

.topic-circles {
	background-color: rgba(0,0,0,0.75);
	opacity: 0.75;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0 auto;
	float: none;

	h3 {
		font-weight: 300;
		font-size: 20px;
		letter-spacing: 0.5px;
		color: $white;
		text-align: center;
		@include tablet-landscape-and-up {
			font-weight: 100;
		}
	}

	ul {
		padding: 0;
		text-align: center;
	}

	.btn-white {
		margin: 0 auto;
		display: block;
		text-align: center;
		width: 150px;
	}
}

.seminar-topic {
	margin: 5px;
	list-style-type: none;
	display: inline-block;
	@include tablet-portrait-and-up {
		margin: 30px;
	}

	p {
		color: $white;
	}
}

// the hover + active overlays on the circles
.overlay-contain {
	border: 5px solid $white;
	display: inline-block;
	background-color: $white;
	border-radius: 50%;
	position: relative;
	@include transition(all 0.25s ease-in-out);

	&:hover > .overlay, &.chosen > .overlay {
		background-color: $blue; // ie8 fallback
		opacity: 1;
		background-color: rgba(0, 144, 197, 0.8);
		@include transition(all 0.3s ease-in-out);
		@include transform(scale(1.01, 1.01));
	}

	// on click, chosen class is added, different color than the hover state
	&.chosen > .overlay {
		background-color: $red-button-hover; //ie8 fallback
		background-color: rgba(240, 75, 73, 0.8);
	}

	img {
		width: 120px;
		border-radius: 50%;
	}

	.overlay {
		width: 100%;
		max-width: 120px;
		max-height: 120px;
		background-color: rgba(0, 144, 197, 0);
		opacity: 0;
		height: 100%;
		position: absolute;
		border-radius: 50%;
		z-index: 1;
		@include transform(scale(0, 0));
		@include transition(all 0.3s ease-in-out);

		&:after {
			content: url('/assets/images/svg/checkmark.svg');
			position: relative;
			top: 50%;
			left: 50%;
			margin-top: -13px;
			margin-left: -95%;
			display: block;
		}
	}
}

.home-highlight-circle {
	border-radius: 50%;
	margin: 40px auto 0;
	max-width: 300px;
	@include tablet-portrait-and-up {
		max-width: 100%;
	}

	@include medium-sizes {
		margin-top: 10px;
	}

	@include tablet-landscape-and-up {
		float: left;
	}
}

// offwhite sections have the slightly gray background color
.offwhite-section {
	.home-highlight-circle {
		@include tablet-landscape-and-up {
			float: right;
		}
	}
}

// blurred image section
.intro-section {
	background: url('/assets/images/bg-small.jpg') center top / cover no-repeat;
	padding-top: 60px;
	@include tablet-portrait-and-up {
		background-image: url('/assets/images/bg-large.jpg');
	}
}

// overriding bootstrap's carousel styles. override here, do not modify.
.carousel {
	background: url('/assets/images/carousel-bg.jpg') center top / cover no-repeat;
	width: 100%;
	height: 385px;

	.item {
		height: 385px;
	}

	.carousel-caption {
		max-width: 700px;
		margin: 0 auto;
		bottom: 27px;
		text-shadow: none;
		@include tablet-landscape-and-up {
			bottom: 56px;
		}

		.quote {
			position: relative;
			font-size: 17px;
			@include tablet-landscape-and-up {
				font-size: 22px;
			}

			&:before {
				content: '';
				position: absolute;
				left: 0;
				bottom: -35px;
				background: url("/assets/images/line.png") center bottom / cover no-repeat;
				height: 16px;
				width: 100%;
			}
		}

		.citation {
			font-size: 19px;
			font-style: italic;
			margin-top: 50px;

			span {
				font-weight: 400;
			}
		}
	}

	.carousel-indicators {
		z-index: 2;
	}

	.arrow {
		width: 70px;
		height: 70px;
		position: absolute;
		top: 50%;
		margin-top: -35px;
		@include rotate(-45deg);
	}

	.left, .right {

		img {
			position: absolute;
			top: 50%;
			margin-top: -40px;
		}
	}

	.left img {
		margin-left: -15px;
	}

	.right img {
		margin-left: -15px;
	}
}

.jumbotron {
	text-align: center;
	max-width: 90%;
	margin: 40px auto;
	letter-spacing: 0.5px;
	color: $white;
	h1 {
		font-weight: 300;
		@include tablet-landscape-and-up {
			@include font-headline(38px, $white);
			font-weight: 100;
		}
	}
	p {
		max-width: 700px;
		margin: 0 auto;
		line-height: 1.7;
		@include font-headline(16px, $white);

		@include tablet-landscape-and-up {
			font-weight: 100;
		}
	}
}

// the red section
.onsite-section {
	position: relative;
	padding: 0;
	color: $white;
	overflow: hidden;
	@include tablet-landscape-and-up {
		height: 350px;
		padding-left: 0;
	}

	.left-skew {
		background-color: $red-background;
		float: left;
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 1;
		@include tablet-landscape-and-up {
			width: 75%;
			@include skew(-15deg, 0);
		}
	}

	.skewed-side {
		width: 100%;
		height: 100%;
		margin: 0 0 40px;
		background-color: $red-background;
		@include tablet-landscape-and-up {
			width: 90%;
			position: absolute;
			top: 0;
			left: 0;
			@include skew(15deg, 0);
		}
	}

	.inner {
		width: 80%;
		margin: 0 auto;
		max-width: 700px;
		@include tablet-landscape-and-up {
			padding-left: 5.5%;
		}
	}

	.right-img {
		display: none;
		@include tablet-portrait-and-up {
			position: absolute;
			right: 0;
			z-index: 0;
			height: 350px;
			display: block;
		}
		@include large-desktop {
			width: 35%;
		}

		img {
			float: right;
			width: 100%;
		}
	}

	h2 {
		color: $white;
		max-width: 500px;

		&:after {
			background-color: $white;
			opacity: 0.4;
			bottom: -20px;
		}

	}

	p {
		line-height: 1.75;
		letter-spacing: 0.65px;
		margin: 36px 0;
	}
}

.main-search-form {
	margin: 0 auto 45px;
	width: 90%;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: 50%;
		right: 20px;
		margin-top: -11px;
		background: url("/assets/images/svg/dropdown-arrow.svg") center top / 22px 22px no-repeat;
		width: 22px;
		height: 22px;
	}

	input {
		width: 100%;
		border-radius: 50px;
		background-color: $blue;
		color: $white;
		border: none;
		padding: 14px 14px 14px 18px;
		font-size: 18px;
		letter-spacing: 0.5px;

		&:focus {
			outline: 0;
		}
	}

	// make the placeholder white
	::-webkit-input-placeholder {
	   color: $white;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: $white;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: $white;  
	}

	:-ms-input-placeholder {  
	   color: $white;  
	}
}