.course-cost {
	margin-bottom: 25px;
	@include font-italic(18px, $headline-black);
}

.container {
	margin: 10px auto 45px;
}

.topic-circles {
	background-color: $black-background;
	opacity: 0.75;
}

.seminar-topic {
	border: 5px solid $white;
	display: inline-block;
	background-color: $white;
	border-radius: 50%;
	position: relative;
	@include transition(all 0.25s ease-in-out);

	// &:hover > img {
	// 	// @include transform(scale3d(1.1, 1.1, 1));
	// }

	&:hover > .overlay {
		opacity: 1;
		background-color: rgba(0, 144, 197, 0.8);
		@include transition(all 0.3s ease-in-out);
		@include transform(scale(1.01, 1.01));
	}

	img {
		width: 120px;
		border-radius: 50%;
		// @include transition(all 0.25s ease-in-out);
		// @include transform-origin(50% 50%);
	}

	// a {
	// 	display: block;
	// }

	.overlay {
		// border: 5px solid #fff;
		width: 100%;
		max-width: 120px;
		max-height: 120px;
		background-color: rgba(0, 144, 197, 0);
		opacity: 0;
		height: 100%;
		position: absolute;
		border-radius: 50%;
		z-index: 1;
		@include transform(scale(0, 0));
		@include transition(all 0.3s ease-in-out);

		&:after {
			content: url('/assets/images/checkmark.svg');
			position: relative;
			top: 50%;
			left: 50%;
			margin-top: -13px;
			margin-left: -17px;
			display: block;
		}
	}
}

.chosen {
	background-color: red !important;
	opacity: 1;
	// background-color: rgba(0, 144, 197, 0.8);
	@include transition(all 0.3s ease-in-out);
	@include transform(scale(1.01, 1.01));
}

.home-highlight-circle {
	border-radius: 50%;
	margin-top: 40px;
	max-width: 300px;
	@include tablet-portrait-and-up {
		max-width: 100%;
		padding: 6.5%;
	}

	@include medium-sizes {
		margin-top: 10px;
	}

}

.callout-headline {
	position: relative;
	@include font-headline($headline-size, $headline-black);

	&:after {
		position: absolute;
		content: '';
		left: 0;
		bottom: -15px;
		width: 125px;
		height: 1px;
		background-color: $body-copy;
	}
}

.carousel {
	background-image: url('/assets/images/carousel-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	width: 100%;
	height: 385px;

	.item {
		height: 385px;
	}

	.carousel-caption {
		@include transform(translateY(-50%));
	}

	.arrow {
		width: 70px;
		height: 70px;
		position: absolute;
		top: 50%;
		margin-top: -35px;
		@include rotate(-45deg);
	}

	.left, .right {
		// position: relative;

		img {
			position: absolute;
			top: 50%;
			margin-top: -40px;
		}
	}

	.left img {
		margin-left: -15px;
	}

	.right img {
		margin-left: -15px;
	}
}