.ie8 {
	.select-location-instruction {
		display: block;
		text-align: center;
	    margin: 20px 0 40px;
	    color: #ffffff;
	}

	.course-section .overlay-contain img {
		height: 150px;
	}

	.btn-white {
		color: $headline-black;
	}

	#search-btn {
		color: #000000;
	}
	.caro-form-container {
		background-color: #79A4AF;
		background-image: none;

		.carousel {
			.item {
				height: 370px;
			}
		}
	}
	.carousel .carousel-caption {
		bottom: 0;
	}
	.schedule-items-wrap {
		width: 100%;
	}

	.btn-blue-hollow {
		color: $white;
	}
	.tooltip-msg {
		bottom: -20px;
		display: inline-block;
	}
	.seminar-topic {
		max-height: none;
	}
}