.ie8 {
	.select-location-instruction {
		display: block;
		text-align: center;
	    margin: 20px 0 40px;
	    color: #ffffff;
	}

	.course-section .overlay-contain img {
		height: 150px;
	}

	.btn-white {
		color: $headline-black;
	}

	#search-btn {
		color: #000000;
	}
}