.navbar-default {
    background-color: rgba(58,58,58,0.95);
    border: none;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    height: 50px;
    @include tablet-landscape-and-up {
        height: 80px;
    }

    .navbar-toggle {
        border: none;
        margin-top: 10px;
        margin-right: 5px;
        padding-right: 23px;
        &:hover, &:focus {
            background-color: transparent;
        }

        &:hover > .icon-bar {
            background-color: $blue !important;
            @include transition(0.25s);
        }

        &.collapsed .icon-bar {
            background-color: $white;
            @include transition(0.25s);
        }

        .icon-bar {
            background-color: $blue;
            @include transition(0.25s);
        }
    }

    .navbar-nav > li {
        border-bottom: 1px solid #626262;
        @include tablet-landscape-and-up {
            border-bottom: none;
        }
        &:last-child {
            border-bottom: none;
        }
        > a {
            color: $white;
            display: inline-block;
            vertical-align: middle;
            margin: .4em;
            padding: 10px;
            cursor: pointer;
            text-decoration: none;
            @include tablet-landscape-and-up {
                margin-top: .5em;
            }

            &:hover {
                color: $white;
            }
        }

        .btn-reg {
            padding: 6px 20px;
            margin: 4px 10px 10px;
            &:hover, &:focus {
                background-color: #F04B49;
            }
            @include tablet-landscape-and-up {
                margin: 11px 10px 10px;
            }
        }
    }

    .navbar-collapse {
        border-top: 1px solid #626262;
        width: 103%;
        @include tablet-landscape-and-up {
            width: 100%;
        }
    }
}

.contain {
    background-color: rgba(58, 58, 58, 0.95);
    padding-right: 0;
    @include tablet-landscape-and-up {
        width: 97%;
        margin: 0 auto;
        background-color: transparent;
        max-width: 1200px; 
        height: 80px; 
        padding-right: 15px;   
    }
}

.navbar {
    border-radius: 0;
}

.navbar-nav {
    margin: 10px -15px 7.25px;
    @include tablet-landscape-and-up {
        float: right;
    }
}

.navbar-header {
    height: 50px;
    @include tablet-landscape-and-up {
        height: 80px;
    }
}

.logo {
    margin: 2px 0 0 0;
    font-family: "ArialBlack", arial-black, Arial, sans-serif;
    @include tablet-landscape-and-up {
        margin: 12px 0 0 0;
    }
    .tpc {
        color: $blue;
        margin-right: 2px;
    }
    .tagline {
        font-family: "Arial Narrow", arial-black, Arial, sans-serif;
        font-style: italic;
        font-size: 11px;
        display: block;
        font-weight: 100;
        letter-spacing: 0.1px;
        @include tablet-landscape-and-up {
            letter-spacing: 0.5px;
            font-size: 12px;
            margin-top: 5px;
        }
    }
    .navbar-brand {
        color: $white;
        font-size: 25px;
        padding: 5.5px 0 15px 9px;
        letter-spacing: -0.2px;
        @include tablet-landscape-and-up {
            font-size: 28px;
            padding: 5.5px 15px;
            letter-spacing: 0.7px;
        }
        

        &:hover {
            color: $white;
        }
    }
}