.navbar-default {
    background-color: rgba(58,58,58,0.95);
    border: none;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    height: 50px;
    @include tablet-landscape-and-up {
        height: 80px;
    }

    .navbar-toggle {
        border: none;
        margin-top: 10px;
        margin-right: 5px;
        padding-right: 23px;
        &:hover, &:focus {
            background-color: transparent;
        }

        &:hover > .icon-bar {
            background-color: $blue !important;
            @include transition(0.25s);
        }

        &.collapsed .icon-bar {
            background-color: $white;
            @include transition(0.25s);
        }

        .icon-bar {
            background-color: $blue;
            @include transition(0.25s);
        }
    }

    .navbar-nav > li {
        border-bottom: 1px solid #626262;
        @include tablet-landscape-and-up {
            border-bottom: none;
            line-height: 80px;
        }

        &:last-child {
            border-bottom: none;
        }
        > a {
            color: $white;
            display: block;
            vertical-align: top;
            margin: 0;
            padding: 20px;
            cursor: pointer;
            text-decoration: none;
            @include tablet-landscape-and-up {
                margin: 0 0 0 7px;
                display: inline-block;
                line-height: 80px;
                padding: 0 0.6em;
            }

            &:hover, &:focus {
                color: $white;
            }
        }

        .btn-reg {
            padding: 6px 20px;
            margin: 4px 15px 10px;
            display: inline-block;
            vertical-align: middle;
            &:hover, &:focus {
                background-color: $red-button-hover;
            }
            @include tablet-landscape-and-up {
                margin: 8px 10px 10px;
                line-height: 2;
            }
        }
    }

    .navbar-collapse {
        border-top: 1px solid #626262;
        width: 103%;
        @include tablet-landscape-and-up {
            width: 100%;
        }
    }
}

.contain {
    background-color: rgba(58, 58, 58, 0.95);
    padding-right: 0;
    @include tablet-landscape-and-up {
        width: 98%;
        margin: 0 auto;
        background-color: transparent;
        max-width: 1200px; 
        height: 80px; 
        padding-right: 15px;   
    }
}

.navbar {
    border-radius: 0;
}

.navbar-nav {
    margin: 10px -15px 0;
    @include tablet-landscape-and-up {
        float: right;
        margin: 0;
        height: 80px;
        width: 75%;
    }
}

.navbar-header {
    height: 50px;
    @include tablet-landscape-and-up {
        height: 80px;
    }
}