.onsite {
  .btn-reg {
    text-align: center;
    margin: 0 auto;
    display: block;
    max-width: 160px;
  }
}

.caro-form-container {
  background-image: url('/images/carousel-mobile-bg.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  height: 1600px;
  display: table;
  width: 100%;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
    @media (max-width: 768px) {
    height: 2700px !important;
  }
      @media (max-width: 990px) {
      height: 2400px;
    }
  ul {
    list-style: none;
    padding-left: 0;
    li {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  ul li a {
    color: #fff;
  }
  @include tablet-portrait-and-up {
    background-image: url('/images/carousel-bg.jpg');
  }

  > .container {
    position: relative;
  }

  h3 {
    color: $white;
    text-align: center;

    @include med-desktop-and-up {
      text-align: left;
      font-size: 20px;
    }
  }
  h3 {
    a {
    color: $white !important;
    }
  }

.caro-form-container .carousel {
  @media (min-width: 992px) {
    margin-top: -430px !important;
}
}
  .carousel {
    background: none;

    @include med-desktop-and-up {
      width: 50%;
      position: absolute;
      top: 50%;
      margin-top: -420px;
      left: 0;
    }

    .item {
      height: 370px;

      @include tablet-portrait-and-up {
        height: 300px;
      }
    }
  }

}

.onsite-form--label {
  color: $white;
}
