.onsite {
	.btn-reg {
		text-align: center;
		margin: 0 auto;
		display: block;
		max-width: 160px;
	}
}

.caro-form-container {
	background: url("/assets/images/carousel-mobile-bg.jpg") center top/cover no-repeat;
	display: table;
	width: 100%;
	position: relative;

	.form-wrap {
		margin-bottom: 40px;
	}

	> .container {
		position: relative;
	}

	h3 {
		color: $white;
		font-weight: 300;
		text-align: center;
		margin: 40px 0 30px;
		@include med-desktop-and-up {
			text-align: left;
			margin: 40px 0 20px;
		}
	}
	.company-wrap {
		padding-left: 0;
	}

	.state-wrap {
		padding: 0;
	}

	.btn-reg {
		border: none;
		display: block;
		margin: 40px auto 0;
		width: 150px;
		&:focus {
			outline: none;
		}

		@include med-desktop-and-up {
			float: left;
			margin: 40px auto 20px;
		}
	}

	.carousel {
		background: none;
		// padding-top: 40px;
		@include med-desktop-and-up {
			width: 50%;
			position: absolute;
			top: 50%;
			margin-top: -230px;
			left: 0;
		}

		.carousel-caption {
			bottom: 1%;
			width: 75%;
			position: static;
			@include med-desktop-and-up {
				bottom: auto;
			}
		}

		.item {
			height: auto;
			@include tablet-portrait-and-up {
				height: 300px;
			}
		}
	}

	.carousel-inner {
		height: 100%;
	}

	.carousel-indicators {
		@include med-desktop-and-up {
			bottom: -60px;
		}
	}

	.item {
		@include tablet-portrait-and-up {
			height: 260px;
			margin: 20px 0 0;
		}
	}
}

.company-state-wrap {
	display: inline-block;
	width: 100%;
}

.promo-wrap {
	display: none;
}

.other-textbox-wrap {
	display: none;
}