.onsite {
	.btn-reg {
		text-align: center;
		margin: 0 auto;
		display: block;
		max-width: 160px;
	}
}

.caro-form-container {
	background: url("/assets/images/carousel-mobile-bg.jpg") center top/cover no-repeat;
	display: table;
	width: 100%;
	position: relative;

	> .container {
		position: relative;
	}

	h3 {
		color: $white;
		font-weight: 300;
		text-align: center;
		margin: 40px 0 30px;
		@include med-desktop-and-up {
			text-align: left;
			margin: 40px 0 20px 15px;
			font-size: 20px;
		}
	}

	.carousel {
		background: none;
		// padding-top: 40px;
		@include med-desktop-and-up {
			width: 50%;
			position: absolute;
			top: 50%;
			margin-top: -230px;
			left: 0;
		}

		.carousel-caption {
			bottom: 1%;
			width: 75%;
			position: static;
			@include med-desktop-and-up {
				bottom: auto;
				margin-top: 50px;
			}
		}

		.item {
			height: 370px;
			@include tablet-portrait-and-up {
				height: 300px;
			}	
		}
	}

	.carousel-inner {
		height: 100%;
	}

	.carousel-indicators {
		@include med-desktop-and-up {
			bottom: -60px;
		}
	}
}