.form-control {
	border: 1px solid $cart-border;
}

.register-top {
	background-color: #f1f1f1;
	padding-top: 35px;
	.jumbotron {
		max-width: 435px;
		h1 {
			color: $headline-black;
			&:before, &:after {
				content: none;
			}
		}	
	}
}

.indicator {
	width: 95%;
	margin: 0 auto;
	position: relative;
	display: inline-block;
	padding: 0; 

	li {
		float: left;
	}
}

.line {
	width: 50%;
	height: 14px;
	background-color: #D6D6D6;
}

.step {
	position: absolute;
	background-color: #D6D6D6;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	top: 50%;
	margin-top: -14px;

	&:after {
		position: relative;
		bottom: -10px;
		font-style: italic;
		// color: $headline-black;
		color: #B8B8B8;
		width: 60px;
		left: -50%;
		font-weight: 100;
		display: inline-block;
		bottom: -35px;
	}
}

.active {
	&:after {
		color: $headline-black;
	}
}

.step1 {
	left: -10px;
	background-color: $red-button;
	&:after {
		content: 'Step 1';
	}
}

.step2 {
	left: 50%;
	margin-left: -14px;
	&:after {
		content: 'Step 2';
	}
}

.step3 {
	right: -10px;
	&:after {
		content: 'Step 3';
	}
}

.form-container {
	background-color: #f1f1f1;
	.result .container {
		margin: 10px auto;
	}
}

.form-item-wrapper {
	padding: 0;
	@include tablet-landscape-and-up {
		padding-left: 15px;
		padding-right: 15px;
	}
	.form-control {
		background-color: #FCFCFC;
	}

	.container {
		background-color: $white;
		border: 1px solid $cart-border;
		border-radius: 10px;
		color: $cart-copy;
		margin-bottom: 30px;
		padding: 0 0 30px;
	}
}

.top-info {
	padding-left: 15px;
	padding-right: 15px;

	li, p {
		display: inline;
	}

	.date {
		float: right;
		font-style: italic;
	}

	h2 {
		text-align: center;
		@include tablet-portrait-and-up {
			text-align: left;
		}
	}
}

.class-option {
	text-align: center;
	margin: 25px 0;
	font-style: italic;
	@include tablet-portrait-and-up {
		padding-left: 15px;
		text-align: left;
		margin: 20px 0 10px;
		display: inline-block;
	}
}

.next-btn {
	display: table;
	text-align: center;
	margin: 12px auto 40px;
	width: 150px;
}

// 2nd register screen
.register-two-top {

	.line1, .step2 {
		background-color: $red-button;
	}
}

.register-two {
	background-color: #f1f1f1;
	h2 {
		font-weight: 300;
		@include tablet-landscape-and-up {
			font-weight: 400;
		}
	}

	.container {
		padding: 0;
		margin: 0 auto;
		@include tablet-portrait-and-up {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.billing-opts-wrapper {
	
	h2 {
		margin-bottom: 6px;
		font-weight: 300;
		@include tablet-landscape-and-up {
			font-weight: 400;
		}
	}

	label {
		font-weight: 300;
		position: relative;
		margin-bottom: 20px;
	}

	input[type=checkbox] {
		display: none;
	}

	input[type=checkbox] + label:before {
	    content: "";  
	    display: block;  
	    width: 20px;  
	    height: 20px;   
	    background-color: $white;
	    border-radius: 3px; 
	    border: 1px solid $cart-border;
	    position: absolute;
	    right: -30px;
	    top: 50%;
	    margin-top: -10px;
	}

	input[type=checkbox]:checked + label:before {
		content:"\2713";
		color: $blue;
	    // background-color: #666; 
		text-align:center;
		line-height:17px;
	    text-shadow:0px 0px 3px #eee;
	}
	
}

.hidden {
	display: none;
}

.disabled {
	pointer-events: none;
	background-color: gray;
}

.cc-info {
	display: none;
	float: left;
}

.hidden-different-check {
	display: none;
	float: left;
	margin-bottom: 25px;
}

.cvv-info {
	font-style: italic;
	margin: 6px 0 10px;
}
.cvv-text {
	display: inline-block;
	margin-top: 0;
}

.popover {
	width: 100% !important;
	max-width: 280px;

	img {
		margin: 0 auto;
		display: block;
	}
}

.summary-top {
	.step, .line {
		background-color: $red-button;
	}
}

.summary-main {
	.container {
		margin: 20px auto;
		padding: 0;
	}
	.edit-btn {
		float: right;
	}
	ul {
		padding: 0;
	}
	h2 {
		font-weight: 300;
	}
}