.form-control {
	border: 1px solid $cart-border;
}

.register-top {
	background-color: #f1f1f1;
	padding-bottom: 80px;
	.jumbotron {
		max-width: 435px;
		margin: 80px auto;
		h1 {
			color: $headline-black;
			&:before, &:after {
				content: none;
			}
		}	
	}

	.container {
		margin-bottom: 0;
	}
}

.read-only-cart {
	margin-top: 90px;
}

.indicator {
	width: 95%;
	margin: 0 auto;
	position: relative;
	display: inline-block;
	padding: 0; 

	li {
		float: left;
	}
}

.line {
	width: 50%;
	height: 14px;
	background-color: #D6D6D6;
}

.step {
	position: absolute;
	background-color: #D6D6D6;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	top: 50%;
	margin-top: -14px;

	&:after {
		position: relative;
		bottom: -10px;
		font-style: italic;
		color: $headline-black;
		width: 60px;
		left: -50%;
		font-weight: 100;
		display: inline-block;
		bottom: -35px;
	}
}

.active {
	&:after {
		color: $headline-black;
	}
}

.step1 {
	left: -10px;
	background-color: $red-button;
	&:after {
		content: 'Step 1';
	}
}

.step2 {
	left: 50%;
	margin-left: -14px;
	&:after {
		content: 'Step 2';
	}
}

.step3 {
	right: -10px;
	&:after {
		content: 'Step 3';
	}
}

.form-container {
	background-color: #f1f1f1;
	.result .container {
		margin: 10px auto;
	}
}

.form-item-wrapper {
	padding: 0;
	@include tablet-landscape-and-up {
		padding-left: 15px;
		padding-right: 15px;
	}
	.form-control {
		background-color: #FCFCFC;
	}

	.container {
		background-color: $white;
		border: 1px solid $cart-border;
		border-radius: 10px;
		color: $cart-copy;
		margin-bottom: 30px;
		padding: 0 0 30px;
	}
}

.top-info {
	padding-left: 15px;
	padding-right: 15px;

	li, p {
		display: inline;
	}

	.date {
		float: right;
		font-style: italic;
	}

	h2 {
		text-align: center;
		@include tablet-portrait-and-up {
			text-align: left;
		}
	}
}

.class-option {
	text-align: center;
	margin: 25px 0;
	font-style: italic;
	@include tablet-portrait-and-up {
		padding-left: 15px;
		text-align: left;
		margin: 20px 0 10px;
		display: inline-block;
	}
}

.next-btn {
	display: table;
	text-align: center;
	margin: 12px auto 40px;
	width: 150px;
}

// 2nd register screen
.register-two-top {
	margin-top: 80px;
	.line1, .step2 {
		background-color: $red-button;
	}
}

.register-two {
	background-color: #f1f1f1;

	.container {
		padding: 0;
		margin: 0 auto;
		@include tablet-portrait-and-up {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.billing-opts-wrapper {
	
	h2 {
		margin-bottom: 6px;
	}

	label {
		font-weight: 300;
		position: relative;
		margin-bottom: 20px;
	}
}

// custom checkbox
input[type=checkbox] {
	display: none;
}

input[type=checkbox] + label:before {
    content: "";  
    display: block;  
    width: 20px;  
    height: 20px;   
    background-color: $white;
    border-radius: 3px; 
    border: 1px solid $cart-border;
    position: absolute;
    right: -30px;
    top: 50%;
    margin-top: -10px;
}

input[type=checkbox]:checked + label:before {
	content:"\2713";
	color: $blue; 
	text-align:center;
	line-height:17px;
    text-shadow:0px 0px 3px #eee;
}

.hidden {
	display: none;
}

.disabled {
	pointer-events: none;
	background-color: gray;
}

.cc-info {
	float: left;
	display: none;
}

.cvv-text {
	position: relative;
	cursor: pointer;
	span {
		opacity: 0;
		border-radius: 4px;
		border: 1px solid $cart-border;
		background-color: $white;
		position:absolute;
		top: -190px;
		left:0;
		z-index:1000;
		width:auto;
		max-width:320px;
		min-height:128px;
		padding: 15px;
		@include transition(0.25s);

		img {
			margin-bottom: 7px;
		}

		&.showing {
			opacity: 1;
		}
	}
}

.hidden-different-check {
	display: none;
	float: left;
	margin-bottom: 25px;
}

.cvv-info {
	font-style: italic;
	margin: 6px 0 10px;
}
.cvv-text {
	display: inline-block;
	margin-top: 0;
}

.summary-top {
	.step, .line {
		background-color: $red-button;
	}

	.container {
		margin: 50px auto 10px;
	}
}

.summary-main {
	position: relative;
	padding-bottom: 40px;
	// margin-bottom: 40px;
	.container {
		margin: 20px auto;
		padding: 0;
		@include med-desktop-and-up {
			padding: 0 15px;
		}
	}
	.edit-btn {
		float: right;
		margin-bottom: 20px;
	}
	ul {
		padding: 0;
	}
	h2 {
		font-weight: 300;
		margin-bottom: 5px;
		@include tablet-portrait-and-up {
			margin: 1em 0;
		}
	}

	.attendee-info {
		line-height: 2;
		margin: 15px 0;
		@include med-desktop-and-up {
			line-height: inherit;
			margin: 10px 0;
		}
		.summary-opts {
			font-style: italic;
		}
	}
}

.summary-item-top {
    width: 100%;
    display: inline-block;
    position: relative;

    .price {
    	font-size: 21px;
    	@include tablet-portrait-and-up {
    		text-align: right;
    		position: absolute;
    		right: 0;
    		top: 50%;
    		@include transform(translateY(-50%));
    	}
    }
}

.purchaser-info-wrap {
	// position: relative;
	margin-bottom: 30px;
	@include med-desktop-and-up {
		margin-bottom: 10px;
	}
}

.purchaser-info {
	line-height: 1.75;
	margin-top: 60px;
}

.purchaser-name {
	font-weight: 500;
	font-size: 17px;
}

.summary-submit-btn {
	text-align: center;
	// position: absolute;
	// bottom: 0;
	// left: 50%;
	text-align: center;
	margin: 0px auto 0;
	display: table;
	width: 150px;
	// @include transform(translateX(-50%));
	@include tablet-portrait-and-up {
		float: right;
		// position: static;
		// @include transform(translateX(0));
	}
}

.total-price {
	text-align: center;
	margin-top: 40px;
	@include tablet-portrait-and-up {
		position: absolute;
		bottom: 0;
		right: 15px;
	}
}