.success {
	text-align: center;
	margin-top: 80px;
	@include med-desktop-and-up {
		margin-top: 100px;
	}
}

.receipt-links {
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 18px;

	div {
		margin: 12px 0;
	}
}

.btn-first {
	padding: 13px 20px;
}

.second-btn {
	color: $blue;
}