.form-standard {
	.contourField {
		margin-bottom: 10px;
		.text, select {
			border: 1px solid $cart-border;
			width: 100%;
		    height: 35px;
		    padding: 6px 9px;
		    background-color: $white;
		    background-image: none;
		    border-radius: 4px;
		    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		    font-size: 15px;
		    line-height: 1.42857;
		    color: #555;
		    max-width: none !important;
		}

		.fieldLabel {
			color: $white;
			
		}
	}
	.btn-reg {
		border: none;
		display: block;
		width: 150px;
		margin: 0 auto;
		&:focus {
			outline: none;
		}
		@include med-desktop-and-up {
			margin: 10px auto 20px;
			float: left;
		}
	}

	// send info through the mail checkbox
	.pleasesendmeinformationthroughthemail {
		.fieldLabel {
			float: right;
		    width: 90%;
		    padding-left: 0;
		    margin-bottom: 25px;
		    @include tablet-portrait-and-up {
		    	width: 93%;
		    }
		}

		div {
			float: left;

			input[type=checkbox] {
				margin-left: 0;
				width: 30px !important;
			}
		}
	}

	.mailingaddress, .mailingaddressline2, .city, .stateprovince, .postalcode, .country {
		.fieldLabel, input[type=text], select {
			display: none;
		}	
	}
}

#form-contact {
	min-height: 500px;

	.contourMessageOnSubmit {
		color: $white;
		text-align: center;
	    margin-top: 100px;
	    font-size: 25px;
	}
}

.promo-field {
    margin: -10px 0 15px 17px;

    input {
		border: 1px solid $cart-border;
		width: 100%;
	    height: 35px;
	    padding: 6px 9px;
	    background-color: $white;
	    background-image: none;
	    border-radius: 4px;
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	    font-size: 15px;
	    line-height: 1.42857;
	    color: #555;
	    max-width: 250px;
    }
}

.contact {
	.form-standard {
		.fieldLabel {
			color: $headline-black-on-white;
		}
	}
}