@font-face {
  font-family: 'ArialBlack';
  src: url('/assets/fonts/arial-black.ttf')  format('truetype'); /* Safari, Android, iOS */
}


body {
	color: $body-copy;
	font-weight: 300;
}

.btn-reg {
	background-color: $red-button;
	color: $white;
	padding: 10px 20px;
	border-radius: 50px;
	font-weight: 600;
	position: relative;
	@include transition(background-color 0.25s);

	&:hover {
		color: $white;
		text-decoration: none;
		background-color: #F04B49;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 3px solid $red-button;
		z-index: 1;
		border-radius: inherit;
		opacity: 0;
		@include transform(scale3d(0.6, 0.6, 1));
		@include transition-transform(0.25s, opacity 0.25s ease);
	}

	&:hover:before {
		-webkit-transform: scale3d(1.04, 1.15, 1);
		transform: scale3d(1.04, 1.15, 1);
		opacity: 1;
	}

	&:focus {
		text-decoration: none;
		color: $white;
	}
}

// .btn-white must be used with the .btn-reg class
.btn-white {
	background-color: transparent;
	border: 3px solid #fff;
	padding: 10px 37px;
	&:hover {
		color: $headline-black;
		text-decoration: none;
		background-color: $white;
	}

	&:before {
		background-color: $white;
		border: none;
		z-index: -1;
	}
}

.offwhite-section {
	background-color: $gray-background;
}

.carousel {
	.container {
		margin: 0;
	}
}

.regular-link {
    @include transform(translateZ(0));
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    @include backface-visibility(hidden);
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 10px;
        right: 100%;
        bottom: 0;
        background: $white;
        height: 3px;
        @include transition-property(right);
        @include transition-duration(0.3s);
        @include transition-timing-function(ease-out);
        
        @include tablet-landscape-and-up {
            left: 10px;
        }
    }

    &:hover {
        color: $white;
    }

    &:hover:before {
        right: 6%;
    }
}



