// universal styles shared across the site. hopefully reusable.

// loading Arial Black here because it's not on iOS.
@font-face {
  font-family: 'ArialBlack';
  src: url('/assets/fonts/arial-black.ttf')  format('truetype'); /* Safari, Android, iOS */
}


body {
	color: $body-copy;
	font-weight: 300;
}

// the red pill-shaped buttons w/hover state. just add this class 
.btn-reg {
	background-color: $red-button;
	color: $white;
	padding: 10px 20px;
	border-radius: 50px;
	font-weight: 600;
	position: relative;
	@include transition(background-color 0.25s);

	&:hover {
		color: $white;
		text-decoration: none;
		background-color: $red-button-hover;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 3px solid $red-button;
		z-index: 1;
		border-radius: inherit;
		opacity: 0;
		@include transform(scale3d(0.6, 0.6, 1));
		@include transition-transform(0.25s, opacity 0.25s ease);
	}

	&:hover:before {
		-webkit-transform: scale3d(1.04, 1.15, 1);
		transform: scale3d(1.04, 1.15, 1);
		opacity: 1;
	}

	&:focus {
		text-decoration: none;
		color: $white;
	}
}

// the hollow buttons. .btn-white must be used with the .btn-reg class!
.btn-white {
	background-color: transparent;
	border: 3px solid #fff;
	padding: 10px 37px;
	&:hover {
		color: $headline-black;
		text-decoration: none;
		background-color: $white;
	}

	&:before {
		background-color: $white;
		border: none;
		z-index: -1;
	}
}

// offwhite sections have the slightly gray background color
.offwhite-section {
	background-color: $gray-background;
}

.gradient-bg {
	background: rgba(241,241,241,1);
	background: -moz-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(241,241,241,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,241,241,1)), color-stop(0%, rgba(241,241,241,1)), color-stop(35%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(241,241,241,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(241,241,241,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(241,241,241,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(241,241,241,1) 0%, rgba(241,241,241,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ffffff', GradientType=0 );
}

.carousel {
	.container {
		margin: 0;
	}
}
// end .btn-white

// a link with the underline border on hover
.regular-link {
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    @include transform(translateZ(0));
    @include backface-visibility(hidden);

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 10px;
        right: 100%;
        bottom: 0;
        background: $white;
        height: 3px;
        @include transition-property(right);
        @include transition-duration(0.3s);
        @include transition-timing-function(ease-out);
        
        @include tablet-landscape-and-up {
            left: 10px;
        }
    }

    &:hover {
        color: $white;
    }

    &:hover:before {
        right: 6%;
    }
}

.nav-link {
	&:before {
		background: $blue;
		left: 0;
	}

	&:hover:before {
		right: 0;
	}

	&:hover {
		background-color: $nav-hover-bg !important;
		@include transition(0.25s);
	}
}

// the logo, made with fonts
.logo {
    margin: 2px 0 0 0;
    font-family: "ArialBlack", arial-black, Arial, sans-serif;
    @include tablet-landscape-and-up {
        margin: 12px 0 0 0;
    }
    .tpc {
        color: $blue;
        margin-right: 2px;
    }
    .tagline {
        font-family: "Arial Narrow", arial-black, Arial, sans-serif;
        font-style: italic;
        font-size: 11px;
        display: block;
        font-weight: 100;
        letter-spacing: 0.1px;
        @include tablet-landscape-and-up {
            letter-spacing: 0.5px;
            font-size: 12px;
            margin-top: 5px;
        }
    }
    .navbar-brand {
        color: $white;
        font-size: 25px;
        padding: 5.5px 0 15px 9px;
        letter-spacing: -0.2px;
        @include tablet-landscape-and-up {
            font-size: 28px;
            padding: 5.5px 15px;
            letter-spacing: 0.7px;
        }
        

        &:hover {
            color: $white;
        }
    }
}

// the main h2s
.callout-headline {
	position: relative;
	@include tablet-landscape-and-up {
		@include font-headline($headline-size, $headline-black);
	}

	&:after {
		position: absolute;
		content: '';
		left: 0;
		bottom: -15px;
		width: 125px;
		height: 1px;
		background-color: $body-copy;
	}
}



