<div class="container-fluid">
  <div class="row cart-top">
    <div class="container">
      <div class="col-xs-12">
        <h3><img src="/assets/images/icon-cart.png" alt="Cart"/>Cart</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <li class="cart-item">
      <ul class="container">
        <li class="class-title col-xs-12 col-sm-12 col-md-4">
            <h4>COURSE TITLE</h4></li>
        <li class="location col-xs-12 col-sm-4 col-md-2">
          CITY
        </li>
        <li class="date col-xs-12 col-sm-4 col-md-2">
        DATE
        </li>
        <li class="col-xs-12 col-sm-4 col-md-2 remove-wrap">
          <a href="javascript:void(0);" class="remove" data-theid="<%= theId %>" <span>X</span>Remove</a>
        </li>
        <li class="qty-wrap col-xs-12 col-sm-4 col-md-1"><span>Attendees:</span>
          <input type="text" name="quantity" class="class-qty">
        </li>
        <li class="sub-total col-xs-12 col-sm-4 col-md-1"></li>
      </ul>
    </li>
  </div>
  <div class="cart-bottom row">
    <div class="container">
      <div class="col-xs-12 wrap">
        <p class="cart-empty-msg">Your cart is currently empty.</p>
        <ul class="cart-total col-xs-12 col-md-4">
          <li class="items-total">0 Items</li>
          <li class="cost-total">Total: $<span class="total-cost">0</span></li>
        </ul>
        <div class="col-xs-6 col-xs-offset-6 btn-wrapper">
          <div class="spinner checkout-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
          <a href="javascript:void(0);" class="btn-reg btn-blue-solid" id="check-out">Check Out</a>
        </div>
      </div>
    </div>
  </div>
</div>
