<shopping-cart></shopping-cart>
<div class="container" style="padding-top: 100px;">
  <div class="col-md-3">
    <keyword-input></keyword-input>
    <hr />
    <filter-topic></filter-topic>
    <hr />
    <label>City or ZIP</label>
    <location-input></location-input>
    <h5>- or -</h5>
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" aria-label="...">All Locations
      </span>
    </div>
    <hr />
    <label>Search Within a</label>
    <div range-slider min="0" max="1000" model-min="listing.demo1.min" model-max="listing.demo1.max"></div>
    <hr />
    <label>Date Range</label>
    <h5>From</h5>
    <button type="button" class="btn btn-default" ng-model="selectedIcon" data-html="1" bs-options="icon.value as icon.label for icon in icons" bs-select>
      Action <span class="caret"></span>
    </button>
    <h5>Through</h5>
    <button type="button" class="btn btn-default" ng-model="selectedIcon" data-html="1" bs-options="icon.value as icon.label for icon in icons" bs-select>
      Action <span class="caret"></span>
    </button>
    <hr />
  </div>
  <div class="col-md-9">

    <div class="empty-results">
      <div class="no-results">
        <h2>Sorry, no results were found.</h2>
        <p>
          Try refining your search, starting a new search or begin
          browsing below.
        </p>
      </div>
      <h3>Use the menu on the left side to:</h3>
      <div class="empty-results-instructions">
        <span class="empty-results-number">1</span>
        Choose a topic or select a specific seminar title.
      </div>
      <div class="empty-results-instructions">
        <span class="empty-results-number">2</span>
        Check “All Locations” to view all.
      </div>
      <div class="empty-results-instructions">
        <span class="empty-results-number">3</span>
        Adjust the date range as needed.
      </div>
      <ul class="empty-results-tags">
        <li><a href="#">Electrical</a></li>
        <li><a href="#">HVAC</a></li>
        <li><a href="#">Plant Management</a></li>
        <li><a href="#">Mechanical &amp; Industrial</a></li>
      </ul>
      <p class="empty-results-promo">
        All of our public seminars are just $495 a day, and most are
        two days in length. All are also available for
        <a href="#">on-site training</a>.
      </p>
    </div>

    <div ng-repeat="course in listing.courses" style="background-color: #fff; margin-top: 15px; padding: 15px; border-radius: 5px; border: 1px solid #d7d7d7">
      <section class="row">
        <div class="col-md-2">
          <img src="http://placehold.it/75/75" class="course-img img-circle">
        </div>
        <div class="col-md-10" style="padding-left: 15px;">
          <h2>{{course.title}}</h2>
          <p>
              {{course.subTitle}}
          </p>
        </div>
      </section>
      <table class="table table-responsive table-striped" style="text-align: left; padding: 0;">
        <thead style="line-height:50px;background-color:#f9f9f9;">
          <tr>
            <th width="275px">Location</th>
            <th width="400px">Seminar Information </th>
            <th>Attendees</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="seminar in listing.seminars">
            <td>
              {{seminar.cityState}}
            </td>
            <td>
            {{seminar.locationDetails}}
            </td>
            <td>
              <input type="number" ng-model="course.attendees">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
