<h2>{{location.city}}</h2>  {{ location.date}}
<br />
{{ location.locationDetails }}
<table class="table table-striped">
  <tr>
    <th>
      Training Days
    </th>
    <th>
      Price
    </th>
    <th>
      Attendees
    </th>
  </tr>
  <tbody>
  <tr>
    <td width="255px">
      {{location.schedules[0].daysTitle}}
    </td>
    <td width="125px">
    ${{location.schedules[0].price}}
    </td>
    <td width="75px">
        <div class="form-group">
          <input type="text" ng-model="seminar.attendees" class="form-control">
        </div>
      </td>
  </tr>
</tbody>
</table>
<button ng-click="seminar.addToCart(seminar.attendees)" class="btn primary btn-reg btn-blue-solid">Add to cart</button>
