<shopping-cart></shopping-cart>
<div id="register-seminars" class="row" data-classid="292" style="padding-top: 40px;">
  <!-- <table tr-ng-grid items='seminar.seminarLocations'></table> -->

<div class="container">


  <div class="col-md-6" ng-repeat="(key, value) in seminar.seminarLocations | groupBy: 'state'">
    <h3><strong>{{ key }}</strong></h3>
    <table class="table table-striped" width="90%">
      <tbody>
      <tr ng-repeat="location in value">
        <td width="155px">
          {{ location.city }}
        </td>
        <td width="185px">
            {{ location.date}}
        </td>
        <td width="155px">
          <a ui-sref="detail({id: location.id})">Register</a>
          <!-- <a uib-popover-template="seminar.dynamicPopover.templateUrl" class="register-link" ui-sref="detail({id: location.id})" ng-click="seminar.registerSem(location.id)">Register</a> -->
        </td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
</div>
  <div class="container-fluid onsite-section">
    <div class="left-skew">
      <div class="skewed-side">
        <div class="inner">
          <h2 class="callout-headline">Take advantage of our on-site training
          program.</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis
          euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi
          leo risus, porta ac consectetur ac, vestibulum at eros. Praesent
          commodo cursus magna.</p><a class="btn-reg btn-white" href="#" role=
          "button">Learn More</a>
        </div>
      </div>
    </div>
    <div class="right-img"><img alt="See our on-site programs" src=
    "/assets/images/on-site.jpg"></div>
  </div>
  <tpc-footer></tpc-footer>
<script>


  var regSem = document.getElementById('register-seminars');
  var classId = regSem.dataset.classid;
  localStorage.setItem('classId', classId);
    // Scroller
$(function() {
    $('a.page-scroll').bind('click', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top
        }, 1500, 'easeInOutExpo');
        event.preventDefault();
    });
});

// Highlight the top nav as scrolling occurs
$('body').scrollspy({
    target: '.navbar-lower'
})

// Closes the Responsive Menu on Menu Item Click
$('.navbar-collapse ul li a').click(function() {
    $('.navbar-toggle:visible').click();
});

</script>
