<div class="container-fluid headline-section seminar-detail">
  <div class="row">
    <div class="jumbotron">
      <h1>Basic Electrical Training</h1>

    </div>
    <div class="button-wrapper col-xs-12 col-md-8 col-md-offset-2">
      <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-2">
        <a href="#register-seminars" class="btn-reg btn-first" role="button">Check Dates and Locations</a>
      </div>
      <div class="col-xs-8 col-xs-offset-2 col-md-4 second-btn">
        <a href="onsite.html#cf-container" class="btn-reg btn-white" role="button">Get an On-Site Quote</a>
      </div>
    </div>
  </div>
</div>
<shopping-cart></shopping-cart>
<div class="container-fluid gradient-bg main-content">
  <div class="col-md-8 col-md-offset-2 text-wrap">

    <!-- end -->
    <div class="container">
      <div class="row">
        <h2>Seminar Overview</h2>
        <p class="course-detail--intro">
          In Day One – “Understanding Industrial Electricity” - students will gain a basic understanding of how electricity works in commercial and industrial settings. Starting with easily understood analogies to explain the fundamentals of electricity, students
          are then quickly immersed in practical, real world examples that illustrate how electricity is distributed and used in their plants and facilities. They’ll learn how to use electrical test equipment in their everyday jobs before moving on to
          an in-depth discussion about major electrical components, where & how these components work, and their purposes within electrical systems.</p>
        <p class="course-detail--intro">
          Day Two of the air conditioning and refrigeration training is for people who already have a good foundation in AC&R components and systems. Students are taught common practices (and some "tricks-of-the-trade") for general operation and maintenance of
          their AC&R systems. They will learn about maintenance schedules and servicing, system diagnostics, troubleshooting, and fine tuning to gain maximum efficiency. Also covered are an introduction to commercial and industrial chillers, regulatory
          laws and energy conservation. Overall, we will help you get the maximum life out of your AC&R systems while keeping it up and running as efficiently and consistently as possible.
        </p>
      </div>
      <!-- Column area -->
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h2>Day One</h2>
          <strong>Electrical Fundamentals</strong>
          <ul class="list-unstyled">
            <li>
              Production & Distribution of Electricity
            </li>
            <li>
              DC and AC in Plants and Facilities – Hands-on Exercise
            </li>
            <li>
              Voltage, Current and Resistance; Ohm’s Law
            </li>
            <li>
              Basic Electrical Circuits: Series/Parallel - Hands-on Exercise
            </li>
            <li>
              Power: Types & Control
            </li>
            <li>
              Single-phase and Three-phase Systems
            </li>
            <li>
              Workplace Electrical Safety
            </li>
          </ul>

          <strong>Electrical Test Equipment</strong>
          <ul class="list-unstyled">
            <li>
              Multimeters – Hands-on Exercise
            </li>
            <li>
              Voltage Testers
            </li>
          </ul>

          <strong>Verifying a Circuit De-energized – Hands-on Exercises</strong>
          <ul class="list-unstyled">
            <li>
              3 Modes of Failure: Opens, Shorts & Ground Faults
            </li>
            <li>
              Clamp-on Ammeter, Megohmmeters & Others
            </li>
            <li>
              Understanding Your Building Electrical System
            </li>
            <li>
              Reading Electrical Single-Line Diagrams
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-6">
          <h2>Day Two</h2>
          <strong>Electrical Fundamentals</strong>
          <ul class="list-unstyled">
            <li>
              Production & Distribution of Electricity
            </li>
            <li>
              DC and AC in Plants and Facilities – Hands-on Exercise
            </li>
            <li>
              Voltage, Current and Resistance; Ohm’s Law
            </li>
            <li>
              Basic Electrical Circuits: Series/Parallel - Hands-on Exercise
            </li>
            <li>
              Power: Types & Control
            </li>
            <li>
              Single-phase and Three-phase Systems
            </li>
            <li>
              Workplace Electrical Safety
            </li>
          </ul>

          <strong>Electrical Test Equipment</strong>
          <ul class="list-unstyled">
            <li>
              Multimeters – Hands-on Exercise
            </li>
            <li>
              Voltage Testers
            </li>
          </ul>

          <strong>Verifying a Circuit De-energized – Hands-on Exercises</strong>
          <ul class="list-unstyled">
            <li>
              3 Modes of Failure: Opens, Shorts & Ground Faults
            </li>
            <li>
              Clamp-on Ammeter, Megohmmeters & Others
            </li>
            <li>
              Understanding Your Building Electrical System
            </li>
            <li>
              Reading Electrical Single-Line Diagrams
            </li>
          </ul>
        </div>
      </div>
      <!-- end column area -->
      <div class="row">

        <h2>Continuing Education Units (CEUs)</h2>
        <p>Upon completion of this seminar, the student will receive a certification of completion with 8 classroom hours (.8 American Trainco CEUs) per day attended. Visit our continuing education units page to determine if this class is accepted by your
          state licensing agency.</p>
        <p><a href="/about/guarantee/" title="No Risk Registration &amp; Money Back Guarantee">Click HERE to read our No Risk Registration and Money-Back Guarantee policy</a></p>
      </div>
      <div class="row">
        <h2>Optional ATMT&#174; Certification Exam</h2>
        <p>
          Upon completion of this seminar, the student will receive a certification of completion with 8 classroom hours (.8 TPC Trainco CEUs) per day attended. Visit our continuing education units page to determine if this class is accepted by your state licensing
          agency.
        </p>
      </div>
      <div class="row">
        <h2>Block Purchase Program</h2>
        <p>If you have a large number of people attending a variety of different training seminars, a block purchase might be right for you.</p>
        <p><a href="/block-purchase-program/" title="Block Purchase Program">Learn More</a></p>
      </div>
    </div>
  </div>
</div>
<div id="register-seminars" class="row" data-classid="292">
  <!-- <table tr-ng-grid items='seminar.seminarLocations'></table> -->

  <div class="container">
    <h2 class="seminar-detail-header">Upcoming Dates and Locations</h2>
    <div class="slider-wrap">
      <rzslider rz-slider-model="seminar.monthsSlider.minValue" ng-model="seminar.monthsSlider" rz-slider-high="seminar.monthsSlider.maxValue" rz-slider-options="seminar.monthsSlider.options"></rzslider>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 course-col-header">
        <span class="left-course-head seminar-register">Choose a location and date below to register.</span>
      </div>
      <div class="col-sm-12 col-md-6 course-col-header">
        <a class="register-link seminar-training" href="#">Want this training at your facility instead?</a>
      </div>
    </div>
    <ul>


      <li style="display:inline-block; width: 50%;" ng-repeat="location in seminar.seminarLocations | groupBy:'state'">
        <h3 class="state-name"><strong>{{ location[0].state }}</strong></h3>
        <div class="">
          <table class="table table-striped" width="90%">
            <tbody>
              <tr ng-repeat="event in location | filter: { dateMonthYear: seminar.monthsSlider.minValue }" class="location-row">
                <td width="155px">
                  <span class="city-name">{{ event.city }}</span>
                </td>
                <td width="185px">
                  {{ event.date}}
                </td>
                <td width="155px">
                  <!-- <a ui-sref="detail({id: location.id})"><strong>Register</strong> <i class="fa fa-chevron-down"></i></a> -->
                  <a uib-popover-template="seminar.detailPop.templateUrl" class="register-link" ng-click="seminar.registerSem({id: event.id})">Register <i class="fa fa-chevron-down"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
</ul>

    <div class="container">
      <div class="row">
        <div class="semdetail-text-center">
          <h3>To find other courses by topic, location, and date, search our full catalog.</h3>
          <a href="#" class="btn-reg" role="button">Search our catalog</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid onsite-section">
    <div class="left-skew">
      <div class="skewed-side">
        <div class="inner">
          <h2 class="callout-headline">Take advantage of our on-site training
          program.</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p><a class="btn-reg btn-white"
            href="#" role="button">Learn More</a>
        </div>
      </div>
    </div>
    <div class="right-img"><img alt="See our on-site programs" src="/assets/images/on-site.jpg"></div>
  </div>
</div>
  <script>
    var regSem = document.getElementById('register-seminars');
    var classId = regSem.dataset.classid;
    localStorage.setItem('classId', classId);
    // Scroller
    $(function() {
      $('a.page-scroll').bind('click', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
          scrollTop: $($anchor.attr('href')).offset().top
        }, 1500, 'easeInOutExpo');
        event.preventDefault();
      });
    });

    // Highlight the top nav as scrolling occurs
    $('body').scrollspy({
      target: '.navbar-lower'
    })

    // Closes the Responsive Menu on Menu Item Click
    $('.navbar-collapse ul li a').click(function() {
      $('.navbar-toggle:visible').click();
    });
  </script>
