<nav class="navbar-lower" role="navigation" data-spy="affix" data-offset-top="0" id="navspy">
  <div class="container">
    <ul class="nav navbar-nav" >
      <li><a href="#overview" class="page-scroll nav-link regular-link active">Seminar Overview</a></li>
      <li><a href="#discussion" class="page-scroll nav-link regular-link">Discussion Topics</a></li>
      <li><a href="#ceu" class="page-scroll nav-link regular-link">(CEUs)</a></li>
      <li><a href="#atmt" class="page-scroll nav-link regular-link">ATMT Certification</a></li>

      <li><a href="#purchase" class="page-scroll regular-link nav-link">Purchase Program</a></li>
      <li><a href="#upcoming" class="page-scroll regular-link nav-link">Upcoming Dates and Locations</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid headline-section seminar-detail" style="padding-top: 80px;">
  <div class="row">
    <div class="jumbotron">
      <h1>Basic Electrical Training</h1>

    </div>
    <div class="button-wrapper col-xs-12 col-md-8 col-md-offset-2">
      <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-2">
        <a href="#register-seminars" class="btn-reg btn-first" role="button">Check Dates and Locations</a>
      </div>
      <div class="col-xs-8 col-xs-offset-2 col-md-4 second-btn">
        <a href="onsite.html#cf-container" class="btn-reg btn-white" role="button">Get an On-Site Quote</a>
      </div>
    </div>
  </div>
</div>

	<div uib-collapse="seminar.isCollapsed">
	<shopping-cart></shopping-cart>
	</div>
<div class="cart-visible">
  <a class="cart-tab">
    <img ng-click="seminar.isCollapsed = !seminar.isCollapsed" src="/assets/images/icon-cart-tab.png"/>
  </a>
  <div class="container">
    <ul class="cart-total col-xs-12 col-md-4">
      <li class="items-total">0 Items</li>
      <li class="cost-total">Total: $<span class="total-cost">0</span></li>
    </ul>
  </div>
</div>
<div class="container-fluid main-content">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-wrap">


      <div class="share-btn-wrap">
        <a href="javascript:void(0);" class="btn-reg btn-blue-solid btn-share" data-toggle="popover" data-placement="bottom" data-content='<ul class="social">
    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3a%2f%2ftrainco-dev.imulus-client.com%2fpublic-seminars%2felectrical-training%2felectrical-fundamentals%2fbasic-electrical-training%2f" target="_blank" class="regular-link"><svg
    width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">

    <path id="facebook-icon" d="M204.067,184.692h-43.144v70.426h43.144V462h82.965V254.238h57.882l6.162-69.546h-64.044

    c0,0,0-25.97,0-39.615c0-16.398,3.302-22.89,19.147-22.89c12.766,0,44.896,0,44.896,0V50c0,0-47.326,0-57.441,0

    c-61.734,0-89.567,27.179-89.567,79.231C204.067,174.566,204.067,184.692,204.067,184.692z"/>
    </svg></a></li>

    <li><a href="https://twitter.com/home?status=Basic+Electrical+Training+-+TPC+Trainco+http%3a%2f%2ftrainco-dev.imulus-client.com%2fpublic-seminars%2felectrical-training%2felectrical-fundamentals%2fbasic-electrical-training%2f" target="_blank" class="regular-link"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">

    <path id="twitter-icon" d="M462,128.223c-15.158,6.724-31.449,11.269-48.547,13.31c17.449-10.461,30.854-27.025,37.164-46.764

    c-16.333,9.687-34.422,16.721-53.676,20.511c-15.418-16.428-37.386-26.691-61.698-26.691c-54.56,0-94.668,50.916-82.337,103.787

    c-70.25-3.524-132.534-37.177-174.223-88.314c-22.142,37.983-11.485,87.691,26.158,112.85c-13.854-0.438-26.891-4.241-38.285-10.574

    c-0.917,39.162,27.146,75.781,67.795,83.949c-11.896,3.237-24.926,3.978-38.17,1.447c10.754,33.58,41.972,58.018,78.96,58.699

    C139.604,378.282,94.846,390.721,50,385.436c37.406,23.982,81.837,37.977,129.571,37.977c156.932,0,245.595-132.551,240.251-251.435

    C436.339,160.061,450.668,145.174,462,128.223z"/>

    </svg></a></li>

    <li><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http%3a%2f%2ftrainco-dev.imulus-client.com%2fpublic-seminars%2felectrical-training%2felectrical-fundamentals%2fbasic-electrical-training%2f&amp;title=Basic+Electrical+Training+-+TPC+Trainco&amp;summary=&amp;source=" target="_blank" class="regular-link">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
    <path id="linkedin-icon" d="M150.65,100.682c0,27.992-22.508,50.683-50.273,50.683c-27.765,0-50.273-22.691-50.273-50.683

    C50.104,72.691,72.612,50,100.377,50C128.143,50,150.65,72.691,150.65,100.682z M143.294,187.333H58.277V462h85.017V187.333z

    M279.195,187.333h-81.541V462h81.541c0,0,0-101.877,0-144.181c0-38.624,17.779-61.615,51.807-61.615

    c31.268,0,46.289,22.071,46.289,61.615c0,39.545,0,144.181,0,144.181h84.605c0,0,0-100.344,0-173.915

    s-41.689-109.131-99.934-109.131s-82.768,45.369-82.768,45.369V187.333z" />

    </svg>
    </a></li>
        <li><a href="mailto:@Html.Raw(shareMailto)" class="regular-link social-email"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"

         width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
    <path id="email-2-icon" d="M49.744,103.407v305.186H50.1h411.156h1V103.407H49.744z M415.533,138.407L255.947,260.465
        L96.473,138.407H415.533z M84.744,173.506l85.504,65.441L84.744,324.45V173.506z M85.1,373.593l113.186-113.186l57.654,44.127
        l57.375-43.882l112.941,112.94H85.1z M427.256,325.097l-85.896-85.896l85.896-65.695V325.097z"/></svg></a></li>
    </ul>'>Share</a>
      </div>
      <!-- end -->

      <div id="#overview"></div>
      <div class="row">
        <h2>Seminar Overview</h2>
        <p class="course-detail--intro">
          In Day One – “Understanding Industrial Electricity” - students will gain a basic understanding of how electricity works in commercial and industrial settings. Starting with easily understood analogies to explain the fundamentals of electricity, students
          are then quickly immersed in practical, real world examples that illustrate how electricity is distributed and used in their plants and facilities. They’ll learn how to use electrical test equipment in their everyday jobs before moving on to
          an in-depth discussion about major electrical components, where & how these components work, and their purposes within electrical systems.</p>
        <p class="course-detail--intro">
          Day Two of the air conditioning and refrigeration training is for people who already have a good foundation in AC&R components and systems. Students are taught common practices (and some "tricks-of-the-trade") for general operation and maintenance of
          their AC&R systems. They will learn about maintenance schedules and servicing, system diagnostics, troubleshooting, and fine tuning to gain maximum efficiency. Also covered are an introduction to commercial and industrial chillers, regulatory
          laws and energy conservation. Overall, we will help you get the maximum life out of your AC&R systems while keeping it up and running as efficiently and consistently as possible.
        </p>
      </div>
      <!-- Column area -->
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h2>Day One</h2>
          <strong>Electrical Fundamentals</strong>
          <ul class="list-unstyled">
            <li>
              Production & Distribution of Electricity
            </li>
            <li>
              DC and AC in Plants and Facilities – Hands-on Exercise
            </li>
            <li>
              Voltage, Current and Resistance; Ohm’s Law
            </li>
            <li>
              Basic Electrical Circuits: Series/Parallel - Hands-on Exercise
            </li>
            <li>
              Power: Types & Control
            </li>
            <li>
              Single-phase and Three-phase Systems
            </li>
            <li>
              Workplace Electrical Safety
            </li>
          </ul>

          <strong>Electrical Test Equipment</strong>
          <ul class="list-unstyled">
            <li>
              Multimeters – Hands-on Exercise
            </li>
            <li>
              Voltage Testers
            </li>
          </ul>

          <strong>Verifying a Circuit De-energized – Hands-on Exercises</strong>
          <ul class="list-unstyled">
            <li>
              3 Modes of Failure: Opens, Shorts & Ground Faults
            </li>
            <li>
              Clamp-on Ammeter, Megohmmeters & Others
            </li>
            <li>
              Understanding Your Building Electrical System
            </li>
            <li>
              Reading Electrical Single-Line Diagrams
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-6">
          <h2>Day Two</h2>
          <strong>Electrical Fundamentals</strong>
          <ul class="list-unstyled">
            <li>
              Production & Distribution of Electricity
            </li>
            <li>
              DC and AC in Plants and Facilities – Hands-on Exercise
            </li>
            <li>
              Voltage, Current and Resistance; Ohm’s Law
            </li>
            <li>
              Basic Electrical Circuits: Series/Parallel - Hands-on Exercise
            </li>
            <li>
              Power: Types & Control
            </li>
            <li>
              Single-phase and Three-phase Systems
            </li>
            <li>
              Workplace Electrical Safety
            </li>
          </ul>

          <strong>Electrical Test Equipment</strong>
          <ul class="list-unstyled">
            <li>
              Multimeters – Hands-on Exercise
            </li>
            <li>
              Voltage Testers
            </li>
          </ul>

          <strong>Verifying a Circuit De-energized – Hands-on Exercises</strong>
          <ul class="list-unstyled">
            <li>
              3 Modes of Failure: Opens, Shorts & Ground Faults
            </li>
            <li>
              Clamp-on Ammeter, Megohmmeters & Others
            </li>
            <li>
              Understanding Your Building Electrical System
            </li>
            <li>
              Reading Electrical Single-Line Diagrams
            </li>
          </ul>
        </div>
      </div>
      <!-- end column area -->
      <div class="row">

        <h2>Continuing Education Units (CEUs)</h2>
        <div id="#ceu"></div>
        <p>Upon completion of this seminar, the student will receive a certification of completion with 8 classroom hours (.8 American Trainco CEUs) per day attended. Visit our continuing education units page to determine if this class is accepted by your
          state licensing agency.</p>
        <p><a href="/about/guarantee/" title="No Risk Registration &amp; Money Back Guarantee">Click HERE to read our No Risk Registration and Money-Back Guarantee policy</a></p>
      </div>
      <div class="row">
        <h2>Optional ATMT&#174; Certification Exam</h2>
        <p>
          Upon completion of this seminar, the student will receive a certification of completion with 8 classroom hours (.8 TPC Trainco CEUs) per day attended. Visit our continuing education units page to determine if this class is accepted by your state licensing
          agency.
        </p>
      </div>
      <div class="row">
        <h2>Block Purchase Program</h2>
        <p>If you have a large number of people attending a variety of different training seminars, a block purchase might be right for you.</p>
        <p><a href="/block-purchase-program/" title="Block Purchase Program">Learn More</a></p>
      </div>
</div>
</div>
<div id="register-seminars" class="row" data-classid="292">
  <!-- <table tr-ng-grid items='seminar.seminarLocations'></table> -->

<div class="container">


  <div class="col-md-6" ng-repeat="(key, value) in seminar.seminarLocations | groupBy: 'state'">
    <h3><strong>{{ key }}</strong></h3>
    <table class="table table-striped" width="90%">
      <tbody>
      <tr ng-repeat="location in value" ng-class-odd="odd" ng-class-even="even">
        <td width="155px">
          {{ location.city }}
        </td>
        <td width="185px">
            {{ location.date}}
        </td>
        <td width="155px">
          <a uib-popover-template="seminar.dynamicPopover.templateUrl" class="register-link" ng-click="seminar.storeCourseId(id)">Register</a>
        </td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
</div>
</div>
  <div class="container-fluid onsite-section">
    <div class="left-skew">
      <div class="skewed-side">
        <div class="inner">
          <h2 class="callout-headline">Take advantage of our on-site training
          program.</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis
          euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi
          leo risus, porta ac consectetur ac, vestibulum at eros. Praesent
          commodo cursus magna.</p><a class="btn-reg btn-white" href="#" role=
          "button">Learn More</a>
        </div>
      </div>
    </div>
    <div class="right-img"><img alt="See our on-site programs" src=
    "/assets/images/on-site.jpg"></div>
  </div>
  <tpc-footer></tpc-footer>
<script>


  var regSem = document.getElementById('register-seminars');
  var classId = regSem.dataset.classid;
  localStorage.setItem('classId', classId);
    // Scroller
$(function() {
    $('a.page-scroll').bind('click', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top
        }, 1500, 'easeInOutExpo');
        event.preventDefault();
    });
});

// Highlight the top nav as scrolling occurs
$('body').scrollspy({
    target: '.navbar-lower'
})

// Closes the Responsive Menu on Menu Item Click
$('.navbar-collapse ul li a').click(function() {
    $('.navbar-toggle:visible').click();
});

</script>
