<div class="seminar-popover">
<ul class="list-inline">
    <li>
      <h3><strong>{{location.city}}</strong></h3>
    </li>
    <li>
        {{ location.date}}
    </li>
    <li>
      Register
    </li>
  </ul>

<p ng-bind="location.locationDetails"></p>
<table class="table table-striped">
  <tr>
    <th>
      Training Days
    </th>
    <th>
      Price
    </th>
    <th>
      Attendees
    </th>
  </tr>
  <tbody>
  <tr>
    <td width="255px">
      {{location.daysTitle}}
    </td>
    <td width="125px">
    ${{location.price}}
    </td>
    <td width="75px">
            <div class="col-sm-2 col-xs-3 result-attendee-wrapper">
              <input class="attendee-input" ng-model="qty" string-to-number value="{{qty}}" type="number" min="0" class="" name="qty">
              <input id="cart-btn" class="btn btn-reg btn-blue-solid" ng-show="qty" ng-click="seminar.addItemToCart(location, qty || 1)" type="button" name="name" value="Add to Cart">
            </div>
      </td>
  </tr>
</tbody>
</table>
</div>
