@mixin font-headline($size, $color) {
  font-size: $size;
  color: $color;
}

@mixin font-italic($size, $color) {
  font-weight: 700;
  font-size: $size;
  font-style: italic;
  color: $color;
}

@mixin transform($var...){
    -webkit-transform: $var;
    -moz-transform: $var;
    -ms-transform: $var;
    -o-transform: $var;
    transform: $var;
}

@mixin vendor($prop, $vals) {
  -webkit-#{$prop}: $vals;
  -moz-#{$prop}: $vals;
  #{$prop}: $vals;
}

@mixin corners($radius) {
  @include vendor('border-radius', $radius);
}

@mixin size($w: auto, $h: auto) {
  width  : $w;
  height : $h;
}
