
<div class="row" style="padding-top: 200px;">
  <div class="container">
    {{detail.seminarDetails.scheduleDetail.locationSchedule}}
    <h2>{{detail.seminarDetails.scheduleDetail.locationSchedule.city}}</h2> {{ detail.seminarDetails.scheduleDetail.locationSchedule.date}}
    <br />
    <table class="table table-striped">
      <tr>
        <th>
          Training Days
        </th>
        <th>
          Price
        </th>
        <th>
          Attendees
        </th>
      </tr>
      <tbody ng-repeat="sem in detail.seminarDateDetails">
        <tr>
          <td width="255px">
            {{detail.seminarDetails.scheduleDetail.locationSchedule.daysTitle}}
          </td>
          <td width="125px">
            ${{sem.price}}
          </td>
          <td>
            <div class="col-sm-2 col-xs-3 result-attendee-wrapper">
              <input class="attendee-input" ng-model="qty" string-to-number value="{{qty}}" type="number" min="0" class="" name="qty">
              <input id="cart-btn" class="btn btn-reg btn-blue-solid" ng-show="qty" ng-click="detail.addItemToCart(sem, qty || 1)" type="button" name="name" value="Add to Cart">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
