@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    
}
<form>
    <div class="form-group">
        <input type="text" class="form-control" id="fname" placeholder="First Name">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" id="lname" placeholder="Last Name">
    </div>

    <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Email">
    </div>

    <div class="form-group company-state-wrap">
        <div class="col-xs-8 company-wrap">
            <input type="text" class="form-control" id="company" placeholder="Company">
        </div>
        <div class="col-xs-4 state-wrap">
            <select class="form-control" id="state" name="state">
                <option value="" disabled selected>State</option>
                <option value="AK">Alaska</option>
                <option value="AL">Alabama</option>
                <option value="AR">Arkansas</option>
                <option value="AZ">Arizona</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DC">District of Columbia</option>
                <option value="DE">Delaware</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="IA">Iowa</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="MA">Massachusetts</option>
                <option value="MD">Maryland</option>
                <option value="ME">Maine</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MO">Missouri</option>
                <option value="MS">Mississippi</option>
                <option value="MT">Montana</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="NE">Nebraska</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NV">Nevada</option>
                <option value="NY">New York</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="PR">Puerto Rico</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VA">Virginia</option>
                <option value="VT">Vermont</option>
                <option value="WA">Washington</option>
                <option value="WI">Wisconsin</option>
                <option value="WV">West Virginia</option>
                <option value="WY">Wyoming</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" id="phone" placeholder="Phone">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" id="trainees" placeholder="# of Trainees">
    </div>

    <div class="form-group">
        <select class="form-control" id="subject" name="subject">
            <option value="" disabled selected>Subject of Interest</option>
            <option value="">Electrical</option>
            <option value="">HVAC</option>
            <option value="">Plant Management</option>
            <option value="">Mechanical &amp; Industrial</option>
        </select>
    </div>

    <div class="form-group">
        <select class="form-control" id="hear" name="hear">
            <option value="" disabled selected>How did you hear about us?</option>
            <option value="direct-mail">Direct Mail</option>
            <option value="internet">Internet</option>
            <option value="print">Print Ad</option>
            <option value="email">Email</option>
            <option value="referral">Referral</option>
            <option value="tradeshow">Trade Show</option>
            <option value="other">Other</option>
        </select>
    </div>

    <div class="form-group promo-wrap">
        <input type="text" class="form-control" id="promo" placeholder="Enter promo code">
    </div>

    <button type="submit" class="btn-reg btn-blue-solid" id="caro-form-submit">Submit</button>
</form>