@using TPCTrainco.Umbraco.Extensions.Helpers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    IPublishedContent settingsPage = Nodes.SiteSettingsDirect();
    string location = ViewBag.location != null ? ViewBag.location : "";
}
<div class="location-courses-page ng-cloak"  ng-controller="RegisterController as ctrl">
    @Html.Hidden("location", location)
    <div class="slider-wrap location-seminars-slider" id="register-seminars">
        <rzslider rz-slider-model="ctrl.monthsSlider.minValue" ng-model="ctrl.monthsSlider" rz-slider-high="ctrl.monthsSlider.maxValue" rz-slider-options="ctrl.monthsSlider.options"></rzslider>
    </div>
    <div dw-loading="courses" dw-loading-options="ctrl.options">
        <!-- No Results -->
        <div class="empty-results" ng-if="ctrl.seminarLocations.length == 0">
            @if (settingsPage != null && false == string.IsNullOrEmpty(settingsPage.GetPropertyValue<string>("emptyResultsText")))
            {
                @Html.Raw(settingsPage.GetPropertyValue<string>("noResultsText"))
            }
        </div>
        <!-- END No Results -->
        <!-- Search Results -->
        <div class="course-list" ng-if="ctrl.seminarLocations.length">
            <div class="row course-row" ng-repeat="courses in ctrl.seminarLocations">
                <div class="col-md-6 location-course" ng-repeat="course in courses | flatten" ng-init="ctrl.setLimit(course.id,course.locationSchedules.length)">
                    <div class="faceted-result no-margin">
                        <section class="row">
                            <div class="col-md-2">
                                <img ng-src="{{course.imageUrl}}" class="course-img img-circle">
                                <h4 class="result-price">${{course.price}}</h4>
                            </div>
                            <div class="col-md-10" style="padding-left: 15px;">
                                <h2 class="result-course-title"><a ng-href="{{course.detailsUrl}}">{{course.title}}</a></h2>
                                <p class="result-course-subtitle">{{course.subTitle}}</p>
                            </div>
                        </section>
                        <section class="row result-table-head">
                            <div class="col-md-5 col-sm-10 col-xs-9">Location</div>
                            <div class="col-xs-5 hide-responsive">Seminar Information</div>
                            <div class="col-sm-2 col-xs-3 result-attendee-wrapper">Attendees</div>
                        </section>
                        @*<section class="row result-table-body simulcast" ng-if="course.simulcastSchedules.length > 0">
                                <h3 class="no-margin">Simulcast Courses <span><span class="small btn-learnmore" ng-click="ctrl.toggleSimulcastDescription($event)">( <span class="action">+</span> What's a simulcast? )</span></span></h3>
                                <span class="result-course-subtitle">In addition to classroom locations shown below, this course is also available as a simulcast - a live, web-based connection to a classroom seminar.</span>
                                <div class="text-learnmore result-course-subtitle hide">
                                    <p>Our simulcast option allows students to connect to a live classroom seminar via a web link, with the ability to participate fully in the classroom dialogue, exercises, and Q&A throughout the 2-day live course.</p>
                                    <p>Simulcast students receive all classroom materials electronically, full technical support during the event, a certificate of completion for 1.6 CEUs, and the same No-Risk Registration and Money-Back Guarantee as our classroom students.</p>
                                </div>
                                <hr class="no-margin" />
                                <div class="result-location-row" ng-repeat="location in course.simulcastSchedules">
                                    <div class="col-md-5 col-sm-10 col-xs-9 result-location">
                                        <span class="city">{{::location.city}}</span>
                                        <span class="date-responsive">{{::location.date}}</span>
                                    </div>
                                    <div class="col-xs-5 result-date">
                                        {{::location.date}}
                                        <span>{{location.locationDetails}}</span>
                                    </div>

                                    <div class="col-sm-2 col-xs-3 result-attendee-wrapper">
                                        <input class="attendee-input" type="tel" min="1" ng-model="location.qty" string-to-number />
                                        <input class="cart-btn btn btn-reg btn-blue-solid"
                                               type="button"
                                               value="Add to Cart"
                                               ng-show="location.qty > 0"
                                               ng-click="ctrl.addItemToCart(location, location.qty, $event)" />
                                    </div>
                                </div>
                            </section>*@
                        <section class="row result-table-body" ng-if="course.locationSchedules.length > 0">
                            @*<h3 class="no-margin">Classroom Courses</h3>*@
                            @*<hr class="no-margin" />*@
                            <div class="result-location-row"
                                 ng-repeat="location in course.locationSchedules | limitTo: ctrl.limits[course.id].limit">
                                <div class="col-md-5 col-sm-10 col-xs-9 result-location">
                                    <span class="state">{{::location.state}}</span>
                                    <span class="city">{{::location.city}}</span>
                                    <span class="date-responsive">{{::location.date}}</span>
                                </div>
                                <div class="col-xs-5 result-date">
                                    {{::location.date}}
                                    <span>{{location.locationDetails}}</span>
                                </div>

                                <div class="col-sm-2 col-xs-3 result-attendee-wrapper">
                                    <input class="attendee-input" type="tel" min="1" ng-model="location.qty" string-to-number />
                                    <input class="cart-btn btn btn-reg btn-blue-solid"
                                           type="button"
                                           value="Add to Cart"
                                           ng-show="location.qty > 0"
                                           ng-click="ctrl.addItemToCart(location, location.qty, $event)" />
                                </div>
                            </div>
                            <span class="additional-showing" ng-if="ctrl.showAdditional(course.id)" ng-click="ctrl.additionalClick(course.id,$event)"><i class="fa fa-plus-circle"></i> Show additional seminars for this topic</span>
                            <span class="additional-showing" ng-if="ctrl.showLess(course.id)" ng-click="ctrl.lessClick(course.id,$event)"><i class="fa fa-minus-circle"></i> Show less seminars for this topic</span>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <!-- <ul class="pagination-btn-wrapper" ng-hide="ctrl.showDirections">
            <li>
                <button class="btn-pagination btn-pagination-left"
                        ng-disabled="ctrl.mainCurrentPage == 0"
                        ng-click="ctrl.mainCurrentPage=ctrl.mainCurrentPage-1">
                    <i class="fa fa-chevron-left"></i> Previous
                </button>
            </li>
            <li><p class="pagination-length">{{ ctrl.mainCurrentPage + 1 }} / {{ ctrl.semLocLength | number:0}}</p></li>
            <li>
                <button class="btn-pagination btn-pagination-right"
                        ng-disabled="ctrl.mainCurrentPage >= ctrl.semLocLength - 1"
                        ng-click="ctrl.goNextPage()">
                    Next <i class="fa fa-chevron-right"></i>
                </button>
            </li>
        </ul>-->
    </div>
</div>