@using TPCTrainco.Umbraco.Extensions.Helpers
@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    string htmlContent = Nodes.OnSiteSeminarLinks();
}
<div class="col-xs-12 col-md-6">
    @Html.Raw(htmlContent)
</div>