@using TPCTrainco.Umbraco.Extensions.Helpers
@using Umbraco.Web
@using Umbraco.Core.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    IPublishedContent homePage = Model.AncestorsOrSelf(1).First();
    IPublishedContent searchSeminarNode = Nodes.Instance.SeminarSearch;
}
<script type="text/template" id="classTemplate">
    <div class="result-description">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <img src="<%= imageUrl %>" alt="All Seminars" />
            </div>
            <div class="col-xs-12 col-md-8 text-desc">
                <h2><a href="<%= detailsUrl %><%= window.location.hash %>"><%= title %></a></h2>
                <p><%= subTitle %></p>
                <span class="view-opts" data-course="<%= courseId %>">View Upcoming Seminars</span>
            </div>
            <li class="spinner location-loader">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </li>
        </div>
    </div>
    <ul class="schedule-item-wrap row"></ul>
</script>

<script type="text/template" id="locationTemplate">
    <div class="location col-xs-12 col-sm-10 col-sm-offset-1">
        <p><%= cityState %><img src="/images/icon-info.png" class="location-icon" /><span class="tooltip-msg location-msg"><%= locationDetails %></span></p>
    </div>
    <div class="schedule-items-wrap"></div>
</script>


<script type="text/template" id="scheduleTemplate">
    <ul class="schedule col-xs-12">
        <li class="col-xs-12 col-sm-2 col-md-2 col-md-offset-1"><%= daysTitle %></li>
        <li class="date col-xs-12 col-sm-3 col-md-2"><%= date %></li>
        <li class="sub-total col-xs-12 col-sm-1 col-md-2">$<span class="item-sub-total"></span><%= price %></li>
        <li class="attendees col-xs-12 col-sm-3 col-md-2"><span class="attendees-label">Attendees:</span><input type="text" name="quantity" class="class-qty"><span class="tooltip-msg attendee-msg">Please enter a quantity.</span></li>
        <li class="col-xs-12 col-sm-3 col-md-3"><a href="javascript:void(0);" class="btn-reg btn-blue-hollow add-to-cart" data-id="<%= id %>">Add to Cart</a></li>
    </ul>
</script>
  <script>
    var regSem = document.getElementById('register-seminars');
    var classId = regSem.dataset.classid;
    localStorage.setItem('classId', classId);
  
  </script>
