@using TPCTrainco.Umbraco.Extensions
@using TPCTrainco.Umbraco.Extensions.Helpers
@using TPCTrainco.Umbraco.Extensions.Objects
@using TPCTrainco.Umbraco.Extensions.ViewModels
@using Umbraco.Web
@using Umbraco.Core.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    string searchButtonId = Model.DocumentTypeAlias == "HomePage" ? "search-btn-home" : "search-btn";
    string currentCityState = "";

    IPublishedContent homePage = Model.AncestorsOrSelf(1).First();
    IPublishedContent searchSeminarNode = Nodes.Instance.SeminarSearch;

    IPublishedContent seminarMainOverview = homePage.Children.FirstOrDefault(n => n.IsDocumentType("SeminarMainOverview"));
    IEnumerable<IPublishedContent> seminarCategoryList = seminarMainOverview.Children.Where(n => n.IsDocumentType("SeminarCategory"));
    
    IPublishedContent seminarCatalog = homePage.Descendants("SeminarCatalog").FirstOrDefault();
    
    //List locations

    List<City> cityList = CacheObjects.GetCityList();
    List<State> stateList = CacheObjects.GetStateList();

    string allIconUrl = "";
    string allTotalSeminars = "";
    
    if (seminarCatalog != null)
    {
        allIconUrl = seminarCatalog.GetCropUrl("searchIcon", "Image");

        if (true == seminarCatalog.HasValue("totalSeminars"))
        {
            allTotalSeminars = "<p class=\"num-seminars\">" + string.Format("{0:N0}", seminarCatalog.GetPropertyValue<decimal>("totalSeminars")) + " Total Seminars</p>";
        }
        
    }
    
    if (Request.QueryString["homeref"] != null && Request.QueryString.Get("homeref").Length > 0)
    {

    }
    else
    {
        //Get current GeoCoordinate
        string ipAddress = System.Web.HttpContext.Current.Request.UserHostAddress;

        TPCTrainco.Umbraco.Extensions.Models.CoordinateDetails coordDetails = GeoCoordinates.GetCoordinateDetailsFromIp(ipAddress);

        if (coordDetails != null)
        {
            currentCityState = coordDetails.City + ", " + coordDetails.StateCode;
        }
    }
}
    <div class="row" ui-view>
    </div>
