@using TPCTrainco.Umbraco.Extensions
@using TPCTrainco.Umbraco.Extensions.Helpers
@using TPCTrainco.Umbraco.Extensions.Objects
@using TPCTrainco.Umbraco.Extensions.ViewModels
@inherits UmbracoTemplatePage

@{
    //List locations

    List<City> cityList = CacheObjects.GetCityList();
    List<State> stateList = CacheObjects.GetStateList();

    //Get current GeoCoordinate
    string currentCityState = "";

    TPCTrainco.Umbraco.Extensions.Models.CoordinateDetails coordDetails = GeoCoordinates.GetCoordinateDetailsFromIp(System.Web.HttpContext.Current.Request.UserHostAddress);

    if (coordDetails != null)
    {
        currentCityState = coordDetails.City + ", " + coordDetails.StateCode;
    }
}

<div id="register-seminars" class="row" ng-controller="SeminarController as seminar" data-classid="@CurrentPage.courseLink">
  <div class="container">
    <h2 class="seminar-detail-header">Upcoming Dates and Locations</h2>
    <!-- includes the angular template -->
    <div ng-include="'/app/seminar/seminar.html'"></div>
    <!-- end angular template -->
    <div class="container">
      <div class="row">
        <div class="semdetail-text-center">
          <h3>To find other courses by topic, location, and date, search our full catalog.</h3>
          <a href="/search-seminars/" target="_self" class="btn-reg" role="button">Search our catalog</a>
        </div>
      </div>
    </div>
  </div>
</div>


@Html.Partial("SeminarSearch/JavascriptTemplates")
