@using TPCTrainco.Umbraco.Extensions
@using TPCTrainco.Umbraco.Extensions.Helpers
@using TPCTrainco.Umbraco.Extensions.Objects
@using TPCTrainco.Umbraco.Extensions.ViewModels
@inherits UmbracoTemplatePage

@{
    //List locations

    List<City> cityList = CacheObjects.GetCityList();
    List<State> stateList = CacheObjects.GetStateList();

    //Get current GeoCoordinate
    string currentCityState = "";

    TPCTrainco.Umbraco.Extensions.Models.CoordinateDetails coordDetails = GeoCoordinates.GetCoordinateDetailsFromIp(System.Web.HttpContext.Current.Request.UserHostAddress);

    if (coordDetails != null)
    {
        currentCityState = coordDetails.City + ", " + coordDetails.StateCode;
    }
}
 <a name="register-seminars"></a>
<div id="register-seminars" class="row ng-cloak" ng-controller="SeminarController as seminar" data-classid="@CurrentPage.courseLink">
  <div class="container">
    <p class="slider-instructions">
      <h2 style="text-align: center;">Upcoming Dates and Locations</h2>
    </p>
  <div class="slider-wrap">
      <rzslider rz-slider-model="seminar.monthsSlider.minValue" ng-model="seminar.monthsSlider"  rz-slider-high="seminar.monthsSlider.maxValue" rz-slider-options="seminar.monthsSlider.options"></rzslider>
    </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 course-col-header">
            <span class="left-course-head seminar-register">Choose your date range, then select a date/location from the list below.</span>
          </div>
          <div class="col-sm-12 col-md-6 course-col-header">
            <a class="register-link seminar-training" href="/on-site-training/">Want this training at your facility instead?</a>
          </div>
        </div>
      <div class="empty-results" ng-if="seminar.seminarLocations.length == 0 && seminar.seminarSimulcast.length == 0">
        <div class="no-results">
          <h2>Sorry, no results were found.</h2>
          <p>
          Browse the catalog using the dates below.
          </p>
        </div>
        <ul class="empty-results-tags">
            <li><a href="/public-seminars/electrical-training/">Electrical</a></li>
            <li><a href="/public-seminars/hvac-training/">HVAC</a></li>
            <li><a href="/public-seminars/plant-management/">Plant Management</a></li>
            <li><a href="/public-seminars/mechanical-and-industrial-training/">Mechanical &amp; Industrial</a></li>
        </ul>
      </div>
      
      <ul ng-if="seminar.seminarSimulcast.length > 0" class="no-margin">
          <li ng-class="{'seminar-loc--block simulcast': filteredSeminars.length > 0}">
              <div ng-repeat="event in seminar.seminarSimulcast | filter: seminar.isBetween(event.dateMonthYear) as filteredSeminars">
                  <div ng-if="$first">
                      <h3 class="state-name no-margin"><strong>Simulcast Web-Based Option</strong></h3>
                      <span>Don't see a date/location that works? Connect online to a live classroom seminar on the date below </span><span class="small btn-learnmore" ng-click="seminar.toggleSimulcastDescription($event)">( <span class="action">+</span> What's a simulcast? )</span>
                      <div class="text-learnmore hide">
                          <p>Our simulcast option allows students to connect to a live classroom seminar via a web link, with the ability to participate fully in the classroom dialogue, exercises, and Q&A throughout the 2-day live course.</p>
                          <p>Simulcast students receive all classroom materials electronically, full technical support during the event, a certificate of completion for 1.6 CEUs, and the same No-Risk Registration and Money-Back Guarantee as our classroom students.</p>
                      </div>
                  </div>
                  <div class="location-row">
                      <ul class="seminar-loc--row">
                          <div class="result-table-body ">
                              <li class="faux-head--city col-xs-4 col-md-4">
                                  <span class="city-name">{{ event.city }}</span>
                              </li>
                              <li class="faux-head--date col-xs-5 col-md-4">
                                  <span class="event-date">{{ event.date }}</span>
                              </li>
                              <li class="faux-head--register col-xs-3 col-md-4">
                                  <a uib-popover-template="seminar.detailPop.templateUrl" popover-trigger="outsideClick" popover-placement="top" class="register-link" ng-click="seminar.registerSem({id: event.id})">Register <i class="fa fa-chevron-down"></i> </a>
                              </li>
                          </div>
                      </ul>
                      <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>
              </div>
          </li>
    </ul>
      <ul ng-if="seminar.seminarLiveOnline.length > 0" class="no-margin">
          <li ng-class="{'seminar-loc--block simulcast': filteredSeminars.length > 0}">
              <div ng-repeat="event in seminar.seminarLiveOnline | filter: seminar.isBetween(event.dateMonthYear) as filteredSeminars">
                  <div ng-if="$first">
                      <h3 class="state-name no-margin"><strong>Goto Training Web-Based Option</strong></h3>
                      <span>Don't see a date/location that works? Connect online to a live classroom seminar on the date below </span><span class="small btn-learnmore" ng-click="seminar.toggleSimulcastDescription($event)">( <span class="action">+</span> What's a simulcast? )</span>
                      <div class="text-learnmore hide">
                          <p>Our simulcast option allows students to connect to a live classroom seminar via a web link, with the ability to participate fully in the classroom dialogue, exercises, and Q&A throughout the 2-day live course.</p>
                          <p>Simulcast students receive all classroom materials electronically, full technical support during the event, a certificate of completion for 1.6 CEUs, and the same No-Risk Registration and Money-Back Guarantee as our classroom students.</p>
                      </div>
                  </div>
                  <div class="location-row">
                      <ul class="seminar-loc--row">
                          <div class="result-table-body ">
                              <li class="faux-head--city col-xs-4 col-md-4">
                                  <span class="city-name">{{ event.city }}</span>
                              </li>
                              <li class="faux-head--date col-xs-5 col-md-4">
                                  <span class="event-date">{{ event.date }}</span>
                              </li>
                              <li class="faux-head--register col-xs-3 col-md-4">
                                  <a uib-popover-template="seminar.detailPop.templateUrl" popover-trigger="outsideClick" popover-placement="top" class="register-link" ng-click="seminar.registerSem({id: event.id})">Register <i class="fa fa-chevron-down"></i> </a>
                              </li>
                          </div>
                      </ul>
                      <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>
              </div>
          </li>
      </ul>
    <ul ng-if="seminar.seminarLocations.length > 0">
      <li class="seminar-loc--block" ng-repeat="location in seminar.seminarLocations | filter: seminar.isBetween(location.dateMonthYear) | groupBy:'state'">
        <h3 class="state-name"><strong>{{ location[0].state }}</strong></h3>
        <div class="location-row">
          <ul class="seminar-loc--row" ng-repeat="event in location ">
            <div class="result-table-body ">
              <li class="faux-head--city col-xs-4 col-md-4">
                <span class="city-name">{{ event.city }}</span>
              </li>
              <li class="faux-head--date col-xs-5 col-md-4">
                <span class="event-date">{{ event.date}}</span>
              </li>
              <li class="faux-head--register col-xs-3 col-md-4">
                <a uib-popover-template="seminar.detailPop.templateUrl" popover-trigger="outsideClick"  popover-placement="top" class="register-link" ng-click="seminar.registerSem({id: event.id})">Register <i class="fa fa-chevron-down"></i> </a>
              </li>
            </div>
          </ul>
        </div>
      </li>
    </ul>
    <div class="container">
      <div class="row">
        <div class="semdetail-text-center">
          <h3>To find other courses by topic, location, and date, search our full catalog.</h3>
          <a href="/public-seminars/course-catalog/" target="_self" class="btn-reg" role="button">Search our catalog</a>
        </div>
      </div>
    </div>
  </div>
</div>


@Html.Partial("SeminarSearch/JavascriptTemplates")
