$body-copy: #8a8a8a;
$red-hover: #f04b49;
$red-text: #c6211f;
$red-background: #d81d1c;
$slider-red: #e44f4d;
$headline-black: #3e3e3e;
$headline-black-on-white: #5c5c5c;
$cart-copy: #646464;
$cart-border: #d7d7d7;
$white: #fff;
$red-button: $red-text;
$red-button-hover: $red-hover;
$red-input-border: $red-hover;
$blue: #0090c5;
$search-select-fill: #0090c5;
$gray-background: #f9f9f9;
$black-background: #3a3a3a;
$nav-hover-bg: #6b6969;


$headline-size: 2.25em;
