@inherits Umbraco.Web.Macros.PartialViewMacroPage

<div class="row" id="count">
    <div class="col-sm-4 col-xs-7 number-callout">
        <h3 data-num="1" data-value="90%">%</h3>
        <p>Fewer Accidents</p>
    </div>

    <div class="col-sm-4 col-xs-7 number-callout">
        <h3 data-num="1" data-value="35">-</h3>
        <p>Different Seminars</p>
    </div>

    <div class="col-sm-4 col-xs-7 number-callout">
        <h3 data-num="2" data-value="100k">k</h3>
        <p>Seminars to Date</p>
    </div>
</div>