@inherits Umbraco.Web.Macros.PartialViewMacroPage

<div class="row" id="count">
    <div class="col-sm-4 col-xs-7 number-callout">
        <h3 data-num="1">90%</h3>
        <p>Fewer Accidents</p>
    </div>

    <div class="col-sm-4 col-xs-7 number-callout">
        <h3 data-num="1">35</h3>
        <p>Different Seminars</p>
    </div>

    <div class="col-sm-4 col-xs-7 number-callout">
        <h3 data-num="2">100k</h3>
        <p>Seminars to Date</p>
    </div>
</div>