@inherits Umbraco.Web.Macros.PartialViewMacroPage

<div class="row" id="count">
    <div class="col-sm-4 col-xs-7 number-callout">
        <h3 data-num="1" data-value="150k+">-</h3>
        <p>Workers trained since 2004</p>
    </div>

    <div class="col-sm-4 col-xs-7 number-callout">
        <h3 data-num="1" data-value="2000+">-</h3>
        <p>Seminars nationwide each year</p>
    </div>

    <div class="col-sm-4 col-xs-7 number-callout">
        <h3 data-num="2" data-value="30+">-</h3>
        <p>Maintenance topics covered</p>
    </div>
</div>