@inherits Umbraco.Web.Macros.PartialViewMacroPage

@if (Model.MacroParameters["FormGuid"] != null)
{
    var s = Model.MacroParameters["FormGuid"].ToString();
    var g = new Guid(s);

    try
    {
        Html.RenderAction("Render", "UmbracoForms", new { formId = g });
    }
    catch (Exception ex)
    {
        <p>ERROR: @ex.ToString()</p>
        <p>ERROR: @ex.InnerException.ToString()</p>
    }
}
