<div class="filter-topic">
  <h4 class="sidebar-h4">Search By:</h4>
  <label class="sidebar-label">Seminar Topic</label>
  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" aria-label="..." ng-click="vm.getElectricalCourses()">Electrical
    </span>
  </div>
  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" aria-label="...">HVAC
    </span>
  </div>
  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" aria-label="...">Plant Management
    </span>
  </div>
  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" aria-label="...">Mechanical &amp; Industrial
    </span>
  </div>
  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" aria-label="...">All Seminar Topics
    </span>
  </div>
</div>
