<div class="filter-topic">
  <h4 class="sidebar-h4">Search By:</h4>
  <label class="sidebar-label">Seminar Topic</label>
  <div class="input-group"><label class="sidebar-label">
      <input type="checkbox" ng-model="vm.courseTopics.categories.electrical" ng-change="vm.stateChanged(vm.courseTopics.categories[category])">Electrical</label>
      <label class="sidebar-label">
      <input type="checkbox" ng-model="vm.courseTopics.categories.hvac" ng-change="vm.stateChanged(vm.courseTopics.categories[category])">HVAC</label>
      <label class="sidebar-label">
            <input type="checkbox" ng-model="vm.courseTopics.categories.management" ng-change="vm.stateChanged(vm.courseTopics.categories[category])">Plant Management</label>
            <label class="sidebar-label">
    <input type="checkbox" ng-model="vm.courseTopics.categories.mechanical" ng-change="vm.stateChanged(vm.courseTopics.categories[category])">Mechanical &amp; Industrial</label>
    <label class="sidebar-label">
    <input type="checkbox" ng-model="vm.courseTopics.categories.all" ng-change="vm.stateChanged(vm.courseTopics.categories[category])">All Seminar Topics</label>

</div>
</div>
