<div class="filter-topic">
  <h4 class="sidebar-h4">Search By:</h4>
  <label class="sidebar-label">Seminar Topic</label>
  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" ng-model="vm.courseTopics.electrical"aria-label="...">Electrical
    </span>
</div>
  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" ng-model="vm.courseTopics.hvac" aria-label="...">HVAC
    </span>
  </div>
  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" ng-model="vm.courseTopics.plant" aria-label="...">Plant Management
    </span>
  </div>
  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox"  ng-model="vm.courseTopics.mechanical" aria-label="...">Mechanical &amp; Industrial
    </span>
  </div>
  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox"  ng-model="all" aria-label="...">All Seminar Topics
    </span>
  </div>
</div>
