<!DOCTYPE html>
<html lang="en" dir="ltr">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>TPCTrainco</title>
        <link rel="canonical" href="http://www.XXXXX.com/" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="XXXX" />
        <meta property="og:description" content="XXXXX a sentence goeshere" />
        <meta property="og:url" content="http://www.XXXXX.com/" />
        <meta property="og:site_name" content="TPC Trainco" />
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:description" content="a sentence XXXXX"/>
        <meta name="twitter:title" content="TPC Trainco training"/>
        <meta name="twitter:domain" content="TPC Trainco"/>

        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/assets/jquery-range-slider-css/jquery-ui.structure.min.css">

        <link rel="stylesheet" type="text/css" href="/assets/jquery-range-slider-css/jquery-ui.min.css">

        <link rel="stylesheet" type="text/css" href="/assets/jquery-range-slider-css/classic-min.css">
        <!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"> -->

                <!-- AUTOFILL PLUGIN CDN -->
        <!-- ####### NEW  #########-->
        <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />

        <link rel="stylesheet" type="text/css" href="/css/main.css">



    </head>

    <!--[if lt IE 9]>
        <body class="ie8 html" >
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="/assets/js/bower_components/Respond/dest/respond.min.js"></script>
    <![endif]-->

    <body class="search-page">

        <nav class="navbar navbar-default">
            <div class="container-fluid contain">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- ####### NEW  #########-->

                    <h1 class="logo">
                        TCPTrainco
                        <a class="navbar-brand" href="/"><img src="/assets/images/tcptraincologo.png" alt="TCPTrainco Logo" /></a>
                    </h1>

                    <!-- end -->

                </div>


            </div><!-- /.container-fluid -->
        </nav>


        <div class="container-fluid intro-section search-page">
            <!-- <div class="container"> -->
                <div class="row">
                    <div class="col-md-11 topic-circles">
                        <h3>Select one or more topics and choose your location</h3>
                        <ul>
                            <li class="seminar-topic">
                                <!-- ####### NEW added data-attrs  #########-->
                                <div class="overlay-contain" data-topic="all">
                                    <div class="overlay"></div>
                                    <img src="/assets/images/selectall-icon.jpg" alt="All Seminars" />
                                </div>
                                <p>Search All Seminars</p>
                            </li>
                            <li class="seminar-topic">
                                <!-- ####### NEW added data-attrs  #########-->
                                <div class="overlay-contain" data-topic="electrical">
                                    <div class="overlay"></div>
                                    <img src="/assets/images/electrical.jpg" alt="Mechanical + Industrial" />
                                </div>
                                <p>Electrical</p>
                            </li>

                            <li class="seminar-topic">
                                <!-- ####### NEW added data-attrs  #########-->
                                <div class="overlay-contain" data-topic="HVAC">
                                    <div class="overlay"></div>
                                    <img src="/assets/images/hvac-icon.jpg" alt="Mechanical + Industrial" />
                                </div>
                                <p>HVAC</p>
                            </li>
                            <li class="seminar-topic">
                                <!-- ####### NEW  added data-attrs #########-->
                                <div class="overlay-contain" data-topic="management">
                                    <div class="overlay"></div>
                                    <img src="/assets/images/plantmgmt-icon.jpg" alt="Mechanical + Industrial" />
                                </div>
                                <p>Plant Management</p>
                            </li>

                            <li class="seminar-topic">
                                <!-- ####### NEW added data-attrs  #########-->
                                <div class="overlay-contain" data-topic="mechanical">
                                    <div class="overlay"></div>
                                    <img src="/assets/images/mechanical-icon.jpg" alt="Mechanical + Industrial" />
                                </div>
                                <p>Mechanical &amp; Industrial</p>
                            </li>

                        </ul>

                        <select id="main-search" multiple style="width:100%" data-placeholder="Choose a City or Enter a Zip Code" class="populate" data-location="">
                            <optgroup label="Alabama">
                                <option value="Birmingham, AL">Birmingham</option>
                                <option value="Huntsville, AL">Huntsville</option>
                                <option value="Mobile, AL">Mobile</option>
                            </optgroup>
                            <optgroup label="Alaska">
                                <option value="Anchorage, AK">Anchorage</option>
                            </optgroup>
                            <optgroup label="Arizona">
                                <option value="Phoenix, AZ">Phoenix</option>
                                <option value="Tucson, AZ">Tucson</option>
                            </optgroup>
                            <optgroup label="Arkansas">
                                <option value="Little Rock, AR">Little Rock</option>
                            </optgroup>
                            <optgroup label="California">
                                <option value="Bakersfield, CA">Bakersfield</option>
                                <option value="Burbank, CA">Burbank</option>
                                <option value="Fresno, CA">Fresno</option>
                                <option value="Los Angeles, CA">Los Angeles</option>
                                <option value="Modesto, CA">Modesto</option>
                                <option value="Oakland, CA">Oakland</option>
                                <option value="Ontario, CA">Ontario</option>
                                <option value="Orange County, CA">Orange County</option>
                                <option value="Sacramento, CA">Sacramento</option>
                                <option value="San Diego, CA">San Diego</option>
                                <option value="San Jose, CA">San Jose</option>
                                <option value="Santa Rosa, CA">Santa Rosa</option>
                            </optgroup>
                            <optgroup label="Colorado">
                                <option value="Denver, CO">Denver</option>
                            </optgroup>
                            <optgroup label="Connecticut">
                                <option value="Hartford, CT">Hartford</option>
                                <option value="New Britain, CT">New Britain</option>
                            </optgroup>
                            <optgroup label="Delaware">
                                <option value="Wilmington, DE">Wilmington</option>
                            </optgroup>
                            <optgroup label="District Of Columbia">
                                <option value="Washington, DC">Washington, DC</option>
                            </optgroup>
                            <optgroup label="Florida">
                                <option value="Ft. Lauderdale, FL">Ft. Lauderdale</option>
                                <option value="Ft. Myers, FL">Ft. Myers</option>
                                <option value="Jacksonville, FL">Jacksonville</option>
                                <option value="Miami, FL">Miami</option>
                                <option value="Orlando, FL">Orlando</option>
                                <option value="Tallahassee, FL">Tallahassee</option>
                                <option value="Tampa, FL">Tampa</option>
                                <option value="West Palm Beach, FL">West Palm Beach</option>
                            </optgroup>
                            <optgroup label="Georgia">
                                <option value="Atlanta, GA">Atlanta</option>
                                <option value="Augusta, GA">Augusta</option>
                                <option value="College Park, GA">College Park</option>
                                <option value="Marietta, GA">Marietta</option>
                                <option value="Norcross, GA">Norcross</option>
                            </optgroup>
                            <optgroup label="Hawaii">
                                <option value="Honolulu, HI">Honolulu</option>
                            </optgroup>
                            <optgroup label="Idaho">
                                <option value="Boise, ID">Boise</option>
                            </optgroup>
                            <optgroup label="Illinois">
                                <option value="Elk Grove Village, IL">Elk Grove Village</option>
                                <option value="Joliet, IL">Joliet</option>
                                <option value="Naperville, IL">Naperville</option>
                                <option value="Peoria, IL">Peoria</option>
                                <option value="Springfield, IL">Springfield</option>
                            </optgroup>
                            <optgroup label="Indiana">
                                <option value="Evansville, IN">Evansville</option>
                                <option value="Ft. Wayne, IN">Ft. Wayne</option>
                                <option value="Indianapolis, IN">Indianapolis</option>
                            </optgroup>
                            <optgroup label="Iowa">
                                <option value="Cedar Rapids, IA">Cedar Rapids</option>
                                <option value="Davenport, IA">Davenport</option>
                                <option value="Des Moines, IA">Des Moines</option>
                            </optgroup>
                            <optgroup label="Kansas">
                                <option value="Wichita, KS">Wichita</option>
                            </optgroup>
                            <optgroup label="Kentucky">
                                <option value="Louisville, KY">Louisville</option>
                            </optgroup>
                            <optgroup label="Louisiana">
                                <option value="Baton Rouge, LA">Baton Rouge</option>
                                <option value="Lafayette, LA">Lafayette</option>
                                <option value="New Orleans, LA">New Orleans</option>
                                <option value="Shreveport, LA">Shreveport</option>
                            </optgroup>
                            <optgroup label="Maine">
                                <option value="Portland, ME">Portland</option>
                            </optgroup>
                            <optgroup label="Maryland">
                                <option value="Baltimore, MD">Baltimore</option>
                            </optgroup>
                            <optgroup label="Massachusetts">
                                <option value="Peabody, MA">Peabody</option>
                                <option value="Worcester, MA">Worcester</option>
                            </optgroup>
                            <optgroup label="Michigan">
                                <option value="Ann Arbor, MI">Ann Arbor</option>
                                <option value="Flint, MI">Flint</option>
                                <option value="Grand Rapids, MI">Grand Rapids</option>
                                <option value="Kalamazoo, MI">Kalamazoo</option>
                                <option value="Lansing, MI">Lansing</option>
                                <option value="Romulus, MI">Romulus</option>
                            </optgroup>
                            <optgroup label="Minnesota">
                                <option value="Minneapolis, MN">Minneapolis</option>
                            </optgroup>
                            <optgroup label="Mississippi">
                                <option value="Jackson, MS">Jackson</option>
                            </optgroup>
                            <optgroup label="Missouri">
                                <option value="Kansas City, MO">Kansas City, MO</option>
                                <option value="Springfield, MO">Springfield</option>
                                <option value="St. Louis, MO">St. Louis</option>
                            </optgroup>
                            <optgroup label="Montana">
                                <option value="Helena, MT">Helena</option>
                            </optgroup>
                            <optgroup label="Nebraska">
                                <option value="Omaha, NE">Omaha</option>
                            </optgroup>
                            <optgroup label="Nevada">
                                <option value="Las Vegas, NV">Las Vegas</option></optgroup>
                                <option value="Reno, NV">Reno</option>
                            <optgroup label="New Hampshire">
                                <option value="Manchester, NH">Manchester</option>
                            </optgroup>
                            <optgroup label="New Jersey">
                                <option value="Atlantic City, NJ">Atlantic City</option>
                                <option value="New Brunswick, NJ">New Brunswick</option>
                                <option value="Newark, NJ">Newark</option>
                                <option value="Trenton, NJ">Trenton</option>
                            </optgroup>
                            <optgroup label="New Mexico">
                                <option value="Albuquerque, NM">Albuquerque</option>
                            </optgroup>
                            <optgroup label="New York">
                                <option value="Albany, NY">Albany</option>
                                <option value="Buffalo, NY">Buffalo</option>
                                <option value="Long Island, NY">Long Island</option>
                                <option value="Rochester, NY">Rochester</option>
                                <option value="Syracuse, NY">Syracuse</option>
                                <option value="White Plains, NY">White Plains</option>
                            </optgroup>
                            <optgroup label="North Carolina">
                                <option value="Charlotte, NC">Charlotte</option>
                                <option value="Greensboro, NC">Greensboro</option>
                                <option value="Raleigh, NC">Raleigh</option>
                            </optgroup>
                            <optgroup label="North Dakota">
                                <option value="Bismarck, ND">Bismarck</option>
                            </optgroup>
                            <optgroup label="Ohio">
                                <option value="Akron, OH">Akron</option>
                                <option value="Cincinnati, OH">Cincinnati</option>
                                <option value="Cleveland, OH">Cleveland</option>
                                <option value="Columbus, OH">Columbus</option>
                                <option value="Dayton, OH">Dayton</option>
                                <option value="Toledo, OH">Toledo</option>
                            </optgroup>
                            <optgroup label="Oklahoma">
                                <option value="Oklahoma City, OK">Oklahoma City</option>
                                <option value="Tulsa, OK">Tulsa</option>
                            </optgroup>
                            <optgroup label="Oregon">
                                <option value="Portland, OR">Portland</option>
                            </optgroup>
                            <optgroup label="Pennsylvania">
                                <option value="Allentown, PA">Allentown</option>
                                <option value="Harrisburg, PA">Harrisburg</option>
                                <option value="Philadelphia, PA">Philadelphia</option>
                                <option value="Pittsburgh, PA">Pittsburgh</option>
                                <option value="Scranton, PA">Scranton</option>
                            </optgroup>
                            <optgroup label="Rhode Island">
                                <option value="Providence, RI">Providence</option>
                            </optgroup>
                            <optgroup label="South Carolina">
                                <option value="Columbia, SC">Columbia</option>
                                <option value="Greenville, SC">Greenville</option>
                            </optgroup>
                            <optgroup label="South Dakota">
                                <option value="Sioux Falls, SD">Sioux Falls</option>
                            </optgroup>
                            <optgroup label="Tennessee">
                                <option value="Chattanooga, TN">Chattanooga</option>
                                <option value="Knoxville, TN">Knoxville</option>
                                <option value="Memphis, TN">Memphis</option>
                                <option value="Nashville, TN">Nashville</option>
                            </optgroup>
                            <optgroup label="Texas">
                                <option value="Arlington, TX">Arlington</option>
                                <option value="Austin, TX">Austin</option>
                                <option value="Corpus Christi, TX">Corpus Christi</option>
                                <option value="El Paso, TX">El Paso</option>
                                <option value="Houston, TX">Houston</option>
                                <option value="Lubbock, TX">Lubbock</option>
                                <option value="San Antonio, TX">San Antonio</option>
                                <option value="Temple, TX">Temple</option>
                            </optgroup>
                            <optgroup label="Utah">
                                <option value="Salt Lake City, UT">Salt Lake City</option>
                            </optgroup>
                            <optgroup label="Vermont"></optgroup>
                            <optgroup label="Virginia">
                                <option value="Norfolk, VA">Norfolk</option>
                                <option value="Richmond, VA">Richmond</option>
                            </optgroup>
                            <optgroup label="Washington">
                                <option value="Bellevue, WA">Bellevue</option>
                                <option value="Everett, WA">Everett</option>
                                <option value="Richland, WA">Richland</option>
                                <option value="Seattle, WA">Seattle</option>
                                <option value="Spokane, WA">Spokane</option>
                                <option value="Tacoma, WA">Tacoma</option>
                            </optgroup>
                            <optgroup label="West Virginia">
                                <option value="Charleston, WV">Charleston</option>
                            </optgroup>
                            <optgroup label="Wisconsin">
                                <option value="Green Bay, WI">Green Bay</option>
                                <option value="Madison, WI">Madison</option>
                                <option value="Milwaukee, WI">Milwaukee</option>
                            </optgroup>
                            <optgroup label="Wyoming"></optgroup>
                            <optgroup label="Canada">
                                <option value="Calgary, AB">Calgary, AB</option>
                                <option value="Edmonton, AB">Edmonton, AB</option>
                                <option value="Halifax, NS">Halifax, NS</option>
                                <option value="Hamilton, ON">Hamilton, ON</option>
                                <option value="Ottawa, ON">Ottawa, ON</option>
                                <option value="Regina, SK">Regina, SK</option>
                                <option value="Toronto, ON">Toronto, ON</option>
                                <option value="Vancouver, BC">Vancouver, BC</option>
                                <option value="Windsor, ON">Windsor, ON</option>
                                <option value="Winnipeg, MB">Winnipeg, MB</option>
                            </optgroup>        
                        </select>


                        <!-- <input type="hidden" id="main-search" style="width:300px"/> -->

                        <!-- datepicker goes here -->
                        <!-- ####### NEW  #########-->
                        <h4 class="select-date-text">Select a date range</h4>

                        <div id="date-range-slider"></div>



                        <!-- end datepicker -->


                        <a href="javascript:void(0);" id="search-btn" class="btn-reg btn-white" role="button">Search</a>
                        <p class="empty-location-msg">Please enter a location</p>
                    </div>
                </div>
            <!-- </div> -->
        </div>

        <!-- THE CART -->
        <div id="cart"></div>

        <div class="container-fluid results-container">
            <div class="container">
                <div class="row">
                    <div class="empty-message">
                        <p>Select a topic, city, and date range to find classes.</p>
                    </div>
                    <div class="spinner class-loader">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                    <ul class="results"></ul>
                </div>
            </div>
        </div>

        <script type="text/template" id="classTemplate">
            <div class="result-description">
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <img src="<%= imageUrl %>" />
                    </div>
                    <div class="col-xs-12 col-md-8 text-desc">
                        <h2><a href="<%= detailsUrl %>"><%= title %></a></h2>
                        <p><%= subTitle %></p>
                        <a href="javascript:void(0);" class="view-opts" data-course="<%= courseId %>"><span class="plus">+</span>View Upcoming Seminars</a>
                    </div>
                    <li class="spinner location-loader">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </li>
                </div>
            </div>
            <div class="schedule-item-wrap row"></ul>
        </script>

        <script type="text/template" id="locationTemplate">
            <div class="location col-xs-12 col-sm-10 col-sm-offset-1">
                <p><%= cityState %><img src="/assets/images/icon-question.png" class="location-icon" /><span class="tooltip-msg location-msg"><%= locationDetails %></span></p>
            </div>
            <div class="schedule-items-wrap"></div>
        </script>


        <script type="text/template" id="scheduleTemplate">
            <ul class="schedule col-xs-12">
                <li class="col-xs-12 col-sm-2 col-md-2 col-md-offset-1"><%= daysTitle %></li>
                <li class="date col-xs-12 col-sm-3 col-md-2"><%= date%></li>
                <li class="sub-total col-xs-12 col-sm-1 col-md-2">$<span class="item-sub-total"></span><%= price %></li>
                <li class="attendees col-xs-12 col-sm-3 col-md-2"><span class="attendees-label">Attendees:</span><input type="text" name="quantity" class="class-qty"><span class="tooltip-msg attendee-msg">Please enter a quantity.</span></li>
                <li class="col-xs-12 col-sm-3 col-md-3"><a href="javascript:void(0);" class="btn-reg btn-blue-hollow add-to-cart" data-id="<%= id %>">Add to Cart</a></li>
            </ul>
        </script>


        <script type="text/template" id="cartItemTemplate">
            <li class="cart-item">
                <ul class="container">
                    <li class="class-title col-xs-12 col-sm-12 col-md-4"><h4><%= title %></h4></li>
                    <li class="location col-xs-12 col-sm-4 col-md-2"><%= city %></li>
                    <li class="date col-xs-12 col-sm-4 col-md-2"><%= date %></li>
                    <li class="col-xs-12 col-sm-4 col-md-2 remove-wrap">
                        <a href="javascript:void(0);" class="remove" data-theid="<%= theId %>"<span>X</span>Remove</a>
                    </li>
                    <li class="qty-wrap col-xs-12 col-sm-4 col-md-1"><span>Attendees:</span><input type="text" name="quantity" class="class-qty"></li>
                    <li class="sub-total col-xs-12 col-sm-4 col-md-1"></li>
                </ul>
            </li>
        </script>

        <script type="text/template" id="cartNotifyTemplate">
            <div class="container-fluid cart">
                <div class="row cart-top">
                    <div class="container">
                        <div class="col-xs-12">
                            <h3><img src="/assets/images/icon-cart.png" alt="Cart"/>Cart</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <ul id="cart-item-list"></ul>
                </div>

                <div class="cart-bottom row">
                    <div class="container">
                        <div class="col-xs-12 wrap">
                            <p class="cart-empty-msg">Your cart is currently empty.</p>
                            <ul class="cart-total col-xs-12 col-md-4">
                                <li class="items-total">0 Items</li>
                                <li class="cost-total">Total: $<span class="total-cost">0</span></li>
                            </ul>
                            <div class="col-xs-6 col-xs-offset-6 btn-wrapper">
                                <div class="spinner checkout-loader">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                                <a href="javascript:void(0);" class="btn-reg btn-blue-solid" id="check-out">Check Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-visible">
                <a class="cart-tab" href="javascript:void(0);">
                    <img src="/assets/images/icon-cart-tab.png" />
                </a>
                <div class="container">
                    <ul class="cart-total col-xs-12 col-md-4">
                        <li class="items-total">0 Items</li>
                        <li class="cost-total">Total: $<span class="total-cost">0</span></li>
                    </ul>
                </div>
            </div>
        </script>

        <footer>
            <ul class="wrapper">
                <li class="copyright">&copy;TPCTrainco</li>

                <li class="links">
                    <ul>
                        <li><a href="#">Training Seminar Schedule<span>|</span></a></li>
                        <li><a href="#">Instructor Lounge<span>|</span></a></li>
                        <li><a href="#">Privacy Policy<span>|</span></a></li>
                        <li><a href="#">Legal Terms<span>|</span></a></li>
                        <li><a href="#">AR, MA, &amp; NH Residents<span>|</span></a></li>
                        <li><a href="#">Sitemap</a></li>
                    </ul>


                    <ul class="social">
                        <li><a href="#" class="regular-link"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">

                        <path id="facebook-icon" d="M204.067,184.692h-43.144v70.426h43.144V462h82.965V254.238h57.882l6.162-69.546h-64.044

                            c0,0,0-25.97,0-39.615c0-16.398,3.302-22.89,19.147-22.89c12.766,0,44.896,0,44.896,0V50c0,0-47.326,0-57.441,0

                            c-61.734,0-89.567,27.179-89.567,79.231C204.067,174.566,204.067,184.692,204.067,184.692z"/>
                        </svg></a></li>

                        <li><a href="#" class="regular-link"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">

                            <path id="twitter-icon" d="M462,128.223c-15.158,6.724-31.449,11.269-48.547,13.31c17.449-10.461,30.854-27.025,37.164-46.764

                            c-16.333,9.687-34.422,16.721-53.676,20.511c-15.418-16.428-37.386-26.691-61.698-26.691c-54.56,0-94.668,50.916-82.337,103.787

                            c-70.25-3.524-132.534-37.177-174.223-88.314c-22.142,37.983-11.485,87.691,26.158,112.85c-13.854-0.438-26.891-4.241-38.285-10.574

                            c-0.917,39.162,27.146,75.781,67.795,83.949c-11.896,3.237-24.926,3.978-38.17,1.447c10.754,33.58,41.972,58.018,78.96,58.699

                            C139.604,378.282,94.846,390.721,50,385.436c37.406,23.982,81.837,37.977,129.571,37.977c156.932,0,245.595-132.551,240.251-251.435

                            C436.339,160.061,450.668,145.174,462,128.223z"/>

                        </svg></a></li>

                        <li><a href="#" class="regular-link"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"

                             width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">

                        <path id="linkedin-icon" d="M150.65,100.682c0,27.992-22.508,50.683-50.273,50.683c-27.765,0-50.273-22.691-50.273-50.683

                            C50.104,72.691,72.612,50,100.377,50C128.143,50,150.65,72.691,150.65,100.682z M143.294,187.333H58.277V462h85.017V187.333z

                             M279.195,187.333h-81.541V462h81.541c0,0,0-101.877,0-144.181c0-38.624,17.779-61.615,51.807-61.615

                            c31.268,0,46.289,22.071,46.289,61.615c0,39.545,0,144.181,0,144.181h84.605c0,0,0-100.344,0-173.915

                            s-41.689-109.131-99.934-109.131s-82.768,45.369-82.768,45.369V187.333z"/>

                        </svg></a></li>

                        <li><a href="#" class="regular-link"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                            <path id="youtube-icon" d="M129.861,50h24.735l16.933,63.551L187.265,50h24.951l-28.58,94.504v64.486h-24.558v-64.486L129.861,50z
                                 M211.104,179.739c0,20.668,10.8,31.428,31.949,31.428c17.538,0,31.35-11.729,31.35-31.428V122.25
                                c0-18.357-13.674-31.509-31.35-31.509c-19.204,0-31.949,12.691-31.949,31.509V179.739z M233.544,124.184
                                c0-6.419,2.956-11.184,9.081-11.184c6.688,0,9.549,4.622,9.549,11.184v54.555c0,6.385-3.254,11.104-9.122,11.104
                                c-6.022,0-9.508-4.926-9.508-11.104V124.184z M333.349,91.706v89.025c-2.657,3.328-8.569,8.783-12.821,8.783
                                c-4.666,0-5.809-3.186-5.809-7.902V91.706h-21.806v98.029c0,11.586,3.543,20.949,15.232,20.949c6.598,0,15.755-3.433,25.203-14.641
                                v12.947h21.806V91.706H333.349z M301.273,332.134c1.48,1.954,2.22,4.815,2.22,8.583v57.672c0,3.561-0.601,6.127-1.798,7.698
                                c-2.289,2.996-7.246,2.86-10.625,1.149c-1.589-0.8-3.227-2.11-4.916-3.926v-69.607c1.409-1.533,2.835-2.669,4.281-3.403
                                C294.07,328.46,298.762,328.818,301.273,332.134z M371.182,329.604c-7.695,0-9.277,5.415-9.277,13.091v11.307h18.347v-11.307
                                C380.251,335.146,378.65,329.604,371.182,329.604z M434.516,412c0,27.614-22.386,50-50,50H127.484c-27.614,0-50-22.386-50-50
                                V285.684c0-27.615,22.386-50,50-50h257.031c27.614,0,50,22.385,50,50V412z M161.734,295.128h24.195V273.15h-71.778v21.978h24.195
                                v129.44h23.388V295.128z M244.924,312.871h-20.768v84.785c-2.534,3.174-8.163,8.365-12.211,8.365c-4.442,0-5.531-3.033-5.531-7.527
                                v-85.623h-20.768v93.359c0,22.664,15.367,22.803,26.561,16.391c4.141-2.376,8.121-5.839,11.949-10.383v12.33h20.768V312.871z
                                 M324.866,339.459c0-15.15-5.037-27.999-20.247-27.999c-7.416,0-13.779,4.727-18.465,10.437V273.15h-20.97v151.418h20.97v-8.586
                                c5.789,7.219,12.121,9.998,19.725,9.998c13.818,0,18.987-10.733,18.987-24.555V339.459z M401.624,342.901
                                c0-20.188-9.627-32.853-29.55-32.853c-18.734,0-31.543,13.463-31.543,32.853v50.136c0,20.107,10.141,34.557,29.971,34.557
                                c21.884,0,31.122-13.034,31.122-34.557v-8.39h-21.373v7.763c0,9.725-0.511,15.625-9.277,15.625c-8.361,0-9.069-7.246-9.069-15.625
                                v-21.071h39.72V342.901z"/>
                            </svg>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </footer>

    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    	<!-- use modernizr generator for production -->
    	<script type="text/javascript" src="/assets/js/vendor/modernizr-touch.js"></script>

        <!-- ####### NEW  #########-->
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>



        <script type="text/javascript" src="/assets/js/vendor/bootstrap-carousel.js"></script>
        <script type="text/javascript" src="/assets/js/vendor/bootstrap-collapse.js"></script>
        <script type="text/javascript" src="/assets/js/vendor/bootstrap-transition.js"></script>
        <script type="text/javascript" src="/assets/js/vendor/bootstrap-dropdown.js"></script>

        <!-- ####### NEW  #########-->
        <script type="text/javascript" src="/assets/js/vendor/jQDateRangeSlider-withRuler-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>
        <!-- <script src="/js/vendor.js"></script>
        <script src="/js/main.js"></script> -->
        <script type="text/javascript" src="/assets/js/custom/HomePage.js"></script>

        <script type="text/javascript" src="/assets/js/custom/CountUp.js"></script>
        <script type="text/javascript" src="/assets/js/custom/DatePicker.js"></script>
        <script type="text/javascript" src="/assets/js/custom/Catalog.js"></script>
        <script type="text/javascript" src="/assets/js/custom/MainSearchSelect.js"></script>
        <script type="text/javascript" src="/assets/js/custom/TPCapp.js"></script> -->
        <!--<script type="text/javascript" src="/js/cart.js"></script> -->
        <script src="/assets/js/custom/cartApp/models/classModel.js"></script>


        <script src="/assets/js/custom/cartApp/models/scheduleModel.js"></script>
        <script src="/assets/js/custom/cartApp/models/cartItemModel.js"></script>

        <script src="/assets/js/custom/cartApp/models/locationModel.js"></script>


        <script src="/assets/js/custom/cartApp/collections/scheduleCollection.js"></script>

        <script src="/assets/js/custom/cartApp/collections/classCollection.js"></script>
        <script src="/assets/js/custom/cartApp/collections/locationCollection.js"></script>
        <script src="/assets/js/custom/cartApp/collections/scheduleCollection.js"></script>
        <script src="/assets/js/custom/cartApp/collections/cartCollection.js"></script>

        <script src="/assets/js/custom/CheckoutCustomer.js"></script>

        <script src="/assets/js/custom/cartApp/views/locationView.js"></script>
        <script src="/assets/js/custom/cartApp/views/cartItemView.js"></script>
        <script src="/assets/js/custom/cartApp/views/cartNotifyView.js"></script>
        <script src="/assets/js/custom/cartApp/views/classView.js"></script>

        <script src="/assets/js/custom/cartApp/views/singleSeminarView.js"></script>

        <script src="/assets/js/custom/cartApp/views/scheduleView.js"></script>



        <!-- for production:
        <script type="text/javascript" src="/js/main.js"></script> -->

    	<script type="text/javascript">
           var temp;

           $(window).load(function() {
               temp = new TPCApp();
           });
    	</script>
    </body>
</html>
