$mq-tablet-portrait-and-up  : 768px;
$mq-below-tablet-portrait   : 767px;
$screen-md                  : 992px;
$mq-tablet-landscape-and-up : 1025px;
$mq-md-desktop-and-up       : $screen-md;
$mq-lg-desktop              : 1400px;

// Everything above and including the tablet portrait
@mixin tablet-portrait-and-up {
  @media (min-width : $mq-tablet-portrait-and-up) {
    @content;
  }
}

@mixin medium-sizes {
	@media (min-width: $screen-md) { // 992px
		@content;
	}
}


// Sizes below tablet portrait
@mixin below-tablet-portrait {
  @media (max-width : $mq-below-tablet-portrait) {
    @content;
  }
}

// Sizes above and including tablet landscape
@mixin tablet-landscape-and-up {
  @media (min-width : $mq-tablet-landscape-and-up) {
    @content;
  }
}

@mixin med-desktop-and-up {
  @media (min-width : $mq-md-desktop-and-up) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width : $mq-lg-desktop) {
    @content;
  }
}

@mixin retina-screen {
  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        @content;
  }
}
