<div class="register-page">
  <div class="responsive-sidebar-toggle">
    <img class="img-left" src="/assets/images/icon-search.png" alt="Search Icon"/>
    Search By
    <img class="img-right" src="/assets/images/icon-arrow-down.png" alt="Toggle Arrow" />
  </div>
  <div class="container" style="padding-top:80px;">
    <div class="row">
      <div class="col-md-3 register-sidebar">
        <keyword-input></keyword-input>
        <hr class="dark-hr" />
        <filter-topic></filter-topic>
        <hr class="divider"/>
        <div class="filter-location">
          <label class="sidebar-label">City or ZIP</label>
          <input type="search" ng-init="register.locSearchFilter = {}" ng-keydown="register.handleInput($event)" ng-model="register.locSearchFilter.location" placeholder="Enter Location">
          <h5>- or -</h5>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" aria-label="...">All Locations
            </span>
          </div>
        </div>
        <hr class="divider"/>
        <label>Search Within a</label>
        <div range-slider min="0" max="1000" model-min="listing.demo1.min" model-max="listing.demo1.max"></div>
        <hr class="divider"/>
        <label>Date Range</label>
        <h5>From</h5>
        <button type="button" class="btn btn-default" ng-model="selectedIcon" data-html="1" bs-options="icon.value as icon.label for icon in icons" bs-select>
          Action <span class="caret"></span>
        </button>
        <h5>Through</h5>
        <button type="button" class="btn btn-default" ng-model="selectedIcon" data-html="1" bs-options="icon.value as icon.label for icon in icons" bs-select>
          Action <span class="caret"></span>
        </button>
      </div>
      <div class="col-md-9">
        <div ui-view></div>
      </div>
    </div>
  </div>
</div>
