<script type="text/ng-template" id="myModalContent.html">
<div class="modal-header">
<i style="float:right;" class="fa fa-close" ng-click="cancel()"></i>
<h1 class="modal-title">Log in to save this seminar</h1>
</div>
<div class="modal-body">
<form ng-submit="login()">
<div class="form-group">
<label class="form-label">Email</label>
<input class="form-control" ng-model="username" type="text">
</div>
<div class"form-group">
<label class="form-label">Password</label>
<input class="form-control" ng-model="password" type="password">
</div>
<div class="row">
<button class"btn-blue-modal" type="submit">Login</button>
<a href="/dashboard/forgot-password" class="forgotPW">Forgot Password?</a>
</div>
</div>
<div class="modal-footer">
<div class="row">
<p>
  Create an account to save courses, get recommendations, and more.
</p>
</div>
<div class="row">
  <button class"btn-blue-modal" type="submit">Create an Account</button>
</div>
</div>

</script>
