@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<html>
<head>
<link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,400italic" rel="stylesheet" type="text/css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href="/assets/js/dashboard/app.css" rel="stylesheet">
	<link rel="shortcut icon" href="/assets/js/dashboard/favicon.ico">
	    <!--[if lt IE 10]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-sham.min.js"></script>
    <![endif]-->
	</head>
	<body>
	<div id="root" style="height: 100%"></div>
	<script src="/assets/js/dashboard/vendor.js"></script>
	<script src="/assets/js/dashboard/app.js"></script>
	</body>
	</html>