@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc;
@{
    // React.js base Umbraco template page.
    Layout = null;

    Html.RequiresCss("/assets/js/dashboard/app.css");

    Html.RequiresJs("/assets/js/dashboard/vendor.js", 1);
    Html.RequiresJs("/assets/js/dashboard/app.js", 2);
}
<html>
<head>
	    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Maintenance Training with TPC Trainco | TPC Trainco</title>
    <meta name="description" content="Advance as a maintenance professional with electrical courses, HVAC or maintenance training from TPC Trainco. Register now with our money back guarantee." />
    <meta name="keywords" content="" />
    <link rel="canonical" href="https://www.tpctrainco.com/" />
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com/">
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Maintenance Training with TPC Trainco - TPC Trainco" />
    <meta property="og:description" content="Advance as a maintenance professional with electrical courses, HVAC or maintenance training from TPC Trainco. Register now with our money back guarantee." />
    <meta property="og:url" content="http://www.tpctrainco.com/" />
    <meta property="og:site_name" content="TPC Trainco" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Advance as a maintenance professional with electrical courses, HVAC or maintenance training from TPC Trainco. Register now with our money back guarantee." />
    <meta name="twitter:title" content="TPC Trainco training" />
    <meta name="twitter:domain" content="TPC Trainco" />
    <base href="/" />
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link href="/images/favicon.ico" rel="shortcut icon">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

	<link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,400italic" rel="stylesheet" type="text/css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"  rel="stylesheet" type="text/css">
	@Html.RenderCssHere()
	<link rel="shortcut icon" href="/assets/js/dashboard/favicon.ico">
	<!--[if lt IE 10]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-sham.min.js"></script>
    <![endif]-->
</head>
<body>
	<div id="root" style="height: 100%"></div>
	@Html.RenderJsHere()
</body>
</html>