@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";
    IPublishedContent currentPage = Model.Content;
}
<div class="container-fluid headline-section">
    <div class="row">
        <div class="jumbotron">
            <h1>@(currentPage.GetPropertyValue<string>("pageTitle", currentPage.Name))</h1>
        </div>
    </div>
</div>

<div class="container-fluid main-content offline-payment gradient-bg" >
    <div class="container">
        <div class="col-md-12 text-wrap">
            <div class="page-content">
                @Html.Raw(currentPage.GetPropertyValue<string>("mainContent"))
            </div>
        </div>
        <div class="clearfix"></div>
        @Html.Action("Index", "OfflinePayment");
    </div>
</div>