@using TPCTrainco.Umbraco.Extensions
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";

    List<TPCTrainco.Umbraco.Extensions.temp_Reg> cartList = null;
    string cartGuid = null;

    cartGuid = TPCTrainco.Umbraco.Extensions.Objects.Carts.GetCartGuid(Session);

    if (false == string.IsNullOrWhiteSpace(cartGuid))
    {
        TPCTrainco.Umbraco.Extensions.Objects.Carts cartsObj = new TPCTrainco.Umbraco.Extensions.Objects.Carts();

        cartList = cartsObj.GetCart(cartGuid);
    }

    if (cartList == null)
    {
        Response.Redirect("/search-seminars/");
    }
}

<div class="container-fluid register-top summary-top">
    <div class="container">
        <div class="jumbotron">
            @if (!String.IsNullOrEmpty(CurrentPage.pageHeadline))
            {
                <h1>@CurrentPage.pageHeadline</h1>
            }
            else
            {
                <h1>@CurrentPage.name</h1>
            }
            <ul class="indicator">
                <li class="step Registration"></li>
                <li class="line line1"></li>
                <li class="step Payment"></li>
                <li class="line line2"></li>
                <li class="step Review Order"></li>
            </ul>
        </div>
    </div>
</div>

@Html.Action("Index", "CheckoutSummarySurface")

