@using TPCTrainco.Umbraco.Extensions
@using TPCTrainco.Umbraco.Extensions.Models
@using TPCTrainco.Umbraco.Extensions.Objects
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";

    CheckoutDetails checkoutDetails = new CheckoutDetails();
    List<temp_Reg> tempRegList = null;
    string cartGuid = null;
    string registrationId = "";
    string userCreateOption = "";

    if (false == string.IsNullOrEmpty(Request.QueryString["u"]))
    {
        userCreateOption = Request.QueryString.Get("u");
    }

    cartGuid = Carts.GetCartGuid(Session);

    if (false == string.IsNullOrWhiteSpace(cartGuid))
    {
        Carts cartsObj = new Carts();

        tempRegList = cartsObj.GetCart(cartGuid);

        if (Session["RegistrationId"] != null && Session["RegistrationId"].ToString().Length > 0)
        {
            registrationId = Session["RegistrationId"].ToString();
        }

        CartCookies.Remove();
        RegCookies.Remove();
        Session.Abandon();
    }


    if (tempRegList == null)
    {
        Response.Redirect("/search-seminars/");
    }
}

@if (tempRegList != null)
{
    <div class="thanksRegister-container">
        <div class="thanks-container">
            <h1 class="thanks">Thank You!</h1>
            <p class="thanks-body">Emails have been sent to the registrant and attendees.</p>
            @if (false == string.IsNullOrEmpty(registrationId))
            {
                <div class="confirmation-container">
                    <span class="confirmation-number-lead">Confirmation Number:</span>
                    <span class="confirmation-number">#@(registrationId)</span>
                </div>
            }
        </div>

        @if (false == string.IsNullOrEmpty(userCreateOption))
        {
            <div class="registerAccount-container">
                @if (userCreateOption == "1" || userCreateOption == "0")
                {
                    <h2 class="registerAccount-head">Your account has been created.</h2>
                    <p class="registerAccount-body">Please check your email to validate and complete your website account.</p>
                }
                else if (userCreateOption == "-1")
                {
                    <h2 class="registerAccount-head">There was a problem creating your account.</h2>
                    <p class="registerAccount-body">Please try creating your account again..</p>
                    <div class="button-container">
                        <form method="get" action="/dashboard/signup/">
                            <button class="registerAccount-button">Create an account</button>
                        </form>
                    </div>
                }
                else if (userCreateOption == "2")
                {
                    <h2 class="registerAccount-head">Create an account for faster checkout.</h2>
                    <p class="registerAccount-body">Creating an account takes only a few minutes and will save time for future registrations by saving your information.</p>
                    <div class="button-container">
                        <form method="get" action="/dashboard/signup/">
                            <button class="registerAccount-button">Create an account</button>
                        </form>
                    </div>
                }

            </div>
        }
    </div>



    <div class="container-fluid main-content success gradient-bg">
        <div class="container">
            <div class="row">
                <div class="thanksRegister-container">
                    <h1>Thank You for registering for</h1>
                    @foreach (temp_Reg tempReg in tempRegList)
                    {
                        <h2>@tempReg.sem_Title</h2>
                    }
                </div>
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 receipt-links">
                    <p>Emails have been sent to the registrant and attendees.</p>
                    @*<div class="col-xs-12 col-sm-6 col-sm-offset-2">
                            <a href="#" id="print-receipt">Print Receipt</a>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <a href="#" id="email-receipt">Email Receipt</a>
                        </div>*@
                </div>
                <div class="button-wrapper col-xs-12 col-sm-10 col-sm-offset-1">
                    <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                        <a href="/search-seminars/" class="btn-reg btn-first" role="button">View More Seminars</a>
                    </div>
                    <div class="col-xs-12 col-sm-5 second-btn">
                        <a href="/" class="btn-reg btn-blue-hollow" role="button">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
