@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";
}
<div class="container-fluid headline-section">
    <div class="container">
        <div class="jumbotron">
            <h1>Course Catalog</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 catalog-top">
            <p>Craft beer organic Truffaut literally. Skateboard lo-fi narwhal Thundercats. Chillwave letterpress bicycle rights, tote bag tofu umami occupy kogi selfies VHS cardigan. Cray cronut small batch Marfa. Meditation art party ugh chia mumblecore keytar try-hard, cliche fixie mixtape tousled.</p>
            <ul class="col-md-8 col-md-offset-2">
                <li class="col-xs-6 col-md-3"><a href="#electrical" class="regular-link class-category">Electrical</a></li>
                <li class="col-xs-6 col-md-2"><a href="#hvac" class="regular-link class-category">HVAC</a></li>
                <li class="col-xs-6 col-md-3"><a href="#plant" class="regular-link class-category">Plant Management</a></li>
                <li class="col-xs-6 col-md-4"><a href="#mechanical" class="regular-link class-category">Mechanical and Industrial</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Fyin: in this section, the items have additional attributes due to the sorting functionality. -->

<div class="container">
    @*foreach (var seminarCategory in CurrentPage.SeminarCategories)
    {
        var pages = seminarCategory.SeminarItems;
        var allNodesWithTags = pages.Where("tags != \"\"");
        List<string> taglist = new List<string>();
        foreach (var node in allNodesWithTags)
        {
            taglist.AddRange(node.tags.ToString().Replace(" ", "-").Split(','));
        }
        taglist = taglist.OrderBy(q => q).ToList();
        
        <div class="col-xs-12 course-section">
            <div class="row">
                <div class="col-md-9 col-md-offset-1">
                    <h2>@seminarCategory.name</h2>
                    @if (taglist.Count != 0)
                    {
                        <ul class="sort">
                            <li class="current col-xs-6 col-md-2">
                                <a href="#" class="elec-sort-category regular-link" data-category="all">All</a>
                            </li>
                            @foreach (string tag in taglist.Distinct())
                            {
                                <li class="col-xs-6 col-md-3">
                                    <a href="#" class="regular-link" data-category="@tag">@tag.Replace("-", " ")</a>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
    }*@
    <div class="col-xs-12 course-section electric">
        <div class="row">
            <div class="col-md-9 col-md-offset-1">
                <h2 id="electrical">Electrical</h2>
                <!-- different from above -->
                <ul class="sort">
                    <li class="current col-xs-6 col-md-2"><a href="#" class="elec-sort-category regular-link" data-category="all">All</a></li>
                    <li class="col-xs-6 col-md-3"><a href="#" class="elec-sort-category regular-link" data-category="fundamentals">Fundamentals</a></li>
                    <li class="col-xs-6 col-md-3"><a href="#" class="elec-sort-category regular-link" data-category="controls">Controls</a></li>
                    <li class="col-xs-6 col-md-3"><a href="#" class="elec-sort-category regular-link" data-category="power">Power</a></li>
                </ul>
                <!-- end -->
                <p class="elec-description">Craft beer organic Truffaut literally. Skateboard lo-fi narwhal Thundercats. Chillwave letterpress bicycle rights, tote bag tofu umami</p>
            </div>
            <ul class="col-xs-12">
                <li class="seminar-topic col-xs-6 col-md-4" data-type="fundamentals">
                    <a href="#">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/selectall-icon.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Air Conditioning and Refrigeration</p>
                    </a>
                </li>
                <li class="seminar-topic col-xs-6 col-md-4" data-type="fundamentals">
                    <a href="#">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/electrical.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Water Treatment for Boilers, Chillers, &amp; Cooling Towers</p>
                    </a>
                </li>
                <li class="seminar-topic col-xs-6 col-md-4" data-type="controls">
                    <a href="#">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/plantmgmt-icon.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Plant Management</p>
                    </a>
                </li>
                <li class="seminar-topic col-xs-6 col-md-4" data-type="fundamentals">
                    <a href="#">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/hvac-icon.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Water Treatment for Boilers, Chillers, &amp; Cooling Towers</p>
                    </a>
                </li>
                <li class="seminar-topic col-xs-6 col-md-4" data-type="controls">
                    <a href="#">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/mechanical-icon.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Mechanical &amp; Industrial</p>
                    </a>
                </li>
                <li class="seminar-topic col-xs-6 col-md-4" data-type="controls">
                    <a href="#">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/mechanical-icon.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Mechanical &amp; Industrial</p>
                    </a>
                </li>
                <li class="seminar-topic col-xs-6 col-md-4" data-type="fundamentals">
                    <a href="#">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/mechanical-icon.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Mechanical &amp; Industrial</p>
                    </a>
                </li>
                <li class="seminar-topic col-xs-6 col-md-4" data-type="power">
                    <a href="#">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/mechanical-icon.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Mechanical &amp; Industrial</p>
                    </a>
                </li>
                <li class="seminar-topic col-xs-6 col-md-4" data-type="power">
                    <a href="#">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/mechanical-icon.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Mechanical &amp; Industrial</p>
                    </a>
                </li>
                <li class="seminar-topic col-xs-6 col-md-4" data-type="controls">
                    <a href="#">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/mechanical-icon.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Mechanical &amp; Industrial</p>
                    </a>
                </li>
                <li class="seminar-topic col-xs-6 col-md-4" data-type="power">
                    <a href="#">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/mechanical-icon.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Mechanical &amp; Industrial</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 course-section">
        <div class="row">
            <div class="col-md-9 col-md-offset-1">
                <h2 id="hvac">HVAC</h2>
                <p>Craft beer organic Truffaut literally. Skateboard lo-fi narwhal Thundercats. Chillwave letterpress bicycle rights, tote bag tofu umami</p>
            </div>
            <ul class="col-xs-12">
                <li class="seminar-topic col-xs-6 col-md-4">
                    <a href="#">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/selectall-icon.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Air Conditioning and Refrigeration</p>
                    </a>
                </li>
                <li class="seminar-topic col-xs-6 col-md-4">
                    <a href="#">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/electrical.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Water Treatment for Boilers, Chillers, &amp; Cooling Towers</p>
                    </a>
                </li>
                <li class="seminar-topic col-xs-6 col-md-4">
                    <a href="#">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/plantmgmt-icon.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Plant Management</p>
                    </a>
                </li>
                <li class="seminar-topic col-xs-6 col-md-4">
                    <a href="#">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/hvac-icon.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Water Treatment for Boilers, Chillers, &amp; Cooling Towers</p>
                    </a>
                </li>
                <li class="seminar-topic col-xs-6 col-md-4">
                    <a href="#">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/mechanical-icon.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Mechanical &amp; Industrial</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 course-section">
        <div class="row">
            <div class="col-md-9 col-md-offset-1">
                <h2 id="plant">Plant Management</h2>
                <p>Craft beer organic Truffaut literally. Skateboard lo-fi narwhal Thundercats. Chillwave letterpress bicycle rights, tote bag tofu umami</p>
            </div>
            <ul class="col-xs-12">
                <li class="seminar-topic col-xs-6 col-md-4">
                    <a href="#">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/selectall-icon.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Air Conditioning and Refrigeration</p>
                    </a>
                </li>
                <li class="seminar-topic col-xs-6 col-md-4">
                    <a href="#">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/electrical.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Water Treatment for Boilers, Chillers, &amp; Cooling Towers</p>
                    </a>
                </li>
                <li class="seminar-topic col-xs-6 col-md-4">
                    <a href="#">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/plantmgmt-icon.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Plant Management</p>
                    </a>
                </li>
                <li class="seminar-topic col-xs-6 col-md-4">
                    <a href="#">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/hvac-icon.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Water Treatment for Boilers, Chillers, &amp; Cooling Towers</p>
                    </a>
                </li>
                <li class="seminar-topic col-xs-6 col-md-4">
                    <a href="#">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/mechanical-icon.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Mechanical &amp; Industrial</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 course-section">
        <div class="row">
            <div class="col-md-9 col-md-offset-1">
                <h2 id="mechanical">Mechanical and Industrial</h2>
                <p>Craft beer organic Truffaut literally. Skateboard lo-fi narwhal Thundercats. Chillwave letterpress bicycle rights, tote bag tofu umami</p>
            </div>
            <ul class="col-xs-12">
                <li class="seminar-topic col-xs-6 col-md-4">
                    <a href="#">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/selectall-icon.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Air Conditioning and Refrigeration</p>
                    </a>
                </li>
                <li class="seminar-topic col-xs-6 col-md-4">
                    <a href="#">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/electrical.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Water Treatment for Boilers, Chillers, &amp; Cooling Towers</p>
                    </a>
                </li>
                <li class="seminar-topic col-xs-6 col-md-4">
                    <a href="#">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/plantmgmt-icon.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Plant Management</p>
                    </a>
                </li>
                <li class="seminar-topic col-xs-6 col-md-4">
                    <a href="#">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/hvac-icon.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Water Treatment for Boilers, Chillers, &amp; Cooling Towers</p>
                    </a>
                </li>
                <li class="seminar-topic col-xs-6 col-md-4">
                    <a href="#">
                        <div class="overlay-contain">
                            <div class="overlay"></div>
                            <img src="/assets/images/mechanical-icon.jpg" alt="Mechanical + Industrial" />
                        </div>
                        <p>Mechanical &amp; Industrial</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>