@using TPCTrainco.Umbraco.Extensions.Helpers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Base.cshtml";

    IPublishedContent siteSettings = Nodes.Instance.SiteSettings;
    IPublishedContent currentPage = Model.Content;

    IPublishedContent onsitePromo = siteSettings.GetPropertyValue<IPublishedContent>("activePromo");
    IEnumerable<IPublishedContent> activeSeminarList = currentPage.GetPropertyValue<IEnumerable<IPublishedContent>>("activeSeminars");
    IEnumerable<IPublishedContent> userQuoteList = currentPage.GetPropertyValue<IEnumerable<IPublishedContent>>("userQuotes");
}

<div class="container-fluid headline-section">
    <div class="container">
        <div class="jumbotron">
            <h1 id="js-counter-start">We&rsquo;re the best in training</h1>
        </div>
    </div>
</div>

<div class="container-fluid gradient-bg main-content">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-wrap">
            <h2>@(currentPage.GetPropertyValue<string>("pageTitle", currentPage.Name))</h2>
            <p>Gluten-free taxidermy squid jean shorts chambray. Truffaut 8-bit wolf, master cleanse kale chips roof party Thundercats pop-up kitsch American Apparel PBR cray Intelligentsia. Banjo pug Etsy Vice bitters blog, sartorial meh before they sold out. Letterpress sartorial blog seitan crucifix, pug gentrify Marfa. Yr single-origin coffee fingerstache post-ironic farm-to-table. Yr gluten-free Vice taxidermy next level, flannel XOXO banjo butcher. Fashion axe before they sold out Thundercats, tousled scenester mlkshk direct trade Brooklyn blog hoodie shabby chic</p>

            <div class="row" id="count">
                <div class="col-sm-4 col-xs-7 number-callout">
                    <h3 data-num="1">90%</h3>
                    <p>Fewer Accidents</p>
                </div>

                <div class="col-sm-4 col-xs-7 number-callout">
                    <h3 data-num="1">35</h3>
                    <p>Different Seminars</p>
                </div>

                <div class="col-sm-4 col-xs-7 number-callout">
                    <h3 data-num="2">100k</h3>
                    <p>Seminars to Date</p>
                </div>
            </div>

            <p>Gluten-free taxidermy squid jean shorts chambray. Truffaut 8-bit wolf, master cleanse kale chips roof party Thundercats pop-up kitsch American Apparel PBR cray Intelligentsia. Banjo pug Etsy Vice bitters blog, sartorial meh before they sold out. Letterpress sartorial blog seitan crucifix, pug gentrify Marfa. Yr single-origin coffee fingerstache post-ironic farm-to-table. Yr gluten-free Vice taxidermy next level, flannel XOXO banjo butcher. Fashion axe before they sold out Thundercats, tousled scenester mlkshk direct trade Brooklyn blog hoodie shabby chic</p>
            <p>Gluten-free taxidermy squid jean shorts chambray. Truffaut 8-bit wolf, master cleanse kale chips roof party Thundercats pop-up kitsch American Apparel PBR cray Intelligentsia. Banjo pug Etsy Vice bitters blog, sartorial meh before they sold out. Letterpress sartorial blog seitan crucifix, pug gentrify Marfa.</p>
        </div>
    </div>
</div>

@Html.Partial("Promos/OnsitePromo", currentPage);

@Html.Partial("Quotes/UserQuotes", currentPage);