.attendee-input--cart {
  width: 60px;
}
.search-page {
	background-color: $gray-background;
}
.cart-item-list {
  li {
    display: inline-block;
  }
}
.cart {
	z-index: 0;
	display: none;

	h3 {
		@include med-desktop-and-up {
			float: left;
		}
	}
}

.added {
    border: 3px solid $blue;
    color: $blue;

    &:hover {
    	background-color: $white;
    	color: $blue;
    }
}

.cart-empty-msg {
	text-align: center;
	font-size: 18px;
	margin: 0;
}

#cart-item-list {
	padding: 0;
	margin: 0;
}

.cart-items {
	padding-left: 0;
	margin: 0;
	color: $cart-copy;
}

.cart-item {
	width: 100%;
	display: table;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: $white;

	&:nth-child(odd) {
		background-color: $gray-background;
	}

	.col-md-1, .col-md-2, .col-md-4 {
		@include med-desktop-and-up {
			float: none;
		}
	}

	ul {
		margin: 0 auto;
		padding: 0;

		li {
			margin: 15px 0;
			display: table-cell;
			vertical-align: middle;
		}

		h4 {
			font-size: 16px;
		}
	}

	.container {
		margin-right: auto;
	    margin-left: auto;
	    padding-left: 15px;
	    padding-right: 15px;
		display: table;
	}

	.location, .date, .remove-wrap, .qty-wrap, .sub-total {
		@include med-desktop-and-up {
			text-align: center;
		}
	}

	.qty-wrap, .sub-total {
		span {
			@include med-desktop-and-up {
				display: none;
			}
		}
	}

	.qty-wrap {
		span {
			margin-right: 10px;
		}
	}

	&:first-of-type {
		.qty-wrap, .sub-total {
			position: relative;

			&:after {
				display: none;
				@include med-desktop-and-up {
					position: absolute;
					left: 50%;
					top: -62px;
					content: 'Attendees:';
					display: block;
					@include transform(translateX(-50%));
				}
			}
		}

		.sub-total:after {
			content: 'Subtotal';
		}
	}
}

.cart-bottom {
	position: relative;
	background-color: #f2f2f2;

	.btn-reg {
		float: right;
		margin-right: 15px;
		@include med-desktop-and-up {
			margin-right: 0;
		}
	}

	.wrap {
		position: relative;

		.checkout-loader {
			top: 7px;
			@include med-desktop-and-up {
				right: 20px;
				left: auto;
				margin-left: 0;
			}
		}
	}

	.btn-wrapper {
		top: 50%;
		position: absolute;
		margin-top: -13px;
		@include med-desktop-and-up {
			position: relative;
			padding-right: 0;
		}
	}
}

.cart-visible {
	height: 30px;
	position: relative;
	border-bottom: 1px solid $cart-border;
	background-color: #f2f2f2;

	.container {
		margin: 0 auto;
	}

	.cart-total {
		margin: 0;
		display: block;

		.total {
			float: right;
		}

		li {
			display: inline;
		}

		.cost-total {
			float: right;
		}
	}

	&.down .cart-total {
		display: none;
	}
}

.cost-total {
	font-size: 20px;
	font-weight: 500;
	color: $headline-black;
}

.items-total {
	line-height: 1.8;
	margin-right: 25px;
	font-style: italic;
	font-weight: 400;
	@include tablet-portrait-and-up {

	}
}

.cart-tab {
	position: absolute;
	bottom: -20px;
	width: 96px;
	height: 20px;
	left: 50%;
	margin-left: -48px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	background-color: #f2f2f2;
	z-index: 2;
	border-bottom: 1px solid $cart-border;
	border-left: 1px solid $cart-border;
	border-right: 1px solid $cart-border;

	img {
		position: relative;
		top: -10px;
		left: 50%;
		margin-left: -16px;
	}
}

.cart-top {
	background-color: #f2f2f2;
	text-align: center;
	h2 {
		margin: 10px 0;
	}

	img {
		margin: 0 10px 8px 0;
	}
}

.cart-total {
	padding: 0;
	text-align: left;
	@include med-desktop-and-up {
		float: right;
		text-align: right;
		margin: 25px 0 35px;
	}

	li {
		@include med-desktop-and-up {
			display: inline;
			float: none;
		}
	}

	.items {
		font-style: italic;
		@include med-desktop-and-up {
			margin-right: 15px;
		}
	}
}

.total {
	font-weight: 500;
	font-size: 20px;
	margin-left: 5px;
}

.remove {
	color: $red-button;
	@include transition(0.25s);

	&:hover {
		color: $red-button-hover;
		@include transition(0.25s);
	}

	span {
		margin-right: 8px;
		font-size: 14px;
	}
}

.class-qty {
	width: 30px;
	text-align: center;
	border: 1px solid $cart-border;
	border-radius: 2px;
	background-color: #FCFCFC;
}


// the search results + cart items
.empty-message {
	display: block;
	text-align: center;
	margin: 25px 0 60px;
	font-size: 18px;
}
.results-container {
	background-color: $gray-background;
	padding-top: 45px;
	position: relative;
	min-height: 170px;
	// display: none;
}
.results {
	padding: 0;
}

.result-description {
	margin: 15px auto 30px;
	max-width: 1000px;
	position: relative;

	img {
		display: block;
		margin: 10px auto 5px;
		border-radius: 50%;
	}
}

.location {
	position: relative;
	p {
		font-style: italic;
		font-size: 17px;
		font-weight: 400;
		position: relative;
		display: inline-block;
	}
}

.tooltip-msg {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	border-radius: 4px;
	border: 2px solid $blue;
	// display: block;
	position: absolute;
	background: $white;
	width: 60%;
	right: -27px;
	bottom: 50%;
	padding: 7px;
	z-index: 2;
	max-width: 185px;
	text-align: center;
	@include transition(0.25s);
	@include transform (translateY(50%));
	@include tablet-portrait-and-up {
		right: 10px;
	}

	&.showing {
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	}

	&:after, &:before {
		right: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after {
		border-color: rgba(255, 255, 255, 0);
		border-right-color: $white;
		border-width: 10px;
		margin-top: -10px;
	}
	&:before {
		border-color: rgba(245, 0, 0, 0);
		border-right-color: $blue;
		border-width: 13px;
		margin-top: -13px;
	}
}

.location-msg {
	width: 175px;
	left: 116%;

	// @include tablet-portrait-and-up {
	// 	position: relative;
	// 	left: 20px;
	// }
}

.attendee-msg {
	left: 147px;
	padding: 7px 5px;
	@include tablet-portrait-and-up {
		left: -5%;
		right: auto;
	}

	&:after, &:before {
		right: 100%;
		@include tablet-portrait-and-up {
			left: 100%;
		}
	}

	&:before {
		border-left-color: transparent;
		border-right-color: $blue;
		@include tablet-portrait-and-up {
			border-left-color: $blue;
			border-right-color: transparent;
		}
	}

	&:after {
		border-left-color: transparent;
		border-right-color: $white;
		@include tablet-portrait-and-up {
			border-left-color: $white;
			border-right-color: transparent;
		}
	}
}

.location-icon {
	margin: 0 0 3px 10px;
	cursor: pointer;
}

.text-desc {
	background-color: $white;
	position: relative;

	&:after {
		position: absolute;
		content: '';
		width: 100%;
	}
}

.btn-blue-hollow {
	padding: 6px 30px;
	float: left;
}

.schedule {
	display: table;
	width: 100%;
	padding: 12px 0;
	&:nth-child(odd) {
		background-color: $gray-background;
	}

	&:last-child {
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	li {
		margin-top: 15px;
		margin-bottom: 15px;
		@include med-desktop-and-up {
			text-align: center;
		}
	}

	.btn-reg {
		float: none;
		text-align: right;
	}
}

.attendees {
	@include tablet-portrait-and-up {
		text-align: center;
	}
	@include med-desktop-and-up {
		text-align: left;
	}
}

.view-opts {
	position: relative;
	padding-left: 16px;

	&:before {
		content: '+';
		position: absolute;
		left: 0;
		top: -5px;
		font-size: 20px;
	}
}

.red {
	color: $red-button;
	@include transition(0.25s);
	&:hover, &:focus {
		color: $red-button;
	}

	&:before {
		@include transform(rotate(45deg));
		top: -8px;
    	font-size: 24px;
	}
}

.seminar-item {
	background-color: $white;
	border: 1px solid $cart-border;
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 0;
	margin-bottom: 30px;
	position: relative;

	ul {
		padding-left: 0;
	}
}

.attendees-label {
	margin-right: 10px;
}

.spinner {
  position: absolute;
  left: 50%;
  margin-left: -35px;
  width: 70px;
  display: none;
}

.location-loader {
	bottom: -4px;
	display: none;
}

.class-loader {
	top: 50%;
	margin-top: -10px;
}

.checkout-err-msg {
	float: right;
	margin-top: 0;
	color: $red-button-hover;
	font-size: 1.1em;
}

.input-validation-error {
    border: 1px solid $red-input-border !important;
}

.empty-location-msg {
	text-align: center;
	color: red;
	font-size: 20px;
	margin: 20px 0 0;
	display: none;
}

// loading spinner
.spinner > div {
	width: 18px;
	height: 18px;
	background-color: $blue;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% {
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}

.read-only-cart {
	margin-top: 50px;
	@include tablet-landscape-and-up {
		margin-top: 80px;
	}
}
