.select-date-text {
	text-align: center;
	color: $white;
	font-size: 18px;
}

#date-range-slider {
	margin: 30px 0 40px;
}

.month-label {
	text-align: center;
	text-transform: uppercase;
	color: $white;
}

.ui-ruler-scale {
	line-height: 40px;
}

.ui-rangeSlider {
	height: 40px;

	.ui-rangeSlider-innerBar {
		height: 40px;
		margin: 0;
		background: rgba(255, 255, 255, 0.2);
		border-radius: 25px;
		overflow: hidden;
	}

	.ui-rangeSlider-bar {
		height: 40px;
		border-radius: 25px;
		background-color: rgba(228, 79, 77, 0.50);
	}

	.ui-rangeSlider-handle {
		width: 40px;
		height: 40px;
		border-radius: 25px;
		background-color: $red-button;
	}

	.ui-rangeSlider-rightHandle, .ui-rangeSlider-leftHandle {
		text-align: center;
		color: $white;
		padding-top: 10px;
	}
}

.ui-rangeSlider-arrow {
	display: none;
}

.location-select-wrap {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
}