input {
  outline: none !important;
}

.attendee-input {
  width: 50px;
  text-align: center;
}

.cart-btn {
  position: absolute;
  top: -5px;
  right: -120px;
  border: 0;

    @media screen and (max-width: 1370px) {
    position: absolute;
    top: 1px;
    right: 70px;
    border: 0;
    width: 100px;
    font-size: 12px;
  }
}

@include below-tablet-portrait() {
  .btn-blue-solid {
    background-color: #0090c5;
    padding: 5px 24px;
  }
}

.sidebar-h4 {
  color: $body-copy;
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 15px;
  margin-bottom: 0;
}

.sidebar-label {
  color: $headline-black;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

select {
  border: 1px solid #d7d7d7;
  width: 100%;
  height: 35px;
  padding: 6px 9px;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  font-size: 15px;
  line-height: 1.42857;
  color: #555;
  max-width: none!important;
}

hr.dark-hr {
  border-top-color: $cart-border;
  margin-left: -2000px;
  padding-right: 2000px;
}

hr.divider {
  border-top-width: 2px;
}

.register-page {
  background: $gray-background;
  padding-bottom: 80px;
  padding-top: 125px;

  @include medium-sizes {
    background: url('/assets/images/columns-bg.png') center center repeat-y $white;
  }
}

.empty-results {
  margin: 0 auto;
  max-width: 525px;
  padding-top: 35px;

  h3 {
    text-align: left;
    margin-top: 45px;
    margin-bottom: 45px;
    color: $body-copy;
  }
}

.no-results {
  text-align: center;

  h2 {
    color: $red-text;
  }
}

.empty-results-instructions {
  padding: 0 25px;
  margin-bottom: 10px;
}

.empty-results-number {
  @include size(20px, 20px);
  @include corners(50%);
  background: $blue;
  color: $white;
  display: inline-block;
  margin-right: 15px;
  line-height: 20px;
  font-size: 11px;
  text-align: center;
}

.empty-results-tags {
  border-top: 1px solid $cart-border;
  border-bottom: 1px solid $cart-border;
  text-align: center;
  padding: 45px 10px;
  margin: 45px auto;

  li {
    display: inline-block;
    padding: 0 10px;
  }

  a {
    color: $blue;
  }
}

.empty-results-promo {
  text-align: center;
  margin-top: 50px;

  a {
    color: $blue;
  }
}

.register-sidebar {
  padding-top: 35px;
  padding-bottom: 80px;
  display: none;

  @include medium-sizes {
    display: block;
  }
}

.responsive-sidebar-toggle {
  background: #3a3a3a;
  margin-top: 50px;
  color: $white;
  padding: 15px 20px;
  display: block;

  .img-left {
    padding-right: 15px;
  }

  .img-right {
    float: right;
    padding-top: 6px;
  }

  @include medium-sizes {
    display: none;
  }

  .register-sidebar--sm {
    color: $white;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;

    .sidebar-label {
      color: $white;
      padding-top: 3px;
      padding-bottom: 3px;
    }

    .sidebar-h4 {
      color: $white;
    }

    .register-link {
      color: $white;
    }

    rzslider .rz-bar-wrapper {
      background: none!important;
    }

    rzslider .rz-bubble {
      color: $white;
    }
  }
}

.keyword-search {
  padding: 0 0 20px;

  .search-input {
    position: relative;
    font-size: 15px;

    &:after {
      @include size(38px, 100%);
      @include rightCorners(2px);
      position: absolute;
      right: 0;
      top: 0;
      content: ' ';
      display: block;
      background: url('/assets/images/icon-search.png') center center no-repeat $blue;
    }
  }

  input {
    @include corners(2px);
    border: 1px solid $cart-border;
    display: block;
    width: 100%;
    padding: 6px 38px 6px 8px;
    background: $gray-background;
  }
}

.filter-topic {
  .input-group {
    font-size: 14px;
  }

  .input-group input[type=checkbox] {
    @include size(20px, 20px);
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 2px;
  }
}

.filter-location {
  input[type=search] {
    @include corners(2px);
    border: 1px solid $cart-border;
    display: block;
    width: 100%;
    padding: 6px 8px;
    background: $gray-background;
    @include below-tablet-portrait() {
      color: $headline-black;
    }
  }

  h5 {
    color: $headline-black;
    font-size: 15px;
    margin: 15px 0;
  }

  .input-group {
    font-size: 14px;
  }

  .input-group input[type=checkbox] {
    @include size(20px, 20px);
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 2px;
  }
}

.search-results {
  padding-bottom: 80px;
}

.faceted-result {
  @include corners(10px);
  max-width: 750px;
  background-color: $white;
  padding: 20px 25px;
  border: 1px solid $cart-border;
  margin: 25px auto 0;

  @include medium-sizes {
    margin: 25px 0 0 auto;
    max-width: 88%;
  }
}

.result-course-title {
  margin: 0;
}

.result-course-subtitle {
  font-size: 14px;
  color: lighten($body-copy, 15%);
  line-height: 1.6;
  margin-bottom: 20px;
}

.course-img {
  @include corners(50%);
  @include size(75px, 75px);
  display: none;

  @include medium-sizes {
    display: block;
  }
}

.hide-responsive {
  display: none;

  @include medium-sizes {
    display: block;
  }
}

.result-price {
  text-align: center;
  font-size: 20px;
  margin: 2px auto 15px;
  float: right;
  padding-left: 10px;

  @include medium-sizes {
    float: none;
    margin: 10px auto 15px;
    padding-left: 0;
  }
}

.result-table-head {
  background: $gray-background;
  padding: 15px 5px;
  margin-left: -25px;
  margin-right: -25px;
  font-size: 12px;
  font-weight: bold;
  color: $headline-black-on-white;
}

.result-table-body {
  padding: 5px;
  margin-left: -25px;
  margin-right: -25px;
  color: $headline-black;
}

.result-location-row {
  padding: 10px 0 0;

  &:after {
    content: '';
    display: block;
    height: 1px;
    clear: both;
    background: $cart-border;
    margin: 0 15px;
  }

  div {
    padding-bottom: 10px;
  }

  &:last-child:after {
    display: none;
  }
}

.result-attendee-wrapper {
  text-align: right;
}

.result-attendee-input {
  @include corners(2px);
  @include size(35px, 35px);
  max-width: 100%;
  background: $gray-background;
  border: 1px solid $cart-border;
  text-align: center;
}

.result-location {
  span {
    font-style: italic;
    font-size: 16px;
    display: inline-block;

    &:first-child:after {
      content: ',';

      @include medium-sizes {
        display: none;
      }
    }

    @include medium-sizes {
      width: 48%;
    }
  }

  span.date-responsive {
    width: 100%;
    font-style: normal;

    @include medium-sizes {
      display: none;
    }
  }
}

.result-date {
  display: none;

  @include medium-sizes {
    display: block;
  }

  span {
    font-size: 12px;
    color: lighten($body-copy, 15%);
    display: block;
    padding-top: 10px;
  }
}
//////// Slider specific to this page
.register-page {
  label {
    display: block;
  }
$handleActiveColor: #451aff;
  $handleHoverColor: #fff;
  $labelTextColor: #55637d;
  $handleBgColor: #0db9f0;
  $handleInnerColor: #fff;
  $handleDisabledColor: #d8e0f3;
  $limitLabelTextColor: $labelTextColor;
  $barFillColor: $handleBgColor;
  $barNormalColor: #d8e0f3;
  $ticksColor: $barNormalColor;
  $selectedTicksColor: $barFillColor;
  $ticksWidth: 10px;
  $ticksHeight: 10px;
  $ticksValuePosition: -30px;
  $handleSize: 32px;
  $handlePointerSize: 8px;
  $bubblePadding: 1px 3px;
  $barDimension: 4px;

  rzslider .rz-pointer.rz-active {
    background-color: $handleHoverColor;
  }

  rzslider {
    position: relative;
    display: inline-block;
    width: 100%;
    height: $barDimension;
    margin: 35px 0 15px;
    user-select: none;

    &[disabled] {
      cursor: not-allowed;

      .rz-pointer {
        cursor: not-allowed;
        background-color: $handleDisabledColor;
      }
    }

    .rz-pointer.rz-active {
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
    }

    span {
      position: absolute;
      display: inline-block;
      white-space: nowrap;
    }

    .rz-base {
      width: 100%;
      height: 100%;
      padding: 0;
    }

    .rz-bar-wrapper {
      z-index: 1;
      left: 0;
      box-sizing: border-box;
      width: 100%;
      height: $handleSize;
      margin-top: -$handleSize / 2;
      padding-top: $handleSize / 2;

      &.rz-draggable {
        cursor: move;
      }
    }

    .rz-bar {
      z-index: 1;
      left: 0;
      width: 100%;
      height: $barDimension;
      background: #D9D7D8;

      &.rz-selection {
        z-index: 2;
        background: $barFillColor;
      }
    }

    .rz-pointer {
      z-index: 3;
      top: -8px;
      width: $handleSize;
      height: $handleSize;
      cursor: pointer;
      background: white;
      border: 1px solid #ccc;
      cursor: pointer;
      display: inline-block;
      width: 20px;
      height: 20px;
      position: absolute;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
      background-size: 100%;
      box-shadow: 0 0 8px rgba(0, 0, 0, .3);
      border-radius: 50%;

      &:hover:after {
        background-color: $handleHoverColor;
      }

      &.rz-active:after {
        background-color: $handleInnerColor;
      }
    }

    .rz-bubble {
      bottom: $handleSize/2;
      padding: $bubblePadding;
      cursor: default;
      color: $labelTextColor;

      &.rz-selection {
        top: $handleSize/2;
      }

      &.rz-limit {
        color: $limitLabelTextColor;
      }
    }

    .rz-ticks {
      position: absolute;
      z-index: 1;
      top: -($ticksHeight - $barDimension) / 2;
      left: 0;
      display: flex;
      box-sizing: border-box;
      width: 100%;
      height: 0;
      margin: 0;
      padding: 0 ($handleSize - $ticksWidth) / 2;
      list-style: none;
      justify-content: space-between;

      .tick {
        width: $ticksWidth;
        height: $ticksHeight;
        cursor: pointer;
        text-align: center;
        border-radius: 50%;
        background: $ticksColor;

        &.selected {
          background: $selectedTicksColor;
        }

        .tick-value {
          position: absolute;
          top: $ticksValuePosition;
          transform: translate(-50%, 0);
        }
      }
    }
  }
}
