.sitemap {
	padding-top: 60px;
	padding-bottom: 60px;
	ul {
		padding: 0;
	}
}

.sitemap-section {
	margin-bottom: 30px;
	h2 {
		margin-bottom: 0;
	}
	ul {
		margin-top: 0;
	}
	li {
		margin: 12px 0;
	}
}