// universal styles shared across the site.
// sticky footer style
html {
  overflow-x: hidden;

  @include tablet-portrait-and-up {
    position: relative;
    min-height: 100%;
  }
}

#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
}

.hidden {
  display: none;
}

body {
  color: $body-copy;
  font-weight: 400;
  overflow-x: hidden;
  // sticky footer styles
  @include tablet-portrait-and-up {
    margin-bottom: 230px;
  }

  @include tablet-landscape-and-up {
    margin-bottom: 80px;
  }
}

ul {
  list-style: none;
}

.affix {
  top: 0!important;
  width: 100%;
}

a:hover,
a:focus,
a:active,
.view-opts {
  text-decoration: none;
  color: $blue;
}

.view-opts {
  cursor: pointer;
  color: #337ab7;

  &:hover {
    color: $blue;
  }
}

h2,
h3,
h4 {
  font-weight: 400;
  color: $headline-black-on-white;
}

button {
  border: none;
}

.navbar-lower {
  margin-top: 80px;
}
// the red pill-shaped buttons w/hover state. just add this class
.btn-reg {
  background-color: $red-button;
  color: $white;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 600;
  position: relative;
  @include transition(background-color 0.25s);

  &:hover {
    color: $white;
    text-decoration: none;
    background-color: $red-button-hover;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid $red-button;
    z-index: 1;
    border-radius: inherit;
    opacity: 0;
    @include transform(scale3d(0.6, 0.6, 1));
    @include transition-transform(0.25s, opacity 0.25s ease);
  }

  &:hover:before {
    @include transform(scale3d(1.04, 1.15, 1));
    opacity: 1;
  }

  &:focus {
    text-decoration: none;
    color: $white;
  }
}
// the hollow buttons. .btn-white must be used with the .btn-reg class!
.btn-white {
  background-color: transparent;
  border: 3px solid $white;
  padding: 8px 37px;
  z-index: 2;

  &:hover {
    color: $headline-black;
    text-decoration: none;
    background-color: $white;
  }

  &:before {
    background-color: $white;
    border: none;
    z-index: -1;
  }
}
// same as the white button, but blue
.btn-blue-hollow {
  background-color: transparent;
  padding: 10px 37px;
  border: 3px solid $blue;
  color: $blue;

  &:hover {
    color: $white;
    text-decoration: none;
    background-color: $blue;
  }

  &:before {
    background-color: $blue;
    border: none;
    z-index: -1;
  }

  &:focus {
    color: $white;
  }

  &:hover:focus {
    color: $blue;
    background-color: $white;
  }
}

.btn-blue-solid {
  background-color: $blue;
  padding: 6px 24px;

  &:hover {
    background-color: #00AAFF;
  }

  &:before {
    border: 3px solid $blue;
  }
}

.btn-share {
  padding: 5px 24px;
}

.popover {
  border-radius: 10px;
  box-shadow: none;
}

.popover.bottom {
  width: 210px;
  left: -35px;
  margin-top: 18px;
}

.popover-content {
  padding: 8px 14px 3px;

  .social {
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      display: inline;
      margin: 0 6px;
    }
  }

  .regular-link:hover {
    > svg {
      @include transition(0.25s);
      fill: $blue;
    }
  }

  .regular-link svg {
    width: 30px;
    height: 30px;

    &:active {
      fill: darken($blue, 15%);
    }
  }
}

.social-email {
  float: right;
  margin-top: 3px;
  margin-right: 5px;
}
// offwhite sections have the slightly gray background color
.offwhite-section {
  background-color: $gray-background;
}

.gradient-bg {
  background: rgba(249,249,249,1);
  background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249,249,249,1)), color-stop(0%, rgba(249,249,249,1)), color-stop(35%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(249,249,249,1) 0%, rgba(241,241,241,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ffffff', GradientType=0 );
}

.carousel {
  .container {
    margin: 0;
  }
}
// end .btn-white
// a link with the underline border on hover
.regular-link {
  position: relative;
  overflow: hidden;
  // -webkit-tap-highlight-color: $blue;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  @include transform(translateZ(0));
  @include backface-visibility(hidden);

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 10px;
    right: 100%;
    bottom: 0;
    background: $white;
    height: 3px;
    @include transition-property(right);
    @include transition-duration(0.3s);
    @include transition-timing-function(ease-out);

    @include tablet-landscape-and-up {
      left: 10px;
    }
  }

  &:hover {
    color: $white;
  }

  &:hover:before {
    right: 6%;
  }

  &:active {
    color: darken($white, 15%);
  }
}

.nav-link {
  &:before {
    background: $blue;
    left: 0;
  }

  &:hover:before {
    right: 0;
  }

  &:hover {
    background-color: $nav-hover-bg !important;
    @include transition(0.25s);
  }
}
// the main h2s
.callout-headline {
  position: relative;

  @include tablet-landscape-and-up {
    @include font-headline($headline-size, $headline-black);
  }

  &:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -15px;
    width: 125px;
    height: 1px;
    background-color: $body-copy;
  }
}

.jumbotron {
  margin: 80px auto 40px;

  h1 {
    display: inline-block;
    position: relative;
    font-weight: 300;

    &:after,
    &:before {
      display: none;

      @include tablet-landscape-and-up {
        display: block;
        position: absolute;
        content: '';
        top: 55%;
        width: 60px;
        height: 1px;
        margin-top: -1px;
        background-color: $white;
      }
    }

    &:before {
      left: -80px;
      right: auto;
    }

    &:after {
      right: -80px;
      left: auto;
    }
  }
}

.alert {
  padding: 8px 35px 8px 14px;
  margin: 18px;
  color: #c09853;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.alert-heading {
  color: inherit;
}

.alert-success {
  color: #17581a;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
  color: #700000;
  background-color: #f2dede;
  border-color: #eed3d7;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
ul.pagination-btn-wrapper li {
  display: inline-block;
  margin-left: 125px;

}
.pagination-length {
  text-align: center;
}
.btn-pagination {
  /* Rectangle 190 Copy 8: */
  background: #FFFFFF;
  border: 1px solid #D6D6D6;
  border-radius: 2px;
  width: 109px;
  height: 33px;
  font-size: 16px;
  color: #5C5C5C;
  line-height: 19px;
}

.additional-showing {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  color: $blue;
}

// .btn-pagination-left {
// }
//
// .btn-pagination-right {
// }
