@mixin font-headline($size, $color) {
  font-weight: 300;
  font-size: $size;
  color: $color;
}

@mixin font-italic($size, $color) {
  font-weight: 700;
  font-size: $size;
  font-style: italic;
  color: $color;
}

@mixin transform($var...){
    -webkit-transform: $var;
    -moz-transform: $var;
    -ms-transform: $var;
    -o-transform: $var;
    transform: $var;
}