@mixin font-headline($size, $color) {
  font-weight: 300;
  font-size: $size;
  color: $color;
}

@mixin font-italic($size, $color) {
  font-weight: 700;
  font-size: $size;
  font-style: italic;
  color: $color;
}